<div class="dbk {{project?.project_variation_type}}">
	<div class="row">
		  <div class="col-lg-12 col-md-12">
			  <div class="dbk-box">
			  	<p>A comprehensive scan of what employee are saying about your organisation on social media.</p>
				  <div class="dbkb-head">
					  <h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
				  </div>
				  <div class="dbkb-body">
					  <p  [innerHTML]="project?.pskc.executiveSummary" style="text-align: left"></p>
				  </div>
			  </div>
		  </div>
	  </div> 
	    
	  <div class="row">
		  <div class="col-lg-3 col-md-3 col-sm-3 col-12 border-right dotted">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-12">
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title text-center"><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>OVERALL RATING</h6>
							</div>
							<div class="dbkb-body orclass" title="{{project?.pskc.opinion_index}}" style="    height: 120px;">
	                           <div id="speedometer">
								  <span class="barometer" style="background-image: url(assets/images/smilygroup.png);"></span>
								  <span class="needle"></span>
								  <span><p class="orvalues text-white bold">{{project?.pskc.opinion_index}}</p></span>
								</div>
	                         </div>
	                         <p>Receptiveness to change</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12" >
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATISTICS</h6>
							</div>
							<div class="dbkb-body">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-6">
											<span class=" float-left key_statistics_width"><p class="key_statistics"><strong [CountTo]="project?.pskc.review" [from]="0" [duration]="1"></strong></p><p class="key_statistics_lable ">Rewiews</p></span>
										</div>
										<div class="col-lg-6 col-md-6 col-6">
											<span class="float-left key_statistics_width" style="margin-left: -10px;"><p class="key_statistics"><strong [CountTo]="project?.pskc.interview" [from]="0" [duration]="1"></strong></p><p class="key_statistics_lable">Interviews</p></span>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<div class="ceo_approval-ppk">
												<p class="ptag pros-title"><fa-icon [icon]="['far', 'clipboard']"></fa-icon> Leadership Sentiment</p>
												<p class="angular-with-newlines ptag"><span [CountTo]="project?.pskc.ceo_approval" [from]="0" [duration]="1"></span>% of employees approve of the CEO's performance</p>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12" >
											<div class="fri_recommend">
												<p class="ptag pros-title"><fa-icon [icon]="['far', 'thumbs-up']"></fa-icon> Recommend to a Friend</p>
												<p class="angular-with-newlines ptag"><span [CountTo]="73" [from]="0" [duration]="1"></span>%  of people are likely to recommend to a friend</p>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>


		  </div>
		  <div class="col-lg-9 col-md-9 col-sm-9 col-12">
			<div class="row inner-dash-right-panel" >
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
						</div>
						<div class="dbkb-body">
							<div class="rcs">
								<div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.pskc[rc.prop] < 2, 'yellow':  project?.pskc[rc.prop] >= 2 && project?.pskc[rc.prop] < 4, 'green':  project?.pskc[rc.prop] >= 4}" >
									<div class="rc-val"><div class="rc-num">{{project?.pskc[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
									<div class="rc-case" >
											<div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
											<div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
									</div>
									<div class="rc-label">{{rc.label}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mbl-ipad">
					<div class="col-12">
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>COMPANY INSIGHTS</h6>
							</div>
							<div class="dbkb-body">
								<div class="row">
									<div class="col-lg-6 col-md-6">
										<div class="pros-div text-left" >
											<div class="pros-title">PROS</div>
											<div class="procon-item"> Flexible timing with supportive staff</div>
											<div class="procon-item">Organizational Ethos and Work Culture</div>
											<div class="procon-item">Pain holidays and Vacations </div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="cons-div text-left">
											<div class="cons-title">CONS</div>
											<div class="procon-item">Lack of professional culture</div>
											<div class="procon-item">HR policies are well defined but seldom implemented </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		  </div>
	  </div>
  </div>
