<block-ui></block-ui>
<div class="db">
  <app-header></app-header>
  <div class="container">
    <div class="row navhead">
        <h3>Admin Console</h3>
    </div>
    <div class="navs">
        <div class="row navrow">
        	<div class="col-md-12"> 
        		<div class="card">
        			<ul class="nav nav-tabs" role="tablist">
        				<li role="presentation" class="nav-link col-6" [ngClass]="{'active': orgTab === 'allOrg'}" (click)="switchOrgTab('allOrg')">
        					<a  aria-controls="home" ><i class="fa fa-home"></i>  <span>All Organizations List</span></a>
        				</li>
        				<li role="presentation" class="nav-link col-6" [ngClass]="{'active': orgTab === 'reqOrg'}" (click)="switchOrgTab('reqOrg')">
        					<a  aria-controls="profile" ><i class="fa fa-user"></i>  <span>Organization Request List</span></a>
        				</li>
        			</ul>
        			<!-- Tab panes -->
        			<div [hidden]="orgTab === 'reqOrg'" >
        				<div class="table-responsive">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Organization Name</th>
                                        <th scope="col">Organization Type</th>
                                        <th scope="col">Employee Count</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="activeorg?.length > 0">
                                    <tr  *ngFor="let org of activeorg;let i = index">
                                        <td scope="row">{{i+1}}</td>
                                        <td>{{org.org_name}}</td>
                                        <td>{{org.org_type}}</td>
                                        <td>{{org.emp_count}}</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="activeorg.length === 0">
                                    <tr colspan="4">
                                        <td>No Data Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
        			</div>
        			<div [hidden]="orgTab === 'allOrg'" >
        				<div class="table-responsive">
                            <table class="table table-sm  table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Organization Name</th>
                                        <th scope="col">Organization Type</th>
                                        <th scope="col">Employee Count</th>
                                        <th scope="col">Contact Person Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="orgrequest.length > 0">
                                    <tr  *ngFor="let rorg of orgrequest;let j = index">
                                        <td scope="row">{{j+1}}</td>
                                        <td>{{rorg.org_name}}</td>
                                        <td>{{rorg.org_type}}</td>
                                        <td>{{rorg.emp_count}}</td>
                                        <td>{{rorg.contact_person}}</td>
                                        <td><span *ngIf="rorg.status === '2'">Pending</span></td>
                                        <td><button *ngIf="rorg.status === '2'" type="button" class="btn btn-info btn-sm" (click)="approveRequest(rorg)">Approve</button></td>
                                    </tr>
                                 </tbody>
                                 <tbody *ngIf="orgrequest.length == 0">
                                    <tr colspan="7">
                                        <td>There are no request to show</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
  </div>
</div>