.angular-with-newlines{
	white-space: pre-wrap;
}
.dbk{
	padding: 0px 30px;
}
.executive-summary-div {
	margin-bottom: 10px;
	white-space: pre-wrap;
}
.procon-item {
	border-bottom: 1px dotted #ddd;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.progress-bar-div {
	max-width: 19.666667%;
	padding-left: 5px;
	padding-right: 5px;
	white-space: pre-wrap;
}

.pros-div, .cons-div {
	white-space: pre-wrap;
	background-color: #fff;
	padding: 10px;
	height: 263px;
}

.pros-title, .cons-title {
	margin-bottom: 10px;
	text-align: left; color:#8b79dd;
	font-weight: 700;
}

.content-div {
	padding: 0px 15px;
}


.pplorgscore{
	width: auto;
	margin: auto; 
	height: 120px;
	display: inline-block;
}
.pplorgscore .orgscore1{
	width: 80px;
	margin: auto 5px;
	height: 120px;
	display: inline-block;
	float: left;
}
.pplorgscore .orgscore{
	width: 90px;
	margin: auto 5px;
	height: 120px;
	display: inline-block;
	float: left;
}
.orgscore .orgscore_lbl{
	font-size: 10px;margin-bottom: 0px;
}
.pplorgscore .orgscore .orgscorediv{
	width: 100%;
	margin: auto 5px;
	height: 120px;
	cursor: pointer;
	background: #fff;
}
.pplorgscore .orgscore .orgscore_startdiv{
	width: 100%;
	margin: auto 5px;
	height: 120px;
}
.pos_text_bottom{
	bottom: 0;
	left: 35%;
	margin-bottom: 0px;
}

.mood_index{
	height: 200px;
	padding: 23px 40px;
	background-color: #e7e5e6;
}
.moodindex{
	height: 200px;
	background-color: #e7e5e6;
}
.mood_index .mi_circle {
	border:2px solid #8d7dde;
	height: 130px;
	border-radius: 50%;
}

.moodindex .mi_circle{
	font-size: 4.5rem;
	padding: 2%;
	color: #00000047;
	margin: 20px auto;
	border: 3px solid #8d7dde;
	border-radius: 50%;
	width: 62%;
	background-color: white;
}
.moodindex_indicator{
	float: left;
	width: 19%;
	padding: 2px;
}
.demographics_mi_parent{
	width: 60%;
	margin: 0 auto;
	padding: 15px 0px;
}
.demographics_mi{
	float: left;
	width: 19%;
	padding: 2px;
}


.moodindex_indicator p{
	margin-bottom: 1px;
}
.cardheader{
	padding: .2rem 1rem;
	background-color: #8b79dd;
	color: #fff;
}

.ndlimg {
	animation: rotation 8s infinite linear;
	transform-origin: bottom right; 
	transform: rotate(45deg);
}
.moodindex-no{
	font-size: 12px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.moodindex-top-text{
	height: 50px;width:20%;white-space: pre-wrap;font-size: 9px;text-align: center;color: white;position: relative;
}

#speedometer {
	display: inline-block;
	position: relative;
}

#speedometer .barometer {
	/*background-image: url("https://svgshare.com/i/GAZ.svg");*/
	background-repeat: no-repeat;
	background-size: 98%;
	background-color: #e5dede;
	background-position: top;
	width: 110px;
	height: 110px;
	margin-bottom: -10px;
	display: inline-block;
	border-radius: 51%;
	border: 8px solid #e5dede;
}
.orvalues{
	position: absolute;
	bottom: -21px;
	left: 41px;
	background-color: darkgray;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 4px 0px;
}
#speedometer .needle {
	background-image: url("https://svgshare.com/i/GBP.svg");
	background-repeat: no-repeat;
	z-index: 999999;
	width: 110px;
	height: 110px;
	display: inline-block;
	left: 0px;
	top: 17px;
	position: absolute;
	bottom: 5px;
	animation:
	change 5s linear,
	loop 1s linear 5s infinite alternate;
	transform-origin:50% calc(56% - 8px) ;
}
@keyframes change {
	0% {
		transform:rotate(-45deg);
	}
	50% {
		transform:rotate(-35deg);
	}
	70% {
		transform:rotate(-15deg);
	}
	100% {
		transform:rotate(0deg);
	}
}
@keyframes loop {
	0% {
		transform:rotate(-5deg);
	}
	100% {
		transform:rotate(0deg);
	}
}


#speedometer_mi {
	display: inline-block;
	position: relative;
}

#speedometer_mi .barometer_mi {
	/*background-image: url("https://svgshare.com/i/GAZ.svg");*/
	background-repeat: no-repeat;
	background-size: 100%;
	width: 200px;
	height: 200px;
	margin-bottom: -10px;
	display: inline-block;
	border-radius: 51%;
}
.sentiment{
	width: 87%;margin: 6px;
}
.orvalues_mi{
	position: absolute;
	bottom: -18px;
	left: 41px;
	background-color: darkgray;
	border-radius: 50%;
	width: 27px;
	height: 27px;
	padding: 3px;
}
.orclass{
	height: 120px;
}
#speedometer_mi .needle_mi {
	background-image: url("https://svgshare.com/i/GBP.svg");
	background-repeat: no-repeat;
	z-index: 999999;
	width: 200px;
	height: 200px;
	display: inline-block;
	left: 0px;
	top: -3px;
	position: absolute;
	bottom: 5px;
	animation: change_mi 5s linear,
	loop_mi 1s linear 5s infinite alternate;
	transform-origin:50% calc(56% - 8px) ;
}
@keyframes change_mi {
	0% {
		transform:rotate(-90deg);
	}
	50% {
		transform:rotate(-65deg);
	}
	70% {
		transform:rotate(-45deg);
	}
	100% {
		transform:rotate(-30deg);
	}
}
@keyframes loop_mi {
	0% {
		transform:rotate(-25deg);
	}
	100% {
		transform:rotate(-30deg);
	}
}


@media screen and  (min-width: 320px) and (max-width: 359px) {
	.orgscore{
		width: 28% !important;

	}
	.part{
		padding: 0px;
	}
	.age-font{
		font-size: 22px;
		padding: 0px;
	}
	.orgscore1{
		width: 70px !important;

	}
	.labrl{
		font-size: 6px;
	}
	.sentiment{
		width: 100% !important;
		margin: 8px;
	}
	.pulse-mobile{
		height: 350px !important;
	}
	#orgscore{
		margin-top: 50px !important;
	}
	.mood_index{
		height: 200px;
		padding: 23px 40px;
		background-color: #e7e5e6;
	}
	.moodindex{
		height: 149px;
		width: 88px;
		background-color: #e7e5e6;
	}
	.mood_index .mi_circle {
		border:2px solid #8d7dde;
		height: 130px;
		border-radius: 50%;
	}

	.moodindex .mi_circle{
		font-size: 2.0rem;
		padding: 2%;
		color: #00000047;
		margin: 20px auto;
		border: 3px solid #8d7dde;
		border-radius: 50%;
		width: 75%;
		background-color: white;
	}
	.age-mbl {
		margin-top: 20px;
		flex: 0 0 50%;
		max-width: 32% !important;
	}
	.bold-mbl{
		margin-top: 20px;

	}
	.orgscore .orgscore_lbl{
		font-size: 9px;margin-bottom: 0px;
	}
	.mibox{
		height:200px;
		width: 285px;
	}
	#speedometer_mi {
		display: inline-block;
		position: relative;
	}

	#speedometer_mi .barometer_mi {
		background-repeat: no-repeat;
		background-size: 100%;
		width: 240px;
		height: 200px;
		margin-bottom: -10px;
		display: inline-block;
		border-radius: 51%;
	}
	.orclass-mobile{
		height: 145px !important;
	}
	.sentiment{
		width: 88%;margin: 8px;
	}
	.space{
		margin-top: 20px;
	}
	.orvalues_mi{
		position: absolute;
		bottom: -18px;
		left: 41px;
		background-color: darkgray;
		border-radius: 50%;
		width: 27px;
		height: 27px;
		padding: 3px;
	}
	#speedometer_mi .needle_mi {
		background-image: url("https://svgshare.com/i/GBP.svg");
		background-repeat: no-repeat;
		z-index: 999999;
		width: 280px;
		height: 280px;
		display: inline-block;
		left: 0px;
		top: -3px;
		position: absolute;
		bottom: 5px;
		animation: change_mi 5s linear,
		loop_mi 1s linear 5s infinite alternate;
		transform-origin:50% calc(56% - 8px) ;
	}
	@keyframes change_mi {
		0% {
			transform:rotate(-90deg);
		}
		50% {
			transform:rotate(-65deg);
		}
		70% {
			transform:rotate(-45deg);
		}
		100% {
			transform:rotate(-30deg);
		}
	}
	@keyframes loop_mi {
		0% {
			transform:rotate(-25deg);
		}
		100% {
			transform:rotate(-30deg);
		}
	}


}

@media screen and  (min-width: 360px) and (max-width: 480px) {
 .orgscore{
	width: 28% !important;

}

.age-font{
	font-size: 22px;
	padding: 0px;
}
.labrl{
	font-size: 6px;
}
.pulse-mobile{
	height: 350px !important;
}
#orgscore{
	margin-top: 50px !important;
}
.mood_index{
	height: 200px;
	padding: 23px 40px;
	background-color: #e7e5e6;
}
.moodindex{
	height: 149px;
	width: 88px;
	background-color: #e7e5e6;
}
.mood_index .mi_circle {
	border:2px solid #8d7dde;
	height: 130px;
	border-radius: 50%;
}

.moodindex .mi_circle{
	font-size: 2.0rem;
	padding: 2%;
	color: #00000047;
	margin: 20px auto;
	border: 3px solid #8d7dde;
	border-radius: 50%;
	width: 75%;
	background-color: white;
}
.age-mbl {
	margin-top: 20px;
	flex: 0 0 50%;
	max-width: 32% !important;
}
.bold-mbl{
	margin-top: 20px;

}
.orgscore .orgscore_lbl{
	font-size: 9px;margin-bottom: 0px;
}
.mibox{
	height:200px;
	width: 285px;
}
#speedometer_mi {
	display: inline-block;
	position: relative;
}

#speedometer_mi .barometer_mi {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 262px;
	height: 200px;
	margin-bottom: -10px;
	display: inline-block;
	border-radius: 51%;
}
.orclass-mobile{
	height: 145px !important;
}
.sentiment{
	width: 88%;margin: 8px;
}
.space{
	margin-top: 20px;
}
.orvalues_mi{
	position: absolute;
	bottom: -18px;
	left: 41px;
	background-color: darkgray;
	border-radius: 50%;
	width: 27px;
	height: 27px;
	padding: 3px;
}
#speedometer_mi .needle_mi {
	background-image: url("https://svgshare.com/i/GBP.svg");
	background-repeat: no-repeat;
	z-index: 999999;
	width: 280px;
	height: 280px;
	display: inline-block;
	left: 0px;
	top: -3px;
	position: absolute;
	bottom: 5px;
	animation: change_mi 5s linear,
	loop_mi 1s linear 5s infinite alternate;
	transform-origin:50% calc(56% - 8px) ;
}
@keyframes change_mi {
	0% {
		transform:rotate(-90deg);
	}
	50% {
		transform:rotate(-65deg);
	}
	70% {
		transform:rotate(-45deg);
	}
	100% {
		transform:rotate(-30deg);
	}
}
@keyframes loop_mi {
	0% {
		transform:rotate(-25deg);
	}
	100% {
		transform:rotate(-30deg);
	}
}
.part{
	padding: 0px;
}

}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.ipad-view{
		max-width: 42% !important;
		flex: 0 0 42%;
	}
	.orgscore{
		width: 14% !important;
	}

	.abc{
		margin-top: 10px;
	}

	.moodindex .mi_circle {
		font-size: 2.5rem;
	}

}
@media (min-width: 768px) and (max-width: 1024px) {
	.ipad-view{
		max-width: 42% !important;
		flex: 0 0 42%;
		margin-bottom: 20px;
	}
	.orgscore{
		width: 14% !important;

	}
	.pplorgscore .orgscore1{
		width: 35px;
	}
	.abc{
		margin-top: 10px;
	}
	.moodindex .mi_circle {
		font-size: 2.5rem;
	}
}

@media screen and  (min-width: 768px) and (max-width: 1366px) {
	.sentiment {
		width: 94%;
	}
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	.sentiment{
		width: 100%;
	}
}