<block-ui></block-ui>
<div class="sv" [ngClass]="{'ins': surveyView !== 'survey'}">
	<div class="svhead row w-75 shadow" >
		<div  class="dlp-ologo col-2  p-2">
			<img  *ngIf="survey?.user_source === 'VI'" src="assets/images/mna-login-banner.jpg" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" />
			<img *ngIf="survey?.user_source !== 'VI'" src="assets/images/culturelytics_logo.jpg" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" />
		</div>
		<div class="row col-8 pr-0">
			<div class="col-lg-12 col-md-12 page-heading">
				<h2 *ngIf="survey?.user_source === 'VI'" class="survey_heading_fnt pt-3">Role of Culture in M&A transactions</h2>
				<h2 *ngIf="survey?.user_source !== 'VI'" class="survey_heading_fnt pt-3">Decode your Culture</h2>
			</div>
		</div>
		<div [hidden]="surveyView !== 'survey' || survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null" class="dlp-ologo col-2 text-right p-2"><img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" /></div>
	</div>
<div class="svbody overflow-auto">
	<div class="svins cscroll" [hidden]="surveyView !== 'intro' && surveyView !== ''" style="padding: 0px;">
		<!--<div class="svins-title"><fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>{{survey?.projectTitle}}</div>-->
		<div class="svins-lp height-auto">
			<div class="svins-title dlp-ologo" >
				<img  *ngIf="survey?.user_source === 'VI'" src="assets/images/mna-login-banner.jpg" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" style="height: 100%;" />
				<img *ngIf="survey?.user_source !== 'VI'" src="assets/images/culturelytics_logo.jpg" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}"  style="height: 100%;" />
			</div>
			<div class="svins-body cscroll" >
				<div class="svins-rpbdy"><img class="img-fluid" src="assets/images/datalake/Datalake_research.png"  /></div>
			</div>
			<div class="p-4 text-left">
				<div class="important-note">
					<p><strong>Important Note: </strong> Please do not press back button while taking the survey.</p>
				</div>
			</div>
		</div>
		<div class="svins-rp height-auto" style="background-color: #e4e4e4 !important">
			<div class="svins-title dlp-ologo" style="text-align: right;" [hidden]="survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null">
				<img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" style="height: 100%;" title="{{survey?.projectTitle}}" />
			</div>
			<div class="svins-ins" *ngIf="survey !== undefined && survey?.instructions !== undefined">
				<ol>
					<li *ngFor="let ins of survey?.instructions">{{ins}}</li>
				</ol>
			</div>
			<div class="svins-inshead text-justify p-4" >
				<h3 style="color: #8b79dd;">CULTURE SURVEY</h3>
				<h5 style="color: #8b79dd;">Welcome,</h5>
				<p [innerHTML]="survey?.welcomeNote"></p>
			</div>
			<div class="svins-footer text-left pl-4"><button class="btn s-btn" (click)="startSurvey()" title="Continue">Continue</button></div>
		</div>
	</div>

	<div class="svins thanks" [hidden]= "surveyView !== 'athanks'" >
		<div class="svins-lp cscroll">
			<div class="svins-body cscroll">
				<div class="svins-thankshead">Welcome back!</div>
				<div class="svins-ins msg">
					<!-- <div class="s-cl bold" [hidden]="surveyView !== 'thanks'">You have completed the Assessment.</div>
					<div class="p-cl bold" [hidden]="surveyView !== 'athanks'">You have already completed this Assessment. -->
						<H3>CULTURE SURVEY</H3>
				</div>
				<!-- <div class="svins-ins icons">
					<img src="assets/images/survey_thanks_icons.png" style="width:100%">
				</div> -->
				<div style="margin-bottom: 10px; text-align: center; font-size: 16px;" [hidden]="surveyView !== 'athanks'" >Please <a style="color: #007bff; font-size: 18px;" (click)="loadComAssessment();">click here</a> if you are yet to complete the Assessment.</div>
				<!-- <div class="svins-ins">
					Learning has a new way!
				</div>
				<div class="svins-ins">
					<a class="link s-link" title="http://www.e2epeoplepractices.com/register.php" href="http://www.e2epeoplepractices.com/register.php">http://www.e2epeoplepractices.com/register.php</a>
				</div> -->
			</div>
		</div>
		<div class="svins-rp" >
			<div class="svins-rpbdy"> <img src="assets/images/survey_thanks.png"/></div>

		</div>
	</div>




	<div class="svins thanks" [hidden]="surveyView !== 'error' && surveyView !== 'aerror'">
		<div class="svins-lp cscroll">
			<div class="svins-body cscroll">
				<div class="svins-thankshead">SORRY!</div>
				<div class="svins-ins msg">
					<div class="alert alert-danger" [hidden]="surveyView !== 'error'">
						Assessment is not found or has expired. contact support team.
					</div>
					<div class="alert alert-danger" [hidden]="surveyView !== 'aerror'">
						Unfortunately your assessment is not submitted. Try again later.
					</div>
					</div>
				<!-- <div class="svins-ins icons">
					<img src="assets/images/survey_thanks_icons.png" style="width:100%">
				</div> -->
				<!-- <div class="svins-ins">
					Learning has a new way!
				</div> -->
				<!-- <div class="svins-ins">
					<a class="link s-link" title="http://www.e2epeoplepractices.com/register.php" href="http://www.e2epeoplepractices.com/register.php">http://www.e2epeoplepractices.com/register.php</a>
				</div> -->
			</div>
		</div>             
		<div class="svins-rp">
			<div class="svins-rpbdy"><img src="assets/images/survey_thanks.png" /></div>
		</div>
	</div>

</div>