<block-ui></block-ui>
<div class="container">
	<div class="row navhead">
		<h3>Dashboard</h3>
	</div>
	<div class="navs">
		<div class="row navrow">
			<div class="col-lg-3 col-md-6 col-sm-12 navitem  p-br">
                <a class="navcard" title="Organizations" href="/#/dlmyorganization">
                    <div class="navImage ">
                        <div class="navicon"><fa-icon [icon]="['fas', 'landmark']"></fa-icon></div>
                    </div>
                    <div class="navTitle">My Organization</div>
                </a>
            </div>
			<div class="col-lg-3 col-md-6 col-sm-12 navitem  p-br">
				<a class="navcard" title="Employee" href="/#/dlemployee">
					<div class="navImage ">
						<div class="navicon"><fa-icon [icon]="['fas', 'users']"></fa-icon></div>
					</div>
					<div class="navTitle">Employees</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 navitem  p-br">
				<a class="navcard" title="Employee" href="/#/dlprojects">
					<div class="navImage ">
						<div class="navicon"><fa-icon [icon]="['fas', 'briefcase']"></fa-icon></div>
					</div>
					<div class="navTitle">Projects</div>
				</a>
			</div>
		</div>
	</div>
</div>