<block-ui></block-ui>
<div class="" style="overflow: auto;max-height: 100%;" *ngIf="linkExpired != true">
	<div class="container a4-div  pt-0 pl-0 pr-0 bg-custom-color shadow">
		<div class="row  card-header bg-white shadow-sm main-header-w" >
			<div class="col-lg-3 col-3 col-md-3 text-left pl-0 h-100">
				<img *ngIf="userDetails.user_source == 'VI'" class="h-100" src="assets/images/mna-login-banner.jpg"   height="auto"  />
				<img *ngIf="userDetails.user_source != 'VI'" class="h-100" src="assets/images/culturelytics_logo.jpg"  height="auto"  />
			</div>
			<div class="col-lg-6 col-6 col-md-6 text-center align-middle m-auto h-100">
				<h3 class="assess_title tipe-head">TIPE Assessment</h3>
			</div>
			<div class="col-lg-3 col-3 col-md-3 text-right pr-0 h-100">
				<img *ngIf="userDetails.user_source == 'VI'" class="h-100" src="assets/images/vi.JPG"  height="auto" />
				<img *ngIf="userDetails.user_source == 'NHRD'" class="h-100" src="assets/images/nhrd.png"  height="auto" />
				<img *ngIf="userDetails.user_source == 'TIE'" class="h-100" src="assets/images/tie.png"  height="auto" />
			</div>
		</div>
		<div class="shadow-sm">
			<div class="row card-body pt-4" >
				<div class="col-lg-12 col-md-12 text-center">
					<h5 class="internal-font-size">Research organized by MnAgenome in association with Venture Intelligence</h5>
					<p class="h5">For  <b class="head-result-text-color">{{ userDetails.first_name }} {{ userDetails.last_name }}</b></p>
				</div>
			</div>
			<div class="row card-body p-4">
				<div class="col-lg-12 col-md-12 text-center">
					<span class="internal-font-size">This report provides a picture of your organizational communication style and equips you with deep insights on your personal values.</span>
				</div>
			</div>
			<!-- <div class="row  p-4">
				<div class="col-lg-12 col-md-12 text-center">
					<h3 class="head-result-text-color">ABOUT "Culturelytics"</h3>
				</div>
			</div> -->
			<!-- <div class="row ">
				<div class="col-lg-10 col-md-10 m-auto offset-1">
					<ul class="internal-font-size">
						<li>We are <b> MnAgenome </b>, a year-old startup, based out of Bangalore, India. With more than 10 years of experience in the field of People Practices, we founded MnAgenome to leverage the power of Data Science and Analytics in the area of Organizational Culture.</li>
						<li>Our vision is to become the astrologer of the M&A space. As per a recent study, more than 20% of the M&A deals fail primarily due to culture-related issues. We understand the importance culture plays in making or breaking a deal, and its role in achieving the desired outcomes.</li>
						<li>Our key differentiator is the AI-powered platform that recognizes over 9000+ behavior patterns and over 60 dimensions to provide you the most accurate assessment of the prevailing culture</li>
					</ul>
				</div>
			</div> -->
		</div>
	</div>
	<!-- <div class="container a4-div p-5">
		<div class="row pb-4">
			<div class="col-lg-12 col-md-12 text-center">
				<h4><strong class=" head-result-text-color">Our Track Record</strong></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2 trackrecord">
				<p class="trackr1" ><img style="padding:20px;" src="assets/images/datalake/trackrecord1.png" class="our-track-record-img" /></p>
			</div>
			<div class="col-lg-2 col-md-2 trackrecord">
				<p class="trackr2" ><img style="padding: 20px 27px;" src="assets/images/datalake/trackrecord2.png" class="our-track-record-img" /></p>
			</div>
			<div class="col-lg-2 col-md-2 trackrecord">
				<p class="trackr3" ><img style="padding:18px;" src="assets/images/datalake/trackrecord3.png" class="our-track-record-img" /></p>
			</div>
			<div class="col-lg-2 col-md-2 trackrecord">
				<p class="trackr4" ><img style="padding:18px;" src="assets/images/datalake/trackrecord4.png" class="our-track-record-img" /></p>
			</div>
			<div class="col-lg-2 col-md-2 trackrecord">
				<p class="trackr5" ><img style="padding:18px;" src="assets/images/datalake/trackrecord5.png" class="our-track-record-img" /></p>
			</div>
			<div class="col-lg-2 col-md-2 trackrecord">
				<p class="trackr6" ><img style="padding:18px;" src="assets/images/datalake/trackrecord6.png" class="our-track-record-img" /></p>
			</div>
				
		</div>
	</div> -->
	<!-- <div class="container a4-div bg-custom-color shadow p-4">
		<div class="row  ">
			<div class="col-lg-10 col-md-10 offset-1">
				<ul class="internal-font-size">
					<li>We’re in this domain for more than 10 years, delivering services to more than 640 clients across the globe</li>
					<li>Our Learning and Development Platform – ELSA – has been key in measuring and monitoring success of our clients.</li>
				</ul>
			</div>
		</div>
		<div class="row  ">
			<div class="col-lg-12 col-md-12 text-center">
				<h4>Know more at <a href="https://www.mnagenome.com/" target="_blank">www.mnagenome.com</a></h4>
			</div>
		</div>
		<div class="row  ">
			<div class="col-lg-4 col-md-4"></div>
			<div class="col-lg-4 col-md-4 text-center social-media">
				<span><a href="https://www.instagram.com/culturelyticsofficial/" target="_blank"><img src="assets/images/linkedin.png" width="45" height="45" /></a></span>
				<span><a href="https://www.facebook.com/culturelytics/" target="_blank"><img src="assets/images/facebook.png" width="45" height="45" /></a></span>
				<span><a href="https://twitter.com/culturelytics" target="_blank"><img src="assets/images/twitter.png" width="45" height="45" /></a></span>
			</div>
			<div class="col-lg-4 col-md-4"></div>
		</div>
	</div> -->
	<div class="container a4-div p-4 border">
		<div class="row" style="margin-bottom: 30px;">
			<div class="col-lg-12 col-md-12 text-center">
				<h3 class="your-result-text">YOUR RESULT</h3>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-lg-12 col-md-12 text-center">
				<h5>
					<strong>Your most preferred organizational behaviour: </strong>
					<span class="result-text-color result-text"><strong>{{userResult.section_details.main_result}}</strong></span>
				</h5>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-lg-3 col-md-3 text-center" style="vertical-align: middle;margin: auto;">
				<h6 class="quadrants">People - Oriented and Introverted</h6>
			</div>
			<div class="col-lg-6 col-md-6 text-center">
				<h6 class="quadrants">Task - Oriented and Introverted</h6>
				<div id="communication_assessment"></div>
				<h6 class="quadrants">People - Oriented and Extroverted</h6>
			</div>
			<div class="col-lg-3 col-md-3" style="vertical-align: middle;margin: auto;">
				<h6 class="quadrants">Task - Oriented and Extroverted</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2"></div>
			<div class="col-lg-8 col-md-8">
				<div class="row">
					<div class="col-lg-4 col-md-4 text-right">
						<h5 class="result-text-color text-left"><strong>Behaviours:</strong></h5>
						<ul class="text-left" [innerHTML]="userResult.section_details.behaviors_result"></ul>
					</div>
					<div class="col-lg-4 col-md-4 text-center">
						<h5 class="result-text-color text-left"><strong>Needs:</strong></h5>
						<ul class="text-left" [innerHTML]="userResult.section_details.needs_result"></ul>
					</div>
					<div class="col-lg-4 col-md-4 text-left">
						<h5 class="result-text-color text-left"><strong>Fears:</strong></h5>
						<ul class="text-left" [innerHTML]="userResult.section_details.fears_result"></ul>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2"></div>
		</div>
		<div class="row">
			<div class="w-100 text-center margin-footer-txt">
				<p>To know more, please write to us at <a href="mailto:pulse@mnagenome.com" target="_blank">pulse@mnagenome.com</a></p>
				<p><a href="https://www.mnagenome.com/"  target="_blank">www.mnagenome.com</a></p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid outer-div" *ngIf="linkExpired == true">
	<div class="error-page text-center">
		<h2>Sorry, This link has expired</h2>
		<span>The link was set to expire after a certain amount of time.</span>
	</div>
</div>