<block-ui></block-ui>
<div class="container">
    <div class="row navhead">
        <h3>Admin Console</h3>
    </div>
    <div class="navs">
        <div class="row navrow">
            <div class="col-lg-3 col-md-6 col-sm-12 navitem  p-br">
                <a class="navcard" title="Organizations" href="/#/admin/organization">
                    <div class="navImage ">
                        <div class="navicon"><fa-icon [icon]="['fas', 'landmark']"></fa-icon></div>
                    </div>
                    <div class="navTitle">Organizations</div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 navitem  p-br">
                <a class="navcard" title="Projects" href="/#/admin/projects">
                    <div class="navImage ">
                        <div class="navicon"><fa-icon [icon]="['fas', 'briefcase']"></fa-icon></div>
                    </div>
                    <div class="navTitle">Projects</div>
                </a>
            </div>
        </div>
    </div>
  </div>
  <!-- /.container -->