<div class="dbk {{project?.project_variation_type}}">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="dbk-box">
                <p>An overview of what is important to employees, their experience of the organisation today, and what they believe is important for the future of the organisation</p>
                <div class="dbkb-head">
                    <h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
                </div>
                <div class="dbkb-body">
                    <p  [innerHTML]="project?.cvac.executiveSummary" style="text-align: left"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  style="margin-top: -20px; margin-bottom: 10px"> 
        <div class="col-lg-12 col-md-12">
            <ul class="nav nav-pills float-right">
                <!-- <li class="nav-item">
                    <a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEnt1'}" (click)="switchView('bnsEnt1')">BNP</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'" [ngClass]="{'active': currentView === 'bnsEnt2'}" (click)="switchView2('bnsEnt2')">BOB</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'" [ngClass]="{'active': currentView === 'bnsEnt3'}" (click)="switchView3('bnsEnt3')">CE</a>
              </li> -->


              <li class="nav-item">
                  <a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'bnsEnt1'}" (click)="onclick()">BOB</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'bnsEnt2'}"  (click)="bnsEnt2()">BNP</a>
              </li>



            </ul>
        </div>
        
    </div>
   
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OPINION INDEX</h6>
                        </div>
                        <div class="dbkb-body">
                            <div class="orater" title="{{project?.cvac.opinion_index}}">
                                <div class="ratediv">
                                    <div class="rates" style="font-size: 25px;height:unset;">
                                        <p><span *ngIf="countUpView === true" [CountTo]="opinianindex" [from]="0" [duration]="1"></span>%</p>
                                    </div>
                                </div>
                                <div class="ratelbl mbl-font" ><span>Values Dysfunction</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" >
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>OTHER STATS</h6>
                        </div>
                        <div class="dbkb-body">

                            <div class="row white">
                                <div class="col-lg-12 col-md-12">
                                    <div class="ceo_approval">
                                        <span style="float: left;font-size: 48px;">2</span>
                                        <p class="angular-with-newlines ptag" style="margin-top: 19px;margin-left: 30px;font-size: 12px;">Common values between Current and Personal Values</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row white">
                                <div class="col-lg-12 col-md-12" >
                                    <div class="ceo_approval">
                                        <span style="float: left;font-size: 48px;">1</span>
                                        <p class="angular-with-newlines ptag" style="margin-top: 19px;margin-left: 30px;font-size: 12px;">Common values between Current and Desired Values.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row white">
                                <div class="col-lg-12 col-md-12">
                                    <div class="ceo_approval">
                                        <span style="float: left;font-size: 48px;">2</span>
                                        <p class="angular-with-newlines ptag" style="margin-top: 24px;margin-left: 30px;font-size: 12px;">Potentially limiting values</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row bmargin">
                <div class="col-12">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                             <!-- <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6> -->
                            <h6 class="dbkb-title" style="height: 15px;"> </h6>
                        </div>
                        <div class="dbkb-body">
                           <div class=" row">
                                <div class="col-4 ">
                                    <div class="participantnumber" >
                                       <!-- {{project?.participants?.length}} -->
                                       <span *ngIf="countUpView === true" [CountTo]="noofparticipant" [from]="0" [duration]="10"></span>
                                    </div>
                                    <div class="rc-label participanttext">No. of Participants</div>
                                </div>
                                <div class="col-4 ">
                                    <div class="participantnumber">
                                      <!-- {{responsedata_per}}% -->
                                      <p><span *ngIf="countUpView === true" [CountTo]="noofresponse" [from]="0" [duration]="10"></span>%</p>
                                    </div>
                                    <div class="rc-label participanttext">% of Responses</div>
                                </div>
                                <div class="col-4">
                                    <div class="participantnumber">
                                       <!-- {{branchno.length}} -->
                                       <span *ngIf="countUpView === true" [CountTo]="noofdepartments" [from]="0" [duration]="10"></span>
                                    </div>
                                    <div class="rc-label participanttext">No. of Departments</div>
                                </div>
                                <div style="display: none;" class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.cvac[rc.prop] < 3, 'yellow':  project?.cvac[rc.prop] > 3 && project?.cvac[rc.prop] < 6, 'green':  project?.cvac[rc.prop] >= 6}" (click)="ivopChange(rc.opvalue);" >
                                    <div class="rc-val">
                                        <div class="rc-num">{{project?.cvac[rc.prop]}}</div>
                                        <div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div>
                                    </div>
                                    <div class="rc-case" >
                                        <div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
                                        <div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
                                    </div>
                                    <div class="rc-label">{{rc.label}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="dbk-box">
                        <div class="dbkb-head">
                            <h6 class="dbkb-title"><fa-icon [icon]="['fas', 'user-check']" style="padding-left: 15px;"></fa-icon>COMPANY INSIGHTS</h6>
                        </div>
                        <!-- <div class="col-12">
                            <nav>
                              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal Values</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Current Organizational Values</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Desired Organizational Values</a>
                              </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
                              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                            </div>
                        </div> -->

                        <div class="col-12 cvarp">
                            <nav class="displayflag-mbl">
                              <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                <a [ngClass]="{'opactive': ivop == 'op1'}" (click)="ivopChange('op1');" class="nav-item nav-link border-light">Personal Values</a>
                                <a [ngClass]="{'opactive': ivop == 'op2'}" (click)="ivopChange('op2');" class="nav-item nav-link border-light" >Current Organizational Values</a>
                                <a [ngClass]="{'opactive': ivop == 'op3'}" (click)="ivopChange('op3');" class="nav-item nav-link border-light">Desired Organizational Values</a>
                              </div>
                            </nav>

                            <div class="col-3 opdiv displayflag-dsktp">
                                <div class="row op1" [ngClass]="{'opactive': ivop == 'op1'}" (click)="ivopChange('op1');"><div [hidden]="ivop !== 'op1'" class= "arrow-right"></div><div class="txtd">Personal Values</div></div>
                                <div class="row op2" [ngClass]="{'opactive': ivop == 'op2'}" (click)="ivopChange('op2');"><div [hidden]="ivop !== 'op2'" class= "arrow-right"></div><div class="txtd">Current Organizational Values</div></div>
                                <div class="row op3" [ngClass]="{'opactive': ivop == 'op3'}" (click)="ivopChange('op3');"><div [hidden]="ivop !== 'op3'" class= "arrow-right"></div><div class="txtd">Desired Organizational Values</div></div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12 col-12 dbkd-h">
                                <div  class="dbkd-hb">
                                    <div class="dbkb-body">
                                        <div class="ivl" [hidden]="currentView === 'lsp'">
                                            <div class="ivl-head">
                                                <font class="float-left">Level of Consciousness</font>
                                                <font class="float-right">Stages of Development</font>
                                            </div>
                                            <div class="ivl-body">
                                                <div class="ivl-row" *ngFor="let ivl of ivls">
                                                   <div class="ivl-lcell">{{ivl.label}}</div>
                                                   <div class="ivl-mcell">
                                                    <div class="ivl-bubble" *ngFor="let bubble of ivl.bubbles" [ngClass]="{'lv': bubble.state === 'LV'}">
                                                        <div class="speech-bubble">{{bubble.label}}</div>
                                                    </div>
                                                </div>
                                                <div class="ivl-rcell">{{ivl.dlabel}}</div>
                                            </div>
                                        </div>
                                        <div class="ivl-footer">
                                            <div class="ivl-bubble" style="float:left; margin:3px 10px 0px 0px "></div>&nbsp;&nbsp;<div style="display: inline-block; float: left; margin-right: 30px; ">Positive Value</div>
                                            <div class="ivl-bubble lv" style="float:left; margin: 3px 10px 0px 0px "></div>&nbsp;&nbsp;<div style="display: inline-block; float:left; margin-right: 30px; ">Limiting Value</div>
                                        </div>
                                    </div>
                                    <div class="cvl" [hidden]="currentView !== 'lsp'">
                                        <div class="cvl-item" *ngFor="let cvl of cvls">
                                           <div class="cvl-case">
                                            <div class="speech-bubble">{{cvl.count}}</div>
                                            <div class="cvl-label"><div class="cvl-text">{{cvl.value}}</div></div>
                                            <div class="cvl-footer">
                                                <div class="cvl-fl"></div><div class="cvl-fc"><div class="cvl-num">{{cvl.id}}</div></div><div class="cvl-fr"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;color: black;">
                        Adapted from BVC reports.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
