/* For speedometer highchart 13032020 */
#container_Axis_0_Pointer_NeedleCap_0{
fill:black!important;	
}
#container_Axis_0_Pointer_Needle_0{
	fill:black!important;
	
}
#container_Axis_0_Pointer_NeedleTail_0{
	fill:black!important;	
	width:15px;
}
#container_CircularGaugeBorder{
	position:absolute!important;
	background:transparent;
}
.control-section{
	width:100%;
	height:200px;
}
#container{
	display: block;
    user-select: none;
    position: relative!important;
    z-index: 1!important;
    background-color: transparent;
    fill: transparent;
}


#container_Axis_0_Annotation_0{
	left:60px!important;
	top:100px!important;
}
.middle_graph svg{
	transform: scaleX(0.5) scaleY(0.5) translateY(-300px) translateX(-400px);
}
.middle_graph svg #container_CircularGaugeBorder{
	fill: transparent;
}
#templateWrap{display:none;}

.heading{
	text-align: center;
    /* bottom: 0; */
     position: relative; 
      margin-left: 0px;
    margin-right: 0px;  
    background: #fff;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px #bbb;
	border: 1px solid #eee;
	width:100%;
	
}
.heading span{
	font-size: 12px;
    font-weight: 700;
    color: #848484;
}
.heading p{
	font-size: 11px;
	color: #888;
	margin-bottom:0px;
}
.MnAGenome a{
	color:#000!important;
}
.MnAGenome a:hover{
	color:#F5383C !important;
}
/* For speedometer highchart 13032020 */

.db { position: relative; overflow-x: hidden; padding: 0px; background:#fff; font-size: 13px; }
.db .row { margin: 0px; }
.db .dbp { padding:0px; }

.db .dlp { min-width: 300px; width: 300px; background-color: #e2e2e2;}
.db .dcp { width: calc(100% - 600px); transition: all 500ms ease;  }
.db .dcp.expanded { width: calc(100% - 300px); }
.db .drp { width: 300px; min-width: 300px; background-color: #e2e2e2;}

.db .dlp .dlp-top { 
	padding: 10px 20px;
	/*height: 5%;  */
	height: 11%;
}
.db .dlp .dlp-top fa-icon { position: relative; margin-right: 10px;  bottom: 1px; }
.db .dlp .dlp-org { 
	height: 50%; text-align: center; font-size:16px;
	padding:10px; border-style:none; 
}
.db .dlp .dlp-ologo { height: 100%; width: 100%; text-align: center; float: left;padding-top: 10px; }
.db .dlp .dlp-ologo img { width: 50%; margin: auto; } 
.db .dlp .dlp-oname { height: 100%; width: calc(100% - 60px); color:#333; text-align: left; float: left; font-size: 13px; }
.db .dlp .dlp-org h3 { font-size:18px; margin-top:10px; font-weight: 700; }

.db .dlp .dlp-oscore { 
	height: 47%; text-align: center; color:#fff;
	padding:0px; border-style:none; border-bottom-style: solid; border-bottom-width:1px;
}
.db .dlp .dlp-oscore .row {
	height: 100%;
}
.db .dlp .dlp-oscore .dlp-osl, .db .dlp .dlp-oscore .dlp-osr {
	padding: 9px; height: 100%; width: 50%; max-width: 50%; flex: 0 0 50%;
}
.db .dlp .dlp-oscore .dlp-osr {
	width: 50%; max-width:50%;flex: 0 0 50%;  border-left-width: 1px; border-left-style: dashed; border-color:#fff;
}
.db .dlp .dlp-oscore .dlp-oslogo {     
	margin: 6px auto 0px auto;
	width: 110px;
	border-radius: 50%;
	border: solid 3px #F5383C;
	height: 110px;
	padding-top: 12px;
	font-size: 16px;
	font-weight: 700;
	padding-top: 12px;
	font-size: 16px;
}
.db .dlp .dlp-oscore .dlp-osr .dlp-oslogo { padding-top: 2px; font-size:26px; }

.db .dlp .dlp-oscore .dlp-osname h5 { font-size:13px; margin-top:10px; color: #888; }

/*.db .dlp .dlp-odata { */
.middle-dash-panel .dlp-odata { 
	height: 180px; text-align: center; font-size:16px;
	padding:10px; border-style:none; border-bottom-style: solid; border-bottom-width:1px;
	background-color: #fff;
	margin: 1px 20px;
	border-radius: 10px;
	box-shadow: 0px 2px 3px #bbb;
	border: 1px solid #eee;
} 
.db .dlp .dlp-ohead { 
	height: 18px; text-align: left; font-size:14px;
} 
.db .dlp .dlp-obody { 
	height: calc(100% - 28px); font-size:14px; text-align: left;
} 
/*.db .dlp .dlp-odata .dlp-obody { */
.middle-dash-panel .dlp-odata .dlp-obody{ 
	height: calc(100% - 20px); padding-top: 8px; 
}
.db .dlp .dlp-obody .row { margin: 0px 5px 5px 5px; } 
.db .dlp .dlp-obody .row .col { padding-left: 5px; padding-right: 5px; } 

/*.db .dlp .dlp-obody .dlp-od-lbl {*/
.middle-dash-panel .dlp-obody .dlp-od-lbl {
	font-size:12px; font-weight: 700; color: #848484;
}
/*.db .dlp .dlp-obody .dlp-od-val {*/
.middle-dash-panel .dlp-obody .dlp-od-val {
	font-size:11px; color: #888;
}

.db .dlp .dlp-omap {
	width: 100%; height: 287px; position: relative; padding:10px; 
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.db .dlp .dlp-omap .dlp-obody { position:relative; padding-top:10px; } 
.db .dlp .dlp-omap .dlp-obody .dlp-map { width: 100%; height: 100%; display: block; position:relative; } 

.db .drp .dboxes {
	width: 100%; height: calc(100% - 170px); position: relative; overflow-y: auto; display: block; 
	/*background:#efefef;*/
}

.db .drp .dbox {
	width: 90%; height: 30.5%; position: relative; padding: 3px 10px;
	border-bottom-style:dotted; border-bottom-width: 1px;
}


.db .drp .dbox .dbx-title {
	width: 100%; height: 40px; margin: 5px 0px; font-size:12px; text-transform: uppercase; font-weight: 700; text-align: left;
}

.db .drp .dbox .dbx-title fa-icon {
	width: 15px; margin-right: 10px;
}

@media screen and  (min-width: 1000px) {
	.db .drp .dbox:last-child { border-bottom-width: 0px; }
}

.db .drp .dbox .dbx-body {
	width: 100%; height: 90px; position: relative; display:block;
}
.db .drp .dbox .dbx-body .slick-slider { 
	width: calc(100% - 20px); height: 100%; position: relative; display: block; margin: 0px auto;
	max-width: 280px;
}
.db .drp .dbox .dbx-body .slick-slider .slick-list {
	height: 100% !important; position: relative  !important; background:transparent!important; padding: 0px 0px !important;
}
.slick-dots { bottom: -15px; }
.db .drp .dbox .dbx-body .dbx-slide {
	text-align: left;
}
.db .drp .dbox .dbx-body .dbx-slide .dbx-slidecontent {
	width: 235px; height: calc(100% - 20px); position: relative; display:table; white-space:normal; padding: 0px 10px;
}
.db .drp .dbox .dbx-body .dbx-slide .dbx-slidesign {
	width: 235px; height: 20px; text-align:left; font-weight: 700; padding: 0px 10px;
}
.db .drp .dbox .dbx-body .dbx-item {
	width: 235px; height: auto; position: relative; display:inline-table; margin-bottom: 5px; 
}

.db .drp .dbox .dbx-body .dbx-item .dbx-icode {
	width: 30px; float:left; margin-right: 10px;
}
.db .drp .dbox .dbx-body .dbx-item .dbx-idesc {
	width: calc(100% - 90px); float:left; text-align: left;
}
.db .drp .dbox .dbx-body .dbx-item .dbx-ivalue {
	width: 40px; float:left; margin-left: 10px; text-align: right;
}

.db .drp .dbtnset {
	width: 100%; height: 170px; position: relative; padding: 0px 10px 0px 0px;
	text-align: center; align-items: center;
}
.db .drp .dbtnset .dbtns {
	width: 100%; height: auto;
}
.db .drp .dbtnset .dbtns .btn {
	width: 100%; margin-bottom: 2px; display: block; height: 50px;
}

.accordion {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
	position: relative;
}

.accordion ul {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	border-right: solid 1px #828282;
	position: relative;
}

.accordion ul li {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	width: 14.28%;
	height: 100%;
	transition: all 500ms ease; 
	/*border-left: solid 0.9px #828282;*/
	float: left;
}
.accordion ul li:first-child {
	/*  width: calc(14.2% - 2px);*/
}

.accordion ul li .kpipreview {
	display: flex; align-items:flex-end;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position:relative; 
	text-align: left;
	transition: all 500ms ease;
}
.accordion ul li .kpipreview * {
	transition: all 500ms ease;
}
.accordion ul li .kpipreview:hover {
	background: #ddd;
}
.accordion ul li .kpipreview .kpip {
	width: 100%; height: 100%; position: relative; text-align: left;
}
.accordion ul li .kpipreview .kpip .kpip-border { width: 100%; height: 10px; background: #c2b8b7; position: absolute; bottom:  0px; }
.accordion ul li .kpipreview .kpip .kpip-arrow { width: 100%; height: 30px; position: absolute; bottom:  70px; text-align: center; color:#bebebe; font-size: 30px; }

.accordion ul li .kpipreview .kpip .kpip-title {
	display: inline-block; 
	position: absolute;
	bottom: 90px;
	width: 100%;
	white-space: nowrap;
	margin-left: calc(50% - 16px);
	transform-origin: top left;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	font-size:1.2vw;
	font-weight: 700; text-transform: uppercase;
	letter-spacing: 1px
}
.accordion ul li .kpipreview .kpip .kpip-score { 
	display: inline-block; float:right;
	position: absolute;
	bottom: 10px;
	right: 0px;
	white-space: nowrap;
	margin-top: 0px;
	margin-bottom: 10px ;
	font-size:1.4vw;
	font-weight: 700;
	width: 100%; 
	text-align: center;
} 
.accordion ul li .kpipreview .kpip .kpip-bell { width: 100%; height: 20px; text-align: center; top: 30px; position: absolute; display:none; }
.accordion ul li .kpipreview .kpip .kpip-bell .kpip-fa { width: 20px; height: 20px; margin: auto; border-radius: 50%; background: #f5383c; color:#fff; }

.accordion ul li.kp-neg .kpipreview .kpip .kpip-border { background:#F5383C; }
.accordion.predeal ul li.kp-neg .kpipreview .kpip .kpip-title,
.accordion.predeal ul li.kp-neg .kpipreview .kpip .kpip-arrow,
.accordion.predeal ul li.kp-neg .kpipreview .kpip .kpip-score
{ color:#F5383C !important; }

li.kp-neg .kpipreview .kpip .kpip-score
{ color:#F5383C; }
li.kp-neg .kpipreview .kpip .kpip-arrow
{ color:#F5383C !important; }
li.kp-neg .kpipreview .kpip .kpip-title
{ color:#F5383C !important; }


.accordion ul li.kp-pos .kpipreview .kpip .kpip-border { background:#03af59; }
.accordion.predeal ul li.kp-pos .kpipreview .kpip .kpip-title,
.accordion.predeal ul li.kp-pos .kpipreview .kpip .kpip-arrow,
.accordion.predeal ul li.kp-pos .kpipreview .kpip .kpip-score
{ color:#03af59 }
.accordion.postdeal ul li.kp-neg .kpipreview .kpip .kpip-bell { display:block; }

.accordion ul li .kpidb {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 3;
	padding: 0px;
	box-sizing: border-box;
	color: #333;
	text-decoration: none;
	transition: all 500ms ease;
	display: none;
	background: #f2f2f2;
}


.accordion ul li .kpipreview *, .accordion ul li .kpipreview .kpip * {
	opacity: 1;
	position: relative;
	white-space: nowrap;
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}
.accordion ul li .kpidb * {
	opacity: 0;
	margin: 0;
	text-overflow: ellipsis;
	position: relative;
	z-index: 5;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}

.accordion ul li .kpidb .kpidb-head { width: calc(100% - 30px); height: 50px; border-bottom: dotted 1px #ccc; padding: 15px 0px 0px 0px; margin:0px 15px; display: block; }
.accordion ul li .kpidb .kpidb-head h2 {
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	text-overflow: clip;
	font-size: 16px;
	margin: 0px; 
	float:left;
}

.accordion ul li .kpidb .kpidb-body { 
	width: 100%; height: calc(100% - 75px); margin: 15px 0px; 
}
.accordion ul li .kpidb .kpidb-body .dummyImg { width: 100%; }
.accordion ul li .kpidb p {
	top: 160px;
	font-size: 13.5px;
}
.accordion ul li .kpidb .kpidb-close { float:right; font-size:18px; cursor: pointer; display:inline-block; width: 20px; height: 20px; }

.accordion ul.open li .kpipreview { }
.accordion ul.open li { width: 0px; height: 0px;  overflow: hidden; display: block;}

.accordion ul.open li.open { /*width: 87.5%;*/ width: 91.5%; height: 100%;  display: block;}

.accordion ul li.open .kpipreview { height:40px; }
.accordion ul li.open .kpidb { display:block; height: 100%; }

.accordion ul.open li.open .kpidb * {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.accordion ul.open li.open .kpipreview .kpip *, 
.accordion ul.open li .kpipreview .kpip *, 
.accordion ul li.open .kpipreview .kpip *
{
	opacity: 0; display:none; 
}
.accordion ul.open li .kpipreview .kpip .kpip-border
{
	opacity: 1; display:inline-block; 
}
.accordion ul li.open .kpipreview .kpip .kpip-border { display: none !important; }
.accordion ul.open li .kpipreview .kpip .kpip-title
{
	opacity: 1; display:inline-block; margin-left: calc(50% - 6px); font-weight: 100; font-size:10px; bottom: 10px;
}

.accordion ul li.open .kpipreview { cursor:default; background: none; }
.accordion ul.open li.open .kpipreview .kpip .kpip-title 
{
	display:none;
}


@media screen and  (min-width: 800px) and (max-width: 1000px) {
	.db .dlp { min-width: 300px; width: 300px; }
	.db .dcp, .db .dcp.expanded { width: calc(100% - 300px); }
	.db .drp { width: 100%; min-width: 260px; height: 200px; border-top-style:solid; border-top-width: 1px;  }
	.db .drp .dboxes { height: auto !important; }
	.db .drp .dboxes .dbox { max-width: 220px; margin: 0px 5px; }
	.accordion ul li .kpipreview .kpip .kpip-title { font-size: 16px; }
	.accordion ul li .kpipreview .kpip .kpip-score { font-size: 16px; }

	/*.db .dlp .dlp-odata {*/
	.middle-dash-panel .dlp-odata{ 
		height: auto; 
	}
}
@media screen and  (max-width: 800px) {
	.db .dlp { min-width: 100%; width: 100%; }
	.db .dcp, .db .dcp.expanded { width: 100%; }
	.db .drp { width: 100%; min-width: 260px; height: 200px; border-top-style:solid; border-top-width: 1px;  }
	.db .drp .dboxes { height: auto !important; }
	.db .drp .dboxes .dbox { max-width: 220px; margin: 0px 5px; }
	.accordion ul li .kpipreview .kpip .kpip-title { font-size: 16px; }
	.accordion ul li .kpipreview .kpip .kpip-score { font-size: 16px; }
	/*.db .dlp .dlp-odata { */
	.middle-dash-panel .dlp-odata{ 
		height: auto; 
	}
}

@media screen and (max-width: 600px) {
	body { margin: 0; }

	.accordion { height: 100%; }

	.accordion ul.open li.open,
	.accordion ul.open li.open {
		position: relative;
		display: table;
		table-layout: fixed;
		width:86%;
		-webkit-transition: none;
		transition: none;
	}
	/*.db .dlp .dlp-odata { */
	.middle-dash-panel .dlp-odata{ 
		height: auto; 
	}
}

.p-bg {
	background-color: #F5383C;
}
.p-cl { color: #00008b; /*#F5383C*/ }
.db .drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button {  border:solid 1px #F5383C !important; border-radius: 50%; height: 10px; width: 10px; }

.db .drp .dbox .dbx-body .slick-slider .slick-dots li button:before { color:#F5383C !important; }
.dbk .rcs .rc .rc-case .rc-icon fa-icon {
	font-size: 16px; color:#F5383C;
}
.dbk .rcs .rc:hover .rc-label { color:#F5383C; }
.ivl .ivl-bubble {
	width: 12px; height: 12px; border-radius: 50%;  background-color: #F5383C;
	margin: 9px 2px; display: inline-block; position: relative;
}
.ivl .ivl-bubble.lv { background: #fff; border:solid 1px #F5383C; }


.db .drp .dbox .dbx-body .slick-slider .slick-dots li button:before {
	color: #00f8e3;
}
.p-btn {
	background: #F5383C;
	color: #fff;
}
.form-control {
	display: block;
	width: 100%;
	/*height: calc(0.7em + .75rem + 2px);*/
	padding: 0rem .75rem;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.bnstabset { width: 100%; height: 100%; display: table; }
.bnstabset .bnstabs { width: 100%; height:100%; background:#fff; }
.bnstabset .bnstabs .bnstab { width: 14.28%; cursor: pointer; height: 100%; text-align: center; position: relative; color:#333; border-top:solid 2px #ddd; background: #ddd; float: left; padding: 9px 3px; font-size: 12px; font-weight: 700; }
.bnstabset .bnstabs .bnstab .tail { 
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #F5383C transparent transparent transparent;
	line-height: 0px;
	_border-color: #f5383c #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	visibility: hidden;
	position: relative;
	margin:-10px auto 0px auto;
}
.bnstabset .bnstabs .bnstab:hover { background:#e1e1e1; border-top: solid 2px #e1e1e1; }
.bnstabset .bnstabs .bnstab.active { 
	background:#f2f2f2; border-top: solid 2px #f5383c; color: #f5383c;
}
.bnstab_active{
	border-right: 1px solid #F5383C;
	border-left: 1px solid #F5383C;
}
.bnstab_inactive{
	border:0.5px solid #c0c0c087;
}
.bnstabset .bnstabs .bnstab.active .tail { visibility: visible; }

.bnstabset .bnstcontents { width: 100%; height: calc(100% - 60px); display: block; position: relative; padding: 5px; background: #fff }
.bnstabset .bnstcontents .bnstcontent { width: 100%; height: 100%; display: block; position: relative; }
.bnstabset .bnstcontents .bnstcontent .bnspie { width: 100%; height: 100%; max-height: 100%; }



.moreexploretabset .metabs { width: 100%; height:100%; background:#fff;  }
.moreexploretabset .metabs .metab { width: 33.33%; cursor: pointer; height: 100%; text-align: center; position: relative; color:#333;border-bottom: 0.1px solid #999999b5;    border-left: 0.1px solid #F5383C;border-right: 0.1px solid #F5383C; border-top:solid 2px #ddd; background: #ddd; float: left; padding: 9px 3px; font-size: 12px; font-weight: 700; }
.moreexploretabset .metabs .metab .tail { 
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #f5383c transparent transparent transparent;
	line-height: 0px;
	_border-color: #f5383c #000000 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	visibility: hidden;
	position: relative;
	margin:-10px auto 0px auto;
}
.moreexploretabset .metabs .metab:hover { background:#e1e1e1; border-top: solid 2px #e1e1e1; }
.moreexploretabset .metabs .metab.active { 
	background:#f2f2f2; border-top: solid 2px #f5383c; color: #f5383c;border-bottom:none;
}
.bnstab_active{
	border-right: 1px solid #F5383C;
	border-left: 1px solid #F5383C;
}
.bnstab_inactive{
	border:0.5px solid #c0c0c087;
}
.moreexploretabset .metabs .metab.active .tail { visibility: visible; }

.moreexploretabset .bnstcontents { width: 100%; height: calc(100% - 60px); display: block; position: relative; padding: 5px; background: #fff }
.moreexploretabset .bnstcontents .bnstcontent { width: 100%; height: 100%; display: block; position: relative; }
.moreexploretabset .bnstcontents .bnstcontent .bnspie { width: 100%; height: 100%; max-height: 100%; }


.dash_ulli_tab{height: 50px;}

/*t*/
.ldBar{ width: 100% !important; height: 59% !important; background-size: contain; margin-bottom: -2px; margin-top: 4px;}
.ccq-oslogo { width: 50px; height: 50px; font-size:16px; font-weight: 700;}
.ccq-value { 
	position: absolute;
	width: calc(100% - 100px);
	height: calc(100% - 80px);
	border-radius: 50%;
	left: 50px;
	top: 0px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	/*border: solid 1px #eee; */
	font-weight: 700;
	font-size: 17px;
	color: darkblue;
}

@media (min-width: 992px){
	.modal-lg, .modal-xl {
		max-width: 99%;
	}
}


#indmap {
	height: 100%; 
	width: 100%; 
	max-width: 800px; 
	margin: 0 auto; 
}
#indmap1 {
	height: 100%; 
	width: 100%; 
	max-width: 800px; 
	margin: 0 auto; 
}
.loading {
	margin-top: 10em;
	text-align: center;
	color: gray;
}
.highcharts-legend-item{
	display: none; 
}

.map_content_main{
	width: 85%;
	margin: 0 auto;
}

.map_statistics_width{
	font-size: 19px;
}
.map_statistics_width .indMapPara{
	margin-top: 0;
	margin-bottom: 0.2rem;
	color: #F5383C;
}
.gblMapRow{
	margin: 20px 0px;

}
.dbk .rcs .ccq.white1 .ccq-val {
	color: red;
}
.dbk .rcs .ccq .ccq-case {
	width: 50px !important;
	height: 50px;
	text-align: center;
	margin: 0px auto 10px auto;
	position: relative;
}
.dbk .rcs .ccq .ccq-val {
	width: 100%;
	height: 20px;
	text-align: center;
	position: relative;
}
.dbk .rcs .ccq .ccq-case .ccq-icon {
	position: absolute;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background: #fff;
	border-radius: 50%;
	left: 2px;
	top: 2px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	border: solid 1px #eee;
}
.dbk .rcs .ccq .ccq-case .ldBar {
	width: 100% !important;
	height: 100% !important;
	background-size: contain;
	cursor: pointer;
}
.ccq-oslogo svg g path{
	stroke:red !important;
}


/*Explore More */
.opdiv {
	float: left;
	height: 100%;
	text-align: center;
}
.op1,.op2,.op3,.op4,.op5,.op6,.op7,.op8,.op9,.op10,.op11,.op12,.op13,.op14,.op15{height: calc(100% / 3);  border-bottom: 1px solid white;  background-color: #ccc; cursor: pointer;background-color: #ccc;}
.opactive {
	background-color: #fff !important;
	border-left: 3px solid #f5383c;
}

.overviewdiv{
	min-height: 200px;
}





@media screen and  (min-width: 768px) and (max-width: 1400px) {
	.db .dlp .dlp-omap {
		height: 220px; 
	}

	/*.db .dlp .dlp-odata {*/
	.middle-dash-panel .dlp-odata{ 
		/*height: calc(100% - 502px);*/
		height: 27%;
		/* overflow-y: scroll; */
		/*background-color: #fff;
		margin: 18px 20px;
		border-radius: 10px;*/
		height: 44%;

	}
}
.ccq-oslogo .mainline{ stroke:red; }

.dbk .rcs .rc.green .mainline { stroke:#03af59 }
.dbk .rcs .rc.red .mainline { stroke:#f5383c }
.dbk .rcs .rc.yellow .mainline { stroke:#ffa800 }





.cvl { width: 100%; height: 100%; display: block; position: relative; margin: auto; max-width: 600px; min-width:340px; }
.cvl .cvl-item { width: 10%; height: 100%; float: left; position: relative; display: inline-block; max-width: 50px;  margin-top: 13px; }
.cvl .cvl-item .cvl-case { 
	width: calc(100% - 2px); height: calc(100% - 2px); display:block; min-height:230px; position: relative;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(160,160,160,1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(160,160,160,1);
	box-shadow: 2px 2px 2px 0px rgba(160,160,160,1);
	display: flex;
	align-items: flex-end;
	cursor: pointer;
}
.cvl .cvl-item .cvl-case .cvl-label { 
	width: 100%; height: calc(100% - 40px); position: absolute;
	bottom: 40px;
}
.cvl .cvl-item .cvl-case .cvl-label .cvl-text { 
	display: inline-block; 
	position: absolute;
	bottom: -15px;
	white-space: nowrap;
	margin-left: 0px;
	transform-origin: top left;
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	font-size: 13px;
	letter-spacing: 1;
}
.cvl .cvl-item .cvl-case .cvl-footer { 
	width: 100%; height: 40px; position: absolute; bottom: 0px; padding-top:10px;
}
.cvl .cvl-item .cvl-case .cvl-footer .cvl-fl { 
	width: calc(50% - 10px); height: 10px; float: left;
	border-bottom: solid 1px #999;
}
.cvl .cvl-item .cvl-case .cvl-footer .cvl-fc { 
	width: 20px; height: 20px; border-radius: 50%; float: left; background: #fff;
	border: solid 1px #999; font-size:11px; padding-top:1px; padding-left: 3px;
}
.cvl .cvl-item .cvl-case .cvl-footer .cvl-fr { 
	width: calc(50% - 10px); height: 10px; float: left;
	border-bottom: solid 1px #999;
}

.cvl .cvl-item:first-child .cvl-case .cvl-footer .cvl-fl,
.cvl .cvl-item:last-child .cvl-case .cvl-footer .cvl-fr
{ border-bottom: 0px }

.cvl .cvl-item:nth-child(1) .cvl-case { background-color: #fce5d3 } .cvl .cvl-item:nth-child(1) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(2) .cvl-case { background-color: #e8e6cd } .cvl .cvl-item:nth-child(2) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(3) .cvl-case { background-color: #dbe0dc } .cvl .cvl-item:nth-child(3) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(4) .cvl-case { background-color: #fcf0d8 } .cvl .cvl-item:nth-child(4) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(5) .cvl-case { background-color: #e5ded4 } .cvl .cvl-item:nth-child(5) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(6) .cvl-case { background-color: #bdd0de } .cvl .cvl-item:nth-child(6) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(7) .cvl-case { background-color: #f7f0e8 } .cvl .cvl-item:nth-child(7) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(8) .cvl-case { background-color: #fbdacb } .cvl .cvl-item:nth-child(8) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(9) .cvl-case { background-color: #efd3df } .cvl .cvl-item:nth-child(9) .cvl-case:hover { background-color: #fff }
.cvl .cvl-item:nth-child(10) .cvl-case { background-color: #f7ebd3 } .cvl .cvl-item:nth-child(10) .cvl-case:hover { background-color: #fff }

.cvl .cvl-item .cvl-case .speech-bubble {
	width: 100%; 
	height: 22px;
	position: absolute;
	top: -30px;
	display: none;
}
.cvl .cvl-item .cvl-case:hover .speech-bubble {
	display: block;
}


.custdemo-categoriestab {
	width: 14.28% !important;
}
.empdemo-categoriestab{
	width: 33.33% !important; 
}
.customer-demographic {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 45px;
	margin-bottom: 10px;
	overflow: auto;
	padding-top: 10px;
	padding-top: 20px;
}
.customer-demographic .employee-insight{
	float: left;
	padding-left: 0px;
}
.customer-demographic .customer-insight{
	float: right;
	padding-left: 0px;
}
.category-dropdown {
	margin-bottom:20px;
	width: 95%;
	margin: 20px auto;
}
.lft_padding{padding-left: 0px;}
.categoriestcontents{
	padding:0px 0px;

}
.txtd{
	font-size: 12px;
	padding: 5px;
}
.media-link, .news-link {
	color: #222222 !important;
}

.main-rc-val {
	padding-bottom: 2px;
	position: absolute;
	left: 43%;
	top: auto;
	margin-top: -2px;
	color: #fff;
	z-index: 1;
}

.cst-rc-val {
	position: absolute;
	margin: auto;
	left: 49%;
	top: auto;
	margin-top: -2px;
	color: #fff;
	z-index: 1;
}

.ces-rc-val.ccq-rc-val {
	position: absolute;
	margin: auto;
	left: 59.3%;
	top: 5px;
	margin-top: -2px;
	color: #fff;
	z-index: 1;
}

.ces-rc-val.vaf-rc-val {
	position: absolute;
	margin: auto;
	left: 35%;
	top: 5px;
	margin-top: -2px;
	color: #fff;
	z-index: 1;
}

.main-rc-val fa-icon{
	font-size: 16px !important;
	color: #fff;
}

.cst-rc-val fa-icon{
	font-size: 22px !important;
	color: #fff;
}

.ces-rc-val fa-icon{
	font-size: 22px !important;
	color: #fff;
}

.knob-val {
	position: absolute;
	top: 0px;
	font-size: 13px;
	font-weight: bold;
	color: #dc3545;
	margin: 6%;
	width: 88%;
	padding: 30px 0px;
	border-radius: 50%;
}

.knob-val.cst-value {
	font-size: 16px;
	background-color: #fff;
	/*border: 1px solid #ccc;*/
	padding: 64px 0px;
}

.knob-val.ces-value {
	font-size: 16px;
	background-color: #fff;
	padding: 55px 0px;
}

.internal-dash-title {
	color: darkblue;
	/*font-variant: small-caps;*/
	text-transform: uppercase;
}

.middle-dash-panel {
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(30%, rgba(246,246,246,1)), color-stop(59%, rgba(226,226,226,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=1 );
}

.right-panel-dbox {
	margin: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 2px 3px #bbb;
}

.dlp-middle {
	height:45.5%;
	background-color: #fff;
	margin: 10px 20px;
	border-radius: 10px;
	box-shadow: -2px 0px 3px #bbb;
}

.req-btn, .exp-btn, .avail-btn {
	border-radius: 0px;
	height: auto;
	background-color: #9d9d9d;
	padding: 14px 10px 0px 20px;
	height: 50px;
	text-align: left;
}

.btn-txt-span {
	vertical-align: middle; 
	color: #fff;
}

.vaf-value {
	position: absolute;
	top: 26%;
	left: 53px;
	color: darkblue;
	font-size: 18px;
}

.current-active-dashboard {
	width: 5%;
	border-left: 3px solid #ffa800;
	height: 100%;
	float: left;
	background-color: #f2f2f2;
	margin-left: 36px;
}

.va-dash-border {
	border-left: 3px solid #dc3545 !important;
}

.current-active-knob {
	/*position: fixed;
	top: 10px;
	left: 21%;*/
	width: 80px;
	margin-left: -42px;
	margin-bottom: 133px;
	margin-top: 20px;
}

.current-active-knob .knob-val{
	position: absolute;
	top: 0px;
	font-size: 16px;
	font-weight: bold;
	color: #ffa800;
	margin: 6%;
	width: 88%;
	padding: 23px 0px;
	border-radius: 50%;
	background-color: #fff;
}

.va-dash-border .current-active-knob .knob-val {
	color: #dc3545;
}

.dash-div {
	/*cursor: pointer;*/
	margin-bottom: 50px;
}

.active-rc-val {
	padding-bottom: 2px;
	position: absolute;
	left: 2.6%;
	top: 11px;
	margin-top: 3px;
	color: #ffa800;
	z-index: 1;
}

.va-dash-border .active-rc-val {
	color: #dc3545;
}

.current-active-dash-name {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-left: -171px;
	padding: 15px;
	width: 340px;
	text-align: right;
}

.active-dash-name {
	font-variant: small-caps;
	color: #ffa800;
	padding: 0px 10px;
	font-size: 1.5rem;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 49%, rgba(242,242,242,1) 49%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(49%, rgba(226,226,226,1)), color-stop(49%, rgba(242,242,242,1)), color-stop(100%, rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 49%, rgba(242,242,242,1) 49%, rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 49%, rgba(242,242,242,1) 49%, rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 49%, rgba(242,242,242,1) 49%, rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(226,226,226,1) 49%, rgba(242,242,242,1) 49%, rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f2f2f2', GradientType=0 )
}

.va-dash-border .active-dash-name {
	color: #dc3545;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #aaa;
	position: absolute;
	left: 2.2%;
	top: 12.6%;
}

.local-footprint {
	margin-bottom: -15px;
}

.local-footprint .dlp-omap .dlp-obody{
	height: 200px !important;
}

.local-footprint .dlp-omap .dlp-head{
	font-size: 16px;
	font-family: 'segoeui', sans-serif;
	font-weight: bolder;
}

.mna-dash-kpi-score {
	font-size: 18px;
	font-family:Myriad Pro;
	font-stretch:Condensed;
}

.cst-value .mna-dash-kpi-score {
	font-size: 22px;
}

.map_content_main{
	width: 99%;
	margin: 0 auto;
}

.map_statistics_width{
	font-size: 19px;
}
.map_statistics_width .indMapPara{
	margin-top: 0;
	margin-bottom: 0.2rem;
	color: #9688e0;
}
.gblMapRow{
	margin: 20px 0px;

}

.footprint-toggle-btn{
	position: absolute;
	right: 65px;
}
.fooprint-toggle-inactive{
	background-color: #f8f9fa !important;
	color: white;
}
.fooprint-toggle-active{
	background-color: #dc3545;
	color: #fff !important;
}

.accordion ul.open .subarea.open { width: 5%; height: 100%; display: block;border-left: solid 2px #8282823d;}
.accordion ul.open .subarea-right.open{ 
	width: 4%;
	margin-top: 0.4%;
	height: 99%;
	display: block;
	padding-right: 6.5px;
}
.accordion ul.open .subarea-right.open .itemheight{ height: calc(100% / 7);border-radius: 5px;}
.accordion ul.open .subarea-right.open .itemheight:hover{ box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;cursor: pointer; }

.pskc{
	border-bottom: 5px solid #F868AE;
}
.pskc-bg{
	background-color: #F868AE;
}
.pskc-txt{
	color: #F868AE;
}

.cvac{
	border-bottom: 5px solid #afafaf;
}
.cvac-bg{
	background-color: #afafaf;
}
.cvac-txt{
	color: #afafaf;
}

.cstc{
	border-bottom: 5px solid #6c6c6c;
}
.cstc-bg{
	background-color: #6c6c6c;
}
.cstc-txt{
	color: #6c6c6c;
}

.adqc{
	border-bottom: 5px solid #914ee9;
}
.adqc-bg{
	background-color: #914ee9;
}
.adqc-txt{
	color: #914ee9;
}

.lsp{
	border-bottom: 5px solid #02c5fd;
}
.lsp-bg{
	background-color: #02c5fd;
}
.lsp-txt{
	color: #02c5fd;
}

.inp{
	border-bottom: 5px solid #6c6c6c;
}
.inp-bg{
	background-color: #6c6c6c;
}
.inp-txt{
	color: #6c6c6c;
}

.bns{
	border-bottom: 5px solid #afafaf;
}
.bns-bg{
	background-color: #afafaf;
}
.bns-txt{
	color: #afafaf;
}

.local-footprint .dlp-omap {
	height: 240px;
}

.local-footprint .dlp-omap .dlp-map {
	height: 220px;
	margin-top: 0px;
}

.dash-div .ldBar {
	width: 90% !important;
}

.dash-div .cst-ldBar {
	width: 100% !important;
}

.company-sentiment-div.w-55 {
	width: 55%;
}

.right-panel-icons {
	/*background-color: #848484;
	border-radius: 50%;*/
	padding: 15px 0px;
	margin-right: 20px;
}

.right-panel-titles {
	color: #848484;
}

.hidden-mobile {
	display: block;
}

.hidden-desktop {
	display: none;
}

.dash-none {
	display: none;
}

.local-footprint .p-cl {
	color: #848484;
}

.mna-home {
	height: auto;
	width: 25%;
}

.dlp-internal-dash {
	height: 82%;
    /*margin-top: 15px;*/
}

.dlp-int-dash-div {
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0px 2px 3px #bbb;
	height: 62px;
    border-radius: 4px;
}

.int-dash {
	margin-left: 15px;
	height: 100%;
	padding: 10px 15px;
	font-weight: 600;
}

.int-dash:hover {
	cursor: pointer;
	opacity: 0.6;
}

.dlp-int-dash-div img {
	width: 17%;
	margin-right: 15px;
}

.psk-dash {
	border-left: 4px solid #F868AE;
	color: #F868AE;
}

.lsp-dash {
	border-left: 4px solid #02C5FD;
	color: #02C5FD;
}

.cva-dash {
	border-left: 4px solid #AFAFAF;
	color: #AFAFAF;
}

.adq-dash {
	border-left: 4px solid #914EE9;
	color: #914EE9;
}

.cst-dash {
	border-left: 4px solid #6C6C6C;
	color: #6C6C6C;
}

.inp-dash {
	border-left: 4px solid #6C6C6C;
	color: #6C6C6C;
}

.bns-dash {
	border-left: 4px solid #AFAFAF;
	color: #AFAFAF;
}

.ccq-div.w-55 {
	width: 55%;
}

.vaf-div.w-55 {
	width: 55%;
}

.recommendation-btn {
	background-color: #ffa800;
	color: #fff;
}

.ccq-div {
	margin: 10px 30px 10px auto;
}

.vaf-div {
	margin: 10px auto 10px 50px;
}



/*/ 16032020 /*/
.local-footprint{
	margin-top:10px;
}
.nav-highchart{
	position:absolute;
	width:100%;
	margin-top:-95px!important;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	z-index:2;
	color:#fff;
}
.nav-highchart-menu-left{
	padding-left:30px;
}
.nav-highchart-menu-right{
	padding-left:50px;
}
/*/ 16032020 /*/

@media screen and  (min-width: 768px) and (max-width: 1366px) {
	.db .drp .dbox .dbx-body {
		font-size: 11px; 
	}

	/*.db .dlp .dlp-odata {*/
	.middle-dash-panel .dlp-odata{ 
		height: 180px !important;
	}

	.dlp-middle {
		/*height:60.5%;*/
		height: 54.5%;
	}

	.ccq-value { 
		top: 15px;
	}

	.db .dlp .dlp-oscore .dlp-oslogo {
		width: 91px;
		height: 91px;
	}

	.vaf-value {
		position: absolute;
		top: 28%;
		left: 53px;
	}

	.dlp-osr .dlp-osname{
		margin-top: 10px;
	}

	.main-rc-val {
		left: 42%;
		margin-top: -4px;
	}

	.cst-rc-val {
		left: 47%;
		margin-top: -7px;
	}

	.ces-rc-val.ccq-rc-val {
		left: 57%;
		top: auto;
		margin-top: -7px;
	}

	.ces-rc-val.vaf-rc-val {
		left: 37%;
		top: auto;
		margin-top: -7px;
	}

	.active-rc-val {
		left: 3%;
	}

	.arrow-down {
		left: 2.5%;
		top: 15.1%;
	}

	.knob-val.cst-value {
		background-color: #fff;
		padding: 22% 0px;
		height: 170px;
	}

	.knob-val.ces-value {
		font-size: 12px;
		background-color: #fff;
		padding: 22% 0px;
		height: 147px;
	}

	.ldBar.ces-ldBar {
		height: 45% !important;
	}

	.local-footprint .dlp-omap {
		height: auto;
	}
	.nav-highchart-menu-right {
	    padding-left: 30px !important;
	    text-align: center;
	}
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
	
	/* for speedometer highchart */
	.middle_graph svg {
		-webkit-transform: scaleX(0.5) scaleY(0.5) translateY(-300px) translateX(-340px);
		transform: scaleX(0.5) scaleY(0.5) translateY(-290px) translateX(-450px)!important;
	}
	/* for speedometer highchart */
	
	.mna-dash-kpi-score{
		font-size: 8px;
	}
	.internal-dash-title{
		font-size: 8px;
	}
	.knob-val{
		padding: 21px 0px;
		font-size: 10px;
	}

}

@media screen and (min-width: 320px) and (max-width: 359px) {
	.current-active-dashboard-mbl, .subarea-right-mbl{
		display: none !important;
	}

	.accordion ul.open li.open, .accordion ul.open li.open {
		width: 100%;
	}

	.db .dlp {
		height: 750px !important;
	}

	.db .dlp .dlp-top {
		height: 13%;
	}

	.dlp-middle {
		height: 56%;
	}

	.db .dlp .dlp-odata { 
		height: 180px;
		text-align: center;
		font-size: 16px;
		padding: 10px;
		border-style: none;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		background-color: #fff;
		margin: 15px 0px;
		border-radius: 10px;
		box-shadow: 0px 2px 3px #bbb;
		border: 1px solid #eee;
	}

	.db .dlp .dlp-obody .dlp-od-lbl {
		font-size:12px; font-weight: 700; color: #848484;
	}

	/* For speedometer highchart 13032020 */

	.middle-dash-panel .dlp-odata{ 
		/* height: 25%; */
		height:95%;
	}

	.middle_graph svg {
		-webkit-transform: scaleX(0.5) scaleY(0.5) translateY(-300px) translateX(-340px);
		transform: scaleX(0.5) scaleY(0.5) translateY(-280px) translateX(-340px);
	}
	.heading {
		text-align: center;
		bottom: 0;
		position: relative;
	}
	.middle-dash-panel .dlp-odata {
		margin:0px 0px;
	}
	.db .dlp {
	
		height: 130px !important;
	}

	/* For speedometer highchart 13032020 */

	.db .drp .dboxes .dbox {
		max-width: 100%;
		margin: 19px;
	}

	.db .drp .dbox .dbx-title {
		margin: 9px 0px;
	}

	.db .drp .dbox .dbx-body {
		height: 125px;
	}

	.db .drp .dbox .dbx-body .dbx-slide .dbx-slidecontent {
		width: 250px;
		padding: 0px 20px;
	}

	.db .drp .dbox .dbx-body .dbx-slide .dbx-slidesign {
		padding: 0px 20px;
	}

	.db .drp {
		height: auto !important;
	}

	.hidden-mobile {
		display: none;
	}

	.hidden-desktop {
		display: block;
	}

	.local-footprint .dlp-omap {
		margin-top: 15px;
	}

	.knob-val {
		padding: 15px 0px;
	}

	.knob-val.cst-value {
		padding: 28px 0px;
		background-color: transparent;
	}

	.knob-val.ces-value {
		padding: 22px 0px;
		/*background-color: transparent;*/
	}

	.main-rc-val {
		left: 42%;
		margin-top: -5px;
	}

	.cst-rc-val {
		left: 47%;
		margin-top: -7px;
	}

	.ces-rc-val.ccq-rc-val {
		left: 40%;
		margin-top: -2px;
	}

	.ces-rc-val.vaf-rc-val {
		left: 40%;
		margin-top: -2px;
	}

	.db .dcp, .db .dcp.expanded {
		height: auto !important;
	}

	.db .drp {
		border-top: none;
	}

	.db .drp .dbtnset {
		padding: 0px 2px 0px 8px;
	}

	.map_statistics_width {
		font-size: 10px;
	}

	/*.middle-dash-panel {
		background: none;
	}*/

	.ccq-div {
		margin: 10px auto 10px auto;
	}

	.vaf-div {
		margin: 10px auto 10px auto;
	}

	.db .dlp .dlp-omap {
		box-shadow: none;
	}

	.dlp-internal-dash {
		background: rgba(255,255,255,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(30%, rgba(246,246,246,1)), color-stop(59%, rgba(226,226,226,1)), color-stop(100%, rgba(226,226,226,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=1 );
	}

	.ccq-div.w-55 {
		width: 100%;
	}

	.vaf-div.w-55 {
		width: 100%;
	}

	.knob-val.ces-value {
		font-size: 8px; 
	}

	.ces-rc-val fa-icon {
		font-size: 16px !important;
	}

	/*/ 1603202 /*/
	.nav-highchart-menu-left {
		padding-right: 50px;
	padding-left: 0px;
	text-align:right;
	font-size:10px;
	}
	.nav-highchart-menu-right {
		padding-right: 0px;
	padding-left: 25px;
	text-align:left;
	font-size:10px;
	}
	.nav-highchart{
		margin-top:-130px!important;
	}
	.heading{
		margin-left:0px;
		margin-right:0px;
	}
	/*/ 160320 /*/

}

@media screen and (min-width: 360px) and (max-width: 420px) {
	.current-active-dashboard-mbl, .subarea-right-mbl{
		display: none !important;
	}

	.accordion ul.open li.open, .accordion ul.open li.open {
		width: 100%;
	}

	.db .dlp {
		height: 750px !important;
	}

	.db .dlp .dlp-top {
		height: 10%;
	}

	.dlp-middle {
		height: 56%;
	}

	.db .dlp .dlp-odata { 
		height: 180px;
		text-align: center;
		font-size: 16px;
		padding: 10px;
		border-style: none;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		background-color: #fff;
		margin: 15px 0px;
		border-radius: 10px;
		box-shadow: 0px 2px 3px #bbb;
		border: 1px solid #eee;
	}

	.middle-dash-panel .dlp-odata{ 
		height: 25%;
	}

	.db .drp .dboxes .dbox {
		max-width: 100%;
		margin: 19px;
	}

	.db .drp .dbox .dbx-title {
		margin: 9px 0px;
	}

	.db .drp .dbox .dbx-body {
		height: 125px;
	}

	.db .drp .dbox .dbx-body .dbx-slide .dbx-slidecontent {
		width: 250px;
		padding: 0px 20px;
	}

	.db .drp .dbox .dbx-body .dbx-slide .dbx-slidesign {
		padding: 0px 20px;
	}

	.db .drp {
		height: auto !important;
	}

	.hidden-mobile {
		display: none;
	}

	.hidden-desktop {
		display: block;
	}

	.local-footprint .dlp-omap {
		margin-top: 15px;
	}

	.knob-val {
		padding: 25px 0px;
	}

	.knob-val.cst-value {
		padding: 37px 0px;
		background-color: transparent;
	}

	.knob-val.ces-value {
		font-size: 9px;
		padding: 28px 0px;;
		/*background-color: transparent;*/
	}

	.main-rc-val {
		left: 42%;
		margin-top: -5px;
	}

	.cst-rc-val {
		left: 47%;
		margin-top: -7px;
	}

	.ces-rc-val.ccq-rc-val {
		left: 40%;
		margin-top: 0px;
	}

	.ces-rc-val.vaf-rc-val {
		left: 40%;
		margin-top: 0px;
	}

	.db .dcp, .db .dcp.expanded {
		height: auto !important;
	}

	.db .drp {
		border-top: none;
	}

	.map_statistics_width {
		font-size: 16px;
	}

	.db .drp .dbtnset {
		padding: 0px 10px 0px 10px;
	}

	/*.middle-dash-panel {
		background: none;
	}*/

	.ccq-div {
		margin: 10px auto 10px auto;
	}

	.vaf-div {
		margin: 10px auto 10px auto;
	}

	.ces-rc-val fa-icon {
		font-size: 16px !important;
	}

	.db .dlp .dlp-omap {
		box-shadow: none;
	}

	.ccq-div.w-55 {
		width: 100%;
	}

	.vaf-div.w-55 {
		width: 100%;
	}

	.dlp-internal-dash {
		background: rgba(255,255,255,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(30%, rgba(246,246,246,1)), color-stop(59%, rgba(226,226,226,1)), color-stop(100%, rgba(226,226,226,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 30%, rgba(226,226,226,1) 59%, rgba(226,226,226,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=1 );
	}

	.dlp-int-dash-div img {
		width: 15%;
	}

	/* For speedometer highchart 13032020 */

	.middle-dash-panel .dlp-odata{ 
		/* height: 25%; */
		height:95%;
	}

	.middle_graph svg {
		-webkit-transform: scaleX(0.5) scaleY(0.5) translateY(-300px) translateX(-340px);
		transform: scaleX(0.5) scaleY(0.5) translateY(-290px) translateX(-300px);
	}
	.heading {
		text-align: center;
		bottom: 0;
		position: relative;
		margin-left:0px;
		margin-right:0px;
	}
	.middle-dash-panel .dlp-odata {
		margin:0px 0px;
	}
	.db .dlp {
	
		height: 130px !important;
	}
	/* For speedometer highchart 13032020 */

	/*/ 1603202 /*/
	.nav-highchart-menu-left {
		padding-right: 60px;
	padding-left: 0px;
	text-align:right;
	font-size:12px;
	}
	.nav-highchart-menu-right {
		padding-right: 0px;
		padding-left: 30px;
		text-align: left;
		font-size: 12px;
	}
	.nav-highchart{
		margin-top:-120px !important;
	}
	/*/ 160320 /*/

}

@media(min-width:421px) and (max-width:768px){
	.middle-dash-panel .dlp-odata{ 
		/* height: 25%; */
		height:95%;
	}

	.middle_graph svg {
		-webkit-transform: scaleX(0.5) scaleY(0.5) translateY(-300px) translateX(-340px);
		transform: scaleX(0.5) scaleY(0.5) translateY(-290px) translateX(-10%);
	}
	.heading {
		text-align: center;
		bottom: 0;
		position: relative;
	}
	.middle-dash-panel .dlp-odata {
		margin:0px 0px;
	}
	.db .dlp {
	
		height: 130px !important;
	}

	.nav-highchart-menu-left {
		padding-right: 80px;
	padding-left: 0px;
	text-align:right;
	font-size:12px;
	}
	.nav-highchart-menu-right {
		padding-right: 0px;
		padding-left: 50px;
		text-align: left;
		font-size: 12px;
	}
	.nav-highchart{
		margin-top:-130px !important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {

	/* For speedometer highchart 13032020 */
	.nav-highchart{
		margin-top:-130px!important;
	}
	.middle_graph svg {
		-webkit-transform: scaleX(0.5) scaleY(0.5) translateY(-300px) translateX(-340px);
		transform: scaleX(0.5) scaleY(0.5) translateY(-280px) translateX(-400px);
	}
	.heading {
		text-align: center;
		bottom: 0;
		position: relative;
	}
	/* For speedometer highchart 13032020 */
	.mna-home {
		width: 16%;
	}

	.db .dlp .dlp-ologo img {
		width: 40%;
	}

	.db .drp .dboxes .dbox {
		max-width: 30%;
		height: 200px;
		float: left;
		margin: 0px 5px;
	}

	.dbx-icode{
		width: 20px !important;
	}

	.db .drp .dbox .dbx-body .dbx-item .dbx-idesc {
		width: calc(100% - 130px);
	}

	.dbx-slidecontent{
		padding-left:3rem !important;
		padding-right:3rem !important;
	} 

	.dbx-slidesign{
		padding-left:2rem !important;
	}

	.db .drp .dbox .dbx-body{
		height: 145px;
	}

	.db .drp .dbtnset .dbtns .btn{
		width: 32%;
		margin-bottom: 2px;
		height: 50px;
		float: left;
	}

	.dboxes-mbl{
		margin-left: 1.5rem;
	}

	.dboxes-mbl1{
		margin-left: 1.4rem;
	}

	.dbp-ipad{
		height: auto !important;
	}

	.db .drp .dbtnset {
		margin-top: 20px;
	}

	.db .drp {
		border-top: none;
	}

	.active-rc-val {
		left: 4.2%;
	}

	.arrow-down {
		display: none;
	}

	.accordion ul.open li.open {
		width: 89.5%
	}

	.int-dash {
		font-size: 18px;
		padding: 8px 40px;
	}

	.dlp-int-dash-div img {
		width: 7%;
		margin-right: 40px;
	}

	.db .dlp {
		height: 700px !important;
	}

	.db .dlp .dlp-top {
		height: 17%;
	}

	.dlp-internal-dash {
		height: 83%;
	}


}
@media screen and (min-width:802px) and (max-width:991px){
	.nav-highchart{
		margin-top: -110px !important;
	}
	.nav-highchart-menu-left{
		padding-left: 30px!important;
		font-size: 8px!important;
	}
	.nav-highchart-menu-right {
		padding-left: 15px !important;
		text-align: left!important;
		font-size: 8px!important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	/* For speedometer highchart 13032020 */
	.middle_graph svg {
		-webkit-transform: scaleX(0.5) scaleY(0.5) translateY(-300px) translateX(-340px);
		transform: scaleX(0.5) scaleY(0.5) translateY(-280px) translateX(-460px);
	}
	.heading {
		text-align: center;
		bottom: 0;
		position: absolute;
	}
	/* For speedometer highchart 13032020 */
	.dlp-int-dash-div img {
		width: 16%;
		margin-right: 10px;
	}

	.int-dash {
		font-size: 13px;
		padding: 10px 15px;
	}

	.db .dlp {
		height: 100%;
	}

	.db .dlp .dlp-top {
		height: 8%;
	}

	.dlp-internal-dash {
		height: 90%;
	}

	.left-sm, .right-sm {
		flex: 0 0 10%;
		max-width: 10%;
	}

	.middle-sm {
		flex: 0 0 80%;
		max-width: 80%;
	}

	.ccq-div.w-55 {
		width: 80%;
	}

	.vaf-div.w-55 {
		width: 80%;
	}

	.ccq-div {
		margin: 10px auto 10px auto;
	}

	.vaf-div {
		margin: 10px auto 10px auto;
	}

	.knob-val.ces-value {
		padding: 35px 0px;
		height: 104px;
	}

	.ces-rc-val fa-icon {
		font-size: 20px !important;
	}

	.ces-rc-val.ccq-rc-val {
		left: 41%;
		margin-top: -9px;
	}

	.ces-rc-val.vaf-rc-val {
		left: 41%;
		margin-top: -9px;
	}

	.overview-title {
		font-size: 14px;
	}

	.middle-dash-panel .dlp-odata .dlp-obody {
		padding-top: 0px;
	}

	.db .drp .dboxes .dbox {
		max-width: 85%;
		height: 155px;
		margin: 5px;
	}

	.db .drp .dbox .dbx-body .slick-slider .slick-list {
		padding: 0px !important;
	}

	.db .drp .dbox .dbx-body .slick-slider {
		width: calc(100% - 10px);
		max-width: 300px
	}

	.db .drp .dbox .dbx-body .dbx-slide .dbx-slidecontent {
		width: 260px;
		height: calc(100% - 50px);
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}

	.db .drp .dboxes {
		height: calc(100% - 270px);
	}

	.db .drp .dbtnset {
		height: 230px;
	}

	.dboxes-mbl1 {
		margin-left: 1rem;
	}

	.db .drp .dbtnset .dbtns {
		width: 94%
	}

	.db .drp .dbtnset .dbtns .btn {
		width: 100%;
	}

	.db .dlp {
		height: 100% !important;
	}

	.mna-dash-kpi-score {
		font-size: 12px;
	}

	.internal-dash-title {
		font-size: 9px;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
	.int-dash {
		padding: 10px;
	}
	.middle_graph_mna svg {
		transform:scaleX(0.6) scaleY(0.6) translateY(-205px) translateX(-238px)!important;
	}
	.nav-highchart-menu-right{
		padding-left:0px!important;
		font-size:12px!important;
		text-align:center!important;
	}
	.nav-highchart-menu-left{
		padding-left: 0px !important;
font-size: 12px;
text-align: center;
	}
}

@media only screen and (min-width: 1280px) and (max-width:1300px){
	.nav-highchart-menu-right {
		padding-left: 100px;
	}
}
@media only screen and (min-width: 1440px){
	.nav-highchart-menu-right {
		padding-left: 10px!important;
    text-align: center!important;
	}
	.nav-highchart-menu-left {

	padding-left: 0px!important;
text-align: center!important;
	}
	.nav-highchart{
		margin-top:-110px!important;
	}
}
@media only screen and (max-width: 1440px) and (min-width: 675px){
	.nav-highchart-menu-right {
		padding-left: 40px;
    text-align: left;
    	
	}
	.nav-highchart-menu-left{
		padding-left:50px;
	}
}
@media screen and (min-width:1600px){
	.nav-highchart-menu-right {
		padding-left: 0px;
		text-align : center;
	}
	.nav-highchart-menu-left {
		padding-left: 25px;
		text-align: center;
	}
	.nav-highchart{
		margin-top:-120px!important;
	}
}
@media screen and (min-width:1900px){
	.nav-highchart-menu-right {
		padding-left: 0px;
	    padding-right:50px;
	}
}
