.container { height: 100%; }
.container > row { height: 100%; }
.navhead { width: 100%; padding: 10px 0px; margin-bottom: 10px; border-bottom: solid 1px #ddd; margin-left: 0px; margin-right: 0px; }
.upload-emp-btn { margin-top: 6px; }
.error { color: red; margin-top: 10px; margin-bottom: 10px;}
/*.employee-upload-summary-page { border-bottom: solid 1px #ddd; margin-bottom: 20px; padding-bottom: 20px;}*/
#uploadEmployees .modal-lg {
	max-width: calc(100% - 50px);
}

#uploadEmployees .modal-dialog{
	margin: 3.75rem auto;
}

#summary_table tbody {
    display:block;
    height:250px;
    overflow:auto;
}
#summary_table thead, #summary_table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
#summary_table tbody td {
    overflow-wrap: break-word;
}
table#summary_table {
    width:100%;
}
.error span {
	margin-top: 10px;margin-bottom: 10px;margin-right: 10px;
}
.back-btn {
	margin-top: 10px;margin-bottom: 10px;
}
.table-bordered#summary_table {
	border: none;
}