<block-ui></block-ui>
<div class="db">
	<app-header></app-header>
	<div class="container">
		<div class="row navhead">
			<div class="col-lg-9 col-md-9" style="padding-left: 0px;">
				<h3>Employees</h3>
			</div>
			<div class="col-lg-3 col-md-3 text-right" style="padding-right: 0px;">
				<button class="btn btn-info upload-emp-btn" data-toggle="modal" data-backdrop="static" data-target="#uploadEmployees" (click)="resetUploadEmployees()">Upload Employees</button>
			</div>

			<div class="modal fade" id="uploadEmployees" role="dialog">
				<div class="modal-dialog modal-lg modal-notify modal-info">
					<div class="modal-content">
						<div class="modal-header">
							<h6 class="modal-title" id="exampleModalLongTitle">Upload Organization Employees</h6>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body pt-0">
							<div class="row">
								<div  [ngClass]="{'bg-white border-bottom-0 text-primary': uploadtab === 'filetab'}"  class="col-lg-6 col-md-6 card-header border pt-2 pb-2 text-center">
									Select CSV File
								</div>
								<div [ngClass]="{'bg-white  border-bottom-0 text-primary': uploadtab === 'previewtab'}"  class="col-lg-6 col-md-6 card-header border pt-2 pb-2 text-center">
									Upload Employees Preview
								</div>
							</div>
							<div *ngIf="summarypage === false" class="row card-body">
								<div class="col-lg-12 col-md-12">
									<input type="file" #csvReader name="Upload CSV" (change)="uploadListener($event)" id="txtFileUpload" accept=".csv" />
									<button class="btn btn-info" (click)="uploadEmployeeCSV()">Upload</button>
								</div>
								<div class="col-lg-12 col-md-12">
									<span class="error" *ngIf="errorcsvfile !== '' ">{{errorcsvfile}}</span>
								</div>
							</div>
							<div *ngIf="summarypage === true" class="row card-body">
								<div class="col-lg-12 col-md-12">
									<div class="employee-upload-summary-page">
										<!-- <div>
											<h5>Upload Employees Preview</h5>
										</div> -->
										<div class="error" *ngIf="all_records_valid === true">
											<span>There are some issues with the data you uploaded. Please see the status column for more specific errors.</span>
											<button class="btn btn-info back-btn" (click)="resetUploadEmployees()">Go Back</button>
										</div>
										<table id="summary_table" class="table table-bordered table-sm table-hover">
											<thead>
												<tr>
													<th>CSV line</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>DOB</th>
													<th>Gender</th>
													<th>Marital Status</th>
													<th>Company Email</th>
													<th>New Email</th>
													<th>Designation</th>
													<th>Total Experience</th>
													<th>Prefered Language</th>
													<th>Department</th>
													<th>Address</th>
													<th>Mobile</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let user of userRecords">
													<td>{{user.csvline}}</td>
													<td>{{user.firstname}}</td>
													<td>{{user.lastname}}</td>
													<td>{{user.dob}}</td>
													<td>{{user.gender}}</td>
													<td>{{user.marital_status}}</td>
													<td>{{user.company_email}}</td>
													<td>{{user.new_email}}</td>
													<td>{{user.designation}}</td>
													<td>{{user.total_experience}}</td>
													<td>{{user.prefered_language}}</td>
													<td>{{user.department}}</td>
													<td>{{user.address}}</td>
													<td>{{user.mobile}}</td>
													<td class="error">{{user.error}}</td>
												</tr>
											</tbody>
										</table>
										<div *ngIf="all_records_valid !== true">
											<button class="btn btn-info" (click)="uploadOrgEmployees()">Upload Users</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="view-employees">
					<table class="table table-bordered table-sm table-hover">
						<thead>
							<tr>
								<th>Sr. No</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>DOB</th>
								<th>Gender</th>
								<th>Marital Status</th>
								<th>Company Email</th>
								<th>Designation</th>
								<th>Address</th>
								<th>Mobile</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let orgemp of orgEmployees;let i = index">
								<td>{{i+1}}</td>
								<td>{{orgemp.first_name}}</td>
								<td>{{orgemp.last_name}}</td>
								<td>{{orgemp.dob}}</td>
								<td>{{orgemp.gender}}</td>
								<td>{{orgemp.marital_status}}</td>
								<td>{{orgemp.company_email}}</td>
								<td>{{orgemp.designation}}</td>
								<td>{{orgemp.address}}</td>
								<td>{{orgemp.mobile}}</td>
								<td>
									<button class="btn btn-danger" (click)="deleteEmployee(orgemp.org_id, orgemp.company_email)">delete</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>