<block-ui></block-ui>
<div class="db">
	<app-header></app-header>
	<div class="container">
		<div class="row navhead">
			<div class="col-lg-9 col-md-9" style="padding-left: 0px;">
				<h3>Projects</h3>
			</div>
			<div class="col-lg-3 col-md-3 text-right" style="padding-right: 0px;">
				<button class="btn btn-info request-project-btn" (click)="requestProject()">Request Project</button>
			</div>
		</div>
	</div>
</div>