<block-ui></block-ui>
<div class="sv" [ngClass]="{'ins': surveyView !== 'survey'}">
	<div class="svhead row w-75 shadow width-100 padding-0" >
		<div  class="dlp-ologo col-2  p-2">
			<img  *ngIf="survey?.user_source === 'VI'" src="assets/images/mna-login-banner.jpg" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" />
			<img *ngIf="survey?.user_source !== 'VI'" src="assets/images/culturelytics_logo.jpg" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" />
		</div>
		<div class="row col-8 pr-0">
			<div class="col-lg-12 col-md-12 page-heading">
				<h3 *ngIf="survey?.user_source === 'VI'" class=" pt-3 fontsize">Ayurvet Culture Survey</h3>
				<h3 *ngIf="survey?.user_source !== 'VI'" class=" pt-3 fontsize">Decode your Culture</h3>
			</div>
		</div>
		<div [hidden]="surveyView !== 'survey' || survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null" class="dlp-ologo col-2 text-right p-2"><img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" /></div>
	</div>  
<div class="svbody">
	<div class="svins cscroll" [hidden]="surveyView !== 'intro' && surveyView !== ''" style="padding: 0px;">
		<!--<div class="svins-title"><fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>{{survey?.projectTitle}}</div>-->
		<div class="svins-lp">
			<div class="svins-title dlp-ologo" >
				<img  *ngIf="survey?.user_source === 'VI'" src="assets/images/mna-login-banner.jpg" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" style="width: 80px;" />
				<img *ngIf="survey?.user_source !== 'VI'" src="assets/images/culturelytics_logo.jpg" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}"  style="width: 80px;" />
			</div>
			<div class="svins-body cscroll" >
				<div class="svins-rpbdy"><img class="img-fluid" src="assets/images/datalake/Datalake_research.png"  /></div>
			</div>
		</div>
		<div class="svins-rp" style="background-color: #e4e4e4 !important">
			<div class="svins-title dlp-ologo" style="text-align: right;" [hidden]="survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null">
				<img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}"  style="width: 80px;" />
			</div>
			<div class="svins-ins" *ngIf="survey !== undefined && survey?.instructions !== undefined">
				<ol>
					<li *ngFor="let ins of survey?.instructions">{{ins}}</li>
				</ol>
			</div>
			<div class="svins-inshead text-justify p-4" >
				<h5 style="color: #8b79dd;">Welcome,</h5>
				<p [innerHTML]="survey?.welcomeNote"></p>
				<div class="important-note">
					<p><strong>Important Note: </strong> Please do not press back button while taking the survey.</p>
				</div>
			</div>
			<div class="svins-footer text-left pl-4"><button class="btn s-btn" (click)="startSurvey()" title="Continue">Continue</button></div>
		</div>
	</div>

	<div class="svins thanks" [hidden]="surveyView !== 'thanks' && surveyView !== 'athanks'">
		<div class="svins-lp cscroll">
			<div class="svins-body cscroll">
				<div class="svins-thankshead">THANK YOU!</div>
				<div class="svins-ins msg">
					<div class="s-cl bold" [hidden]="surveyView !== 'thanks'">You have completed the survey.</div>
					<div class="p-cl bold" [hidden]="surveyView !== 'athanks'">You have already completed the survey.</div>
					<!-- ELSA is a first of it's kind learning platform providing tailored analytical dashboards for your learning. -->
				</div>
				<!-- <div class="svins-ins icons">
					<img src="assets/images/survey_thanks_icons.png" style="width:100%">
				</div> -->
				<!-- <div style="margin-bottom: 10px; text-align: center; font-size: 14px;">Please <a style="color: #007bff;" (click)="loadComAssessment()">click here</a> to continue TIPE Assessment.
				</div> -->
				<!-- <div class="svins-ins">
					Learning has a new way!
				</div>
				<div class="svins-ins">
					<a class="link s-link" title="http://www.e2epeoplepractices.com/register.php" href="http://www.e2epeoplepractices.com/register.php">http://www.e2epeoplepractices.com/register.php</a>
				</div> -->
			</div>
		</div>
		<div class="svins-rp">
			<!-- <div class="svins-title dlp-ologo" [hidden]="survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null"><img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" /></div> -->
			<div class="svins-rpbdy"><img src="assets/images/survey_thanks.png" /></div>
		</div>
	</div>
	<div class="svins thanks cscroll" [hidden]="surveyView !== 'error' && surveyView !== 'aerror'">
		<div class="svins-lp cscroll">
			<div class="svins-body cscroll">
				<div class="svins-thankshead">SORRY!</div>
				<div class="svins-ins msg">
					<div class="alert alert-danger" [hidden]="surveyView !== 'error'">
						Survey is not found or has expired. contact support team.
					</div>
					<div class="alert alert-danger" [hidden]="surveyView !== 'aerror'">
						Unfortunately your survey is not submitted. Try again later.
					</div>
					<!-- ELSA is a first of it's kind learning platform providing tailored analytical dashboards for your learning. -->
				</div>
				<div class="svins-ins icons">
					<!-- <img src="assets/images/survey_thanks_icons.png" style="width:100%"> -->
				</div>
				<div class="svins-ins">
					<!-- Learning has a new way! -->
				</div>
				<!-- <div class="svins-ins">
					<a class="link s-link" title="http://www.e2epeoplepractices.com/register.php" href="http://www.e2epeoplepractices.com/register.php">http://www.e2epeoplepractices.com/register.php</a>
				</div> -->
			</div>
		</div>             
		<div class="svins-rp">
			<div class="svins-title dlp-ologo" [hidden]="survey?.projectLogo === undefined || survey?.projectLogo === '' || survey?.projectLogo === null"><img src="{{survey?.projectLogo}}" alt="{{survey?.projectTitle}}" title="{{survey?.projectTitle}}" /></div>
			<div class="svins-rpbdy"><img src="assets/images/survey_thanks.png" /></div>
		</div>
	</div>

	<div class="svq" [hidden]="surveyView !== 'survey'">
		<div class="sv-index" [hidden]="survey?.projectType === 'datalake'">
			<div class="svi-label s-cl">
				Question 
			</div>
			<div class="svi-items" >
				<div class="svind-item" *ngFor="let question of survey?.questions;  let i = index;" [style.width.%]="(100 / survey?.questions.length)">
					<div class="svii-bar" [ngClass]="{'full': userAnswers[i] !== undefined && userAnswers[i].answered === true, 'current': currentQuestionIndex === i}"></div>
					<div class="svii-num s full" *ngIf="i === 0" >S</div>
					<div class="svii-num" [ngClass]="{'full': userAnswers[i] !== undefined && userAnswers[i].answered === true, 'current': currentQuestionIndex === i}">{{i+1}}</div>
				</div>
			</div>
		</div>

		<div class="svq-body cscroll svona dlake p-3 w-75 width-100">
			<!-- <div class="col-1">
				<div *ngFor="let question of survey?.questions; let x = index;"  class="circle">{{x+1}}</div>
			</div> -->
			<div  *ngFor="let question of survey?.questions; let i = index;"  class="row">
				<div *ngIf="lastQstatus === false && i <= survey?.questions.length-2"   [ngClass]="{'circle1': question?.id !== '115', 'circle2': question?.id === '115', 'visibled': visibilityflag !== i , 'circle1_border': visibilityflag === i, 'selected_itm_line': survey.questions[i].answered === true}" class="col-1 dis-none  p-0 mt-2" >
					
					<div [ngClass]="{'visibledtextno': visibilityflag === i }"><p [ngClass]="{'circle': visibilityflag !== i, 'circle_active': visibilityflag === i, 'selected_itm_bg': survey.questions[i].answered === true }" class="">{{i+11}} </p></div>
				</div>
				<div *ngIf="lastQstatus === true && i >= survey?.questions.length-1"  [ngClass]="{'circle1': question?.id !== '115', 'circle2': question?.id === '115', 'visibled': visibilityflag !== i , 'circle1_border': visibilityflag === i, 'selected_itm_line': survey.questions[i].answered === true}" class="col-1 dis-none  p-0 mt-2" >
					
					<div [ngClass]="{'visibledtextno': visibilityflag === i }"><p [ngClass]="{'circle': visibilityflag !== i, 'circle_active': visibilityflag === i, 'selected_itm_bg': survey.questions[i].answered === true }" class="">{{i+11}} </p></div>
				</div>


				<div *ngIf="lastQstatus === false && i < survey?.questions.length-1" [ngClass]="{'visiblediv': visibilityflag === i, 'current_div': visibilityflag === i }" class="col-11 card p-0" >
					<div [ngClass]="{'visibledtext': visibilityflag === i }" class="pl-2 pt-2 text-left " style="display: flex;">
						<p [ngClass]="{'q_arow': visibilityflag !== i, 'q_arow_active': visibilityflag === i }"  class=""></p>
						<!-- <img src="{{question.questionIcon}}" style="width:20px;height:25px;margin-right: 5px;"> -->
						 <p [innerHTML]="question.questionText"></p>
					</div>
					
					<div class="card-body text-left pt-0">
						<div [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'st'" >
							<div>
								<div class="svq-optbox">
									<div class="row cscroll">
										<!-- <ng-autocomplete #auto [(ngModel)]="dldata.stqanswer" placeHolder="Type to search.." [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"></ng-autocomplete> -->
										<input type="text" class="form-control col-10 form-control-sm" placeholder="Enter your answer here" style = "z-index:999" (keyup)="enableStSave()" [(ngModel)]="dldata.stqanswer" tabindex="1" autofocus >
									</div>
									<div class="row">
										<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
											<button class=" s-btn  ml-2 sv_btn_position" [disabled]="userAnswers[i]?.answers.length >= 1" (click)="saveDlAnswer(i)">Save Answer</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'st1'" >
							<div>
								<div class="svq-optbox">
									<div class="row cscroll">
										<input type="text" class="form-control col-10 form-control-sm"  placeholder="Enter your answer here" style = "z-index:999" (keyup)="enableStSave()" [(ngModel)]="dldata.stqanswer1" tabindex="1" autofocus>
									</div>
									<div class="row">
										<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
											<button class=" s-btn  ml-2 sv_btn_position" [disabled]="userAnswers[i]?.answers.length >= 1" (click)="saveDlAnswer(i)">Save Answer</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'st2'" >
							<div>
								<div class="svq-optbox">
									<div class="row cscroll">
										<input type="text" class="form-control col-10 form-control-sm"  placeholder="Enter your answer here" style = "z-index:999" (keyup)="enableStSave()" [(ngModel)]="dldata.stqanswer2" tabindex="1" autofocus>
									</div>
									<div class="row">
										<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
											<button class=" s-btn  ml-2 sv_btn_position" [disabled]="userAnswers[i]?.answers.length >= 1" (click)="saveDlAnswer(i)">Save Answer</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'st3'" >
							<div>
								<div class="svq-optbox">
									<div class="row cscroll">
										<input type="text" class="form-control col-10 form-control-sm" placeholder="Enter your answer here" style = "z-index:999" (keyup)="enableStSave()" [(ngModel)]="dldata.stqanswer3" tabindex="1" autofocus>
									</div>
									<div class="row">
										<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
											<button class=" s-btn  ml-2 sv_btn_position" [disabled]="userAnswers[i]?.answers.length >= 1" (click)="saveDlAnswer(i)">Save Answer</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp d-flex ttQ" *ngIf="question?.questionType === 'tt'">
							 

							<input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control col-4 form-fontsize form-control-sm ml-2" placeholder="Enter number of pitches" id="" name="" (keyup)="enableTtSave()" [(ngModel)]="dldata.ttqanswer2">

							<span class="colon" style="margin: auto 5px auto 13px;font-size: 16px;"><strong> : </strong></span> 

							<input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control col-4 form-fontsize form-control-sm" placeholder="Enter number of deals"  id="" name="" (keyup)="enableTtSave()" [(ngModel)]="dldata.ttqanswer1">


							<button class="sv_btn_position s-btn  ml-2" [disabled]="this.showdl1form === false" (click)="saveDlAnswer(i)">Save Answer</button>
						</div>
						<div [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'mcs'">
							<div >
							<div class="svq-optbox">
								<div class="row cscroll" *ngIf="question?.id === '114'">
									<div class="svq-optcase col-12 col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of question?.options;  let j = index;" >
										<div class="svq-optmask" *ngIf="userAnswers[i]?.answers.length >= 1"></div>
										<div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="dlToggleOption(opt,i)" title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}}</div>
										</div>
									</div>
								</div>
								<div class="row cscroll"  *ngIf="question?.id !== '114'">
									<div class="svq-optcase col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of question?.options;  let j = index;" >
										<div class="svq-optmask" *ngIf="userAnswers[i]?.answers.length >= 1"></div>
										<div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="dlToggleOption(opt,i)" title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}}</div>
										</div>
									</div>
								</div>
								<div class="row mt-3">
									<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
										<button class=" s-btn sv_btn_position" [disabled]="userAnswers[i]?.answers.length >= 1" (click)="saveDlAnswer(i)">Save Answer</button>
									</div>
								</div>
							</div>
							</div>
						</div>
						<div  [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'mcm2'" >
							<div class="svq-optbox">
								<div class="row cscroll">
									<div class="svq-optcase col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of question?.options;  let j = index;" >
										<div class="svq-optmask" *ngIf="userAnswers[i]?.answers.length >= 2"></div>
										<div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="dlToggleOption(opt,i)" title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}}</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
										<button class=" s-btn  sv_btn_position" [disabled]="userAnswers[i]?.answers.length >= 2" (click)="saveDlAnswer(i)">Save Answer</button>
									</div>
								</div>
							</div>
						</div>
						<div  [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'pri_order'" >
							<div class="svq-optbox">
								<div class="row cscroll w-75 width-100" style="margin: 0 auto;">
									<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row" *ngFor="let opt of question?.options;  let j = index;" >
										<div class="svq-optmask" *ngIf="userAnswers[i]?.answers.length >= 2"></div>
										<div class="svq-opt col-8 pl-4" [ngClass]="{'selected': opt.selected === true }"  title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}}</div>
										</div>
										<!-- <select class="offset-1 col-3 form-control mt-1" [(ngModel)]="prioroty_level" (click)="checkpriority()"> -->
										<select [(ngModel)]="question.selectedOptions[j]" (click)="priSwapOrder(question, j)" class="col padding-0 form-control mt-1 offset-1">
										  <option *ngFor="let topt of question?.options; let oi = index;" [ngValue]="oi + 1">{{oi + 1}}</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
										<button class=" s-btn  sv_btn_position" [disabled]="showpriQbtn !=='yes'" (click)="saveprianswer(i)">Save Answer</button>
									</div>
								</div>
							</div>
						</div>
						<div [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'mcm'" >
							<div class="svq-optbox">
								<div class="row cscroll">
									<div class="svq-optcase col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of question?.options;  let j = index;" >
										<div class="svq-optmask" *ngIf="userAnswers[i]?.answers.length >= 2"></div>
										<div class="modal" style="margin-top: 20vh;" id="dtlakemdl_{{opt.id}}_{{i}}">
											<div class="modal-dialog">
												<div class="modal-content">
													<!-- Modal Header -->
													<div class="modal-header p-1">
														<h4 class="modal-title h6"></h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<!-- Modal body -->
													<div class="modal-body">
														<input type="text" class="col-8 p-1" placeholder="Enter Here.." [(ngModel)]="dldata.otheropt">
														<button class="ml-2 s-btn btn-sm" (click)="otherpopup(opt,i)">Save</button>
													</div>
												</div>
											</div>
										</div>
										<div  *ngIf="opt.label !== 'Other'" class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="dlToggleOption(opt,i)" title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}}</div>
										</div>
										<div  *ngIf="opt.label === 'Other' && opt.selected !== true" class="svq-opt" [ngClass]="{'selected': opt.selected === true }" data-backdrop="static" data-toggle="modal" [attr.data-target]="'#dtlakemdl_'+opt.id+'_'+i"  title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}} </div>
										</div>
										<div  *ngIf="opt.label === 'Other' && opt.selected === true" class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="dloptdselect(opt,i)"  title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}} </div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
										<button class=" s-btn  sv_btn_position" [disabled]="userAnswers[i]?.answers.length >= 2" (click)="saveDlAnswer(i)">Save Answer</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="lastQstatus === true && i >= survey?.questions.length-1" [ngClass]="{'visiblediv': visibilityflag === i, 'current_div': visibilityflag === i }" class="col-11 card p-0" >
					<div [ngClass]="{'visibledtext': visibilityflag === i }" class="pl-2 pt-2 text-left " style="display: flex;">
						<p [ngClass]="{'q_arow': visibilityflag !== i, 'q_arow_active': visibilityflag === i }"  class=""></p>
						<!-- <img src="{{question.questionIcon}}" style="width:20px;height:25px;margin-right: 5px;"> -->
						 <p [innerHTML]="question.questionText"></p>
					</div>
					<div class="card-body text-left pt-0">
						
						<div [ngClass]="{'visibled': visibilityflag !== i }" class="svq-rp" *ngIf="question?.questionType === 'mcs'">
							<div >
							<div class="svq-optbox">
								<div class="row cscroll" *ngIf="question?.id === '114'">
									<div class="svq-optcase col-12 col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of question?.options;  let j = index;" >
										<div class="svq-optmask" *ngIf="userAnswers[i]?.answers.length >= 1"></div>
										<div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="dlToggleOption(opt,i)" title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}}</div>
										</div>
									</div>
								</div>
								<div class="row cscroll"  *ngIf="question?.id !== '114'">
									<div class="svq-optcase col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12" *ngFor="let opt of question?.options;  let j = index;" >
										<div class="svq-optmask" *ngIf="userAnswers[i]?.answers.length >= 1"></div>
										<div class="svq-opt" [ngClass]="{'selected': opt.selected === true }" (click)="dlToggleOption(opt,i)" title="{{opt.label}}">
											<fa-icon [icon]="['far', 'circle']" *ngIf="opt.selected === false"></fa-icon>
											<fa-icon [icon]="['fas', 'check-circle']" *ngIf="opt.selected === true"></fa-icon>
											<div class="svq-optlbl">{{opt.label}}</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="svq-optcase col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 sv_btn_position">
										<button class=" s-btn  sv_btn_position" [disabled]="userAnswers[i]?.answers.length >= 1" (click)="saveDlAnswer(i)">Save Answer</button>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		

	</div>
</div>

<div *ngIf="lastQstatus === false" class="svfoot">
	<div class="svf-btns" [hidden]="surveyView !== 'survey'">
		<span class="research-instructions">
            <div class="research-instructions-box" *ngIf="infoInstruction === true">
                <h4 class="text-danger">Instructions</h4>
                <p class="research-ins" [innerHTML]="survey?.welcomeNote"></p>
				<div class="important-note">
					<p><strong>Important Note: </strong> Please do not press back button while taking the survey.</p>
				</div>
            </div>
            <fa-icon (mouseenter)="showInstructions(true)" (mouseleave)="showInstructions(false)" title="Instructions" [icon]="['fas', 'info-circle']"></fa-icon>
        </span>
		<button class="btn s-btn" [disabled]="userAnswers.length !== (survey?.questions.length-1)" (click)="OPenlastQ()" >Next<fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon></button>
	</div>
</div>
<div class="svfoot"  *ngIf="lastQstatus === true" >
	<div class="svf-btns" [hidden]="surveyView !== 'survey'">
		<span class="research-instructions">
            <div class="research-instructions-box" *ngIf="infoInstruction === true" [ngClass]="{'change-position': userAnswers.length !== (survey?.questions.length) }">
                <h4 class="text-danger">Instructions</h4>
                <p class="research-ins" [innerHTML]="survey?.welcomeNote"></p>
				<div class="important-note">
					<p><strong>Important Note: </strong> Please do not press back button while taking the survey.</p>
				</div>
            </div>
            <fa-icon (mouseenter)="showInstructions(true)" (mouseleave)="showInstructions(false)" title="Instructions" [icon]="['fas', 'info-circle']"></fa-icon>
        </span>
		<button class="btn s-btn" [disabled]="userAnswers.length !== (survey?.questions.length)" style="margin-right: 15px;" (click)="finishSurvey('finish')" >Finish<fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon></button>
		<!-- <button class="btn s-btn" [disabled]="userAnswers.length !== (survey?.questions.length)" (click)="finishSurvey('continue')" >Continue<fa-icon [icon]="['fas', 'angle-double-right']"></fa-icon></button> -->
	</div>
</div>

<div class="svfoot">
	<div class="svfootdiv">Copyright © {{currentYear}} Culturelytics Pvt. Ltd. </div>
</div>
</div>