<div class="dbk {{project?.project_variation_type}}">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="dbk-box">
				<p>A strategic assessment of organisational culture based on the value assigned to six key characteristics of high-performance organisations: social contribution, fitness, finance, external stakeholder relations, evolution and team dynamics</p>
				<div class="dbkb-head">
					<h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
				</div>
				<div class="dbkb-body">
					<p  [innerHTML]="project?.bns.executiveSummary" style="text-align: left"></p>
				</div>
			</div>
		</div>
	</div> 
	<div class="row"  style="margin-top: -20px; margin-bottom: 10px"> 
		<div class="col-lg-12 col-md-12">
			<ul class="nav nav-pills float-right">
				<li class="nav-item">
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEmp'}" (click)="switchView('bnsEmp')">Entity A</a>
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type !== 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEmp'}" (click)="switchView('bnsEmp')">Employee</a>

				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'" [ngClass]="{'active': currentView === 'bnsCust'}" (click)="switchView('bnsCust')">Entity B</a>
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type !== 'InGenome'" [ngClass]="{'active': currentView === 'bnsCust'}" (click)="switchView('bnsCust')">Customers</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
						</div>
						<div class="dbkb-body">
							<div class="orater">
								<div class="speech-bubble">The Indicator is a function of CCQ and financial forecasts of the business. This provides the revenue loss in $.</div>
								<div class="ratediv">
									<div class="rates">
										<div class="op-value" ><span [CountTo]="324" [from]="0" [duration]="10"></span>Mn</div>
									</div>
								</div>
								<div class="ratelbl mbl-font"><span>$ VALUE OF ENTROPY</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12" >
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATISTICS</h6>
						</div>
						<div class="dbkb-body">

							<div class="row">
								<div class="col-lg-12 col-md-12" >
									<div class="ceo_approval-bns">
										<p class="ptag pth">Biggest Desired Value</p>
										<div class="pbitm">Innovation</div>
										<div class="pbitm">Trust</div>
										<div class="pbitm">Transparency</div>
										<div class="pbitm">Honesty</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
						</div>
						<div class="dbkb-body">
							<div class="rcs"> 
								<div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.bns[rc.prop] < 2, 'yellow':  project?.bns[rc.prop] >= 2 && project?.bns[rc.prop] < 4, 'green':  project?.bns[rc.prop] >= 4}" >
									<div class="rc-val"><div class="rc-num">{{project?.bns[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
									<div class="rc-case" >
										<div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]" [style.color]="rc.color"></fa-icon></div>
										<div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
									</div>
									<div class="rc-label">{{rc.label}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="dbk-box" >
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>COMPANY INSIGHTS</h6>
						</div>
						<div class="dbkb-body" [hidden]="currentView === 'bnsCust'">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 bg-white" style="min-height: 480px;">
									<div class="offset-lg-1 col-lg-10 col-md-10 col-12"> 
										<div class="cons-div">
											<div class="bnsbarchart" id="bnsbarchart1" ></div>
										</div>
									</div>
									<div class="col-12">
										<div class="row bg-white chart-tbl">
											<table class="table  mb-0 bold" style="">
												<thead>
													<tr>
														<td class="cs_tbl_td bold text-info border border-left-0">Level</td>
														<td class="cs_tbl_td bold text-info border border-left-0">Finance</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Fitness</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">External Stakeholder relations</td>
														<td class="cs_tbl_td bold text-info border border-left-0">Evoluation</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Trust/ Engagement</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Direction/ Communication</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Supportive Environment</td>
														<td class="cs_tbl_td bold text-info">Societal Contribution</td>
														
													</tr>
												</thead> 
												<tbody>
													<tr>
														<td class="bold text-info  border-right bns-tb-td">Desired Culture Values</td>
														<td class=" border-right"></td>
														<td class=" border-right"></td>
														<td class=" border-right bns-tb-td">customer satisfaction</td>
														<td class=" border-right"></td>
														<td class="  border-right"> </td>
														<td class=" border-right bns-tb-td">Honesty clarity</td>
														<td class=" border-right bns-tb-td">patience encouragement respect</td>
														<td class="border-right"></td>
													</tr>
													<tr>
														<td class="bold text-info border border-left-0 bns-tb-td">Values Jumps</td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0"></td>
														<td class="border bns-tb-td">strategic alliances</td>
														<td class="border border-left-0 bns-tb-td">innovation </td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0 bns-tb-td">enthusiasm open communication </td>
														<td class="border border-left-0 bns-tb-td">fairness embracing diversity </td>
														<td class="border border-left-0 bns-tb-td">sustainability </td>
													</tr>
													<tr>
														<td class="bold text-info border border-left-0 bns-tb-td">Potentially Limiting Values</td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0 bns-tb-td">long hours bureaucracy empire building </td>
														<td class="border"></td>
														<td class="border border-left-0 bns-tb-td">caution short-term focus </td>
														<td class="border border-left-0 bns-tb-td">control power conflict avoidance blame silo mentality </td>
														<td class="border border-left-0 bns-tb-td">confusion </td>
														<td class="border border-left-0 bns-tb-td">bullying exploitation  </td>
														<td class="border border-left-0"> </td>
													</tr>
												</tbody>
											</table>	
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="bnstabset">
										<div class="bnstabs">
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'ctd'}" (click)="switchBnsTab('ctd')"><div class="tail"></div>Current Team Dynamics</a>
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'dtd'}" (click)="switchBnsTab('dtd')"><div class="tail"></div>Desired Team Dynamics</a>
										</div>
										<div class="bnstcontents">
											<div class="bnstcontent" [hidden]="bnsTab === 'dtd'">
												<div class="bnspie bnsPieChart" id="ctd_chart"></div>
											</div>
											<div class="bnstcontent" [hidden]="bnsTab === 'ctd'">
												<div class="bnspie bnsPieChart" id="dtd_chart"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;color: black;">
									Adapted from BVC reports.
								</div>
							</div>
						</div>
						<div class="dbkb-body" [hidden]="currentView === 'bnsEmp'">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 bg-white" style="min-height: 480px;">
									<div class="offset-lg-1 col-lg-10 col-md-10 col-12"> 
										<div class="cons-div">
											<div class="bnsbarchart" id="bnsbarchart2" ></div>
										</div>
									</div>
									<div class="col-12">
										<div class="row bg-white chart-tbl" style="">
											<table class="table  mb-0 bold" style="">
												<thead>
													<tr>
														<td class="cs_tbl_td bold text-info border border-left-0">Level</td>
														<td class="cs_tbl_td bold text-info border border-left-0">Finance</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Fitness</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">External Stakeholder relations</td>
														<td class="cs_tbl_td bold text-info border border-left-0">Evoluation</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Trust/ Engagement</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Direction/ Communication</td>
														<td class="cs_tbl_td  bold text-info border border-left-0">Supportive Environment</td>
														<td class="cs_tbl_td bold text-info">Societal Contribution</td>
														
													</tr>
												</thead> 
												<tbody>
													<tr>
														<td class="bold text-info  border-right bns-tb-td">Desired Culture Values</td>
														<td class=" border-right"></td>
														<td class=" border-right"></td>
														<td class=" border-right bns-tb-td">customer satisfaction</td>
														<td class=" border-right"></td>
														<td class="  border-right"> </td>
														<td class=" border-right bns-tb-td">Honesty clarity</td>
														<td class=" border-right bns-tb-td">patience encouragement respect</td>
														<td class="border-right"></td>
													</tr>
													<tr>
														<td class="bold text-info border border-left-0 bns-tb-td">Values Jumps</td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0"></td>
														<td class="border bns-tb-td">strategic alliances</td>
														<td class="border border-left-0 bns-tb-td">innovation </td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0 bns-tb-td">enthusiasm open communication </td>
														<td class="border border-left-0 bns-tb-td">fairness embracing diversity </td>
														<td class="border border-left-0 bns-tb-td">sustainability </td>
													</tr>
													<tr>
														<td class="bold text-info border border-left-0 bns-tb-td">Potentially Limiting Values</td>
														<td class="border border-left-0"></td>
														<td class="border border-left-0 bns-tb-td">long hours bureaucracy empire building </td>
														<td class="border"></td>
														<td class="border border-left-0 bns-tb-td">caution short-term focus </td>
														<td class="border border-left-0 bns-tb-td">control power conflict avoidance blame silo mentality </td>
														<td class="border border-left-0 bns-tb-td">confusion </td>
														<td class="border border-left-0 bns-tb-td">bullying exploitation  </td>
														<td class="border border-left-0"> </td>
													</tr>
												</tbody>
											</table>	
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="bnstabset">
										<div class="bnstabs">
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'ctd1'}" (click)="switchBnsTab1('ctd1')"><div class="tail"></div>Current Team Dynamics</a>
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'dtd1'}" (click)="switchBnsTab1('dtd1')"><div class="tail"></div>Desired Team Dynamics</a>
										</div>
										<div class="bnstcontents">
											<div class="bnstcontent" [hidden]="bnsTab === 'dtd1'">
												<div class="bnspie bnsPieChart" id="ctd1_chart1"></div>
											</div>
											<div class="bnstcontent" [hidden]="bnsTab === 'ctd1'">
												<div class="bnspie bnsPieChart" id="dtd1_chart1"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;color: black;">
									Adapted from BVC reports.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
