.login-reg-panel{
	position: relative;
	top: 47%;
	transform: translateY(-50%);
	text-align:center;
	width:70%;
	right:0;left:0;
	margin:auto;
	height:430px;
}
.white-panel{
	background-color: rgba(255,255, 255, 1);
	height:500px;
	position:absolute;
	top:-50px;
	width:50%;
	left:calc(50% - 70px);
	transition:.3s ease-in-out;
	z-index:0;
	box-shadow: 0 0 20px 1px #00000036;
}
.login-reg-panel input[type="radio"]{
	position:relative;
	display:none;
}
.login-reg-panel{
	color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
	border:1px solid #9E9E9E;
	padding:5px 5px;
	width:150px;
	display:block;
	text-align:center;
	border-radius:10px;
	cursor:pointer;
	font-weight: 600;
	font-size: 18px;
}
.login-info-box{
	width:30%;
	padding:0 50px;
	top:20%;
	left:0;
	position:absolute;
	text-align:left;
}
.register-info-box{
	width:30%;
	top:20%;
	left:60px;
	position:absolute;
	text-align:left;
	
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
	z-index: 1;
	display:block;
	opacity:0.9;
	transition:0.3s ease-in-out;
	color:#242424;
	text-align:left;
	padding:50px;
}
.show-log-panel{
	display:block;
	opacity:0.9;
}
.login-show  h2 { margin-bottom: 20px; }
.login-show input[type="text"], .login-show input[type="password"]{
	width: 100%;
	display: block;
	margin: 5px 0px 20px 0px;
	padding: 15px;
	border: 1px solid #b5b5b5;
	outline: none;
}
.login-show input[type="submit"], .login-btn {
	max-width: 150px; padding: 10px 15px; display: inline-block; height: 38px;
	width: 100%;
	background: #444444;
	color: #f9f9f9;
	border: none;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 2px;
	float:right;
	cursor:pointer;
}
.login-show a{
	display:inline-block;
	padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
	width: 100%;
	display: block;
	margin: 5px 0px 20px 0px;
	padding: 15px;
	border: 1px solid #b5b5b5;
	outline: none;
}
.register-show input[type="submit"], .login-btn {
	max-width: 150px; padding: 10px 15px;
	width: 100%;
	background: #444444;
	color: #f9f9f9;
	border: none;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 2px;
	float:right;
	cursor:pointer;
}
.credit {
	position:absolute;
	bottom:10px;
	left:10px;
	color: #3B3B25;
	margin: 0;
	padding: 0;
	font-family: Arial,sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	z-index: 99;
}
a{
	text-decoration:none;
	color:#6f6969;
}

.loginmain{
	background-color: #f2f2f2;
	height: 700px;
}
.login_mdl{
	height: 100%;    
	/*background-color: #e4e4e4;*/
	/*box-shadow: 3px 1px 5px 1px #ccc;*/
}

.pulselogo{
	padding: 70px;
}
.pulseimg{
	width: 75%;
}
.login_formdiv{
	width: 70%;
	margin: 0 auto;
}

.login-form-panel {
	height: 100%;
	background-color: #e4e4e4;
}

.login-img {
	height: 100%;background-color: #fefefe;box-shadow: 3px 1px 5px 1px #ccc;
}

@media screen and (min-width: 320px) and (max-width: 359px) {
	.loginmain {
		height: 100%;
	}

	.login-reg-panel {
		width: 80%;
		top: 41%;
	}

	.login-img {
		height: 55%;
	}

	.login-form-panel {
		height: 65%;
		margin-top: 18px;
	}

	.pulselogo {
		padding: 30px;
		padding-bottom: 15px;
	}

	.login_formdiv {
		width: 85%;
	}
}

@media screen and (min-width: 360px) and (max-width: 420px) {
	.loginmain {
		height: 100%;
	}

	.login-reg-panel {
		width: 75%;
		top: 38%;
	}

	.login-img {
		height: 65%;
	}

	.login-form-panel {
		height: 65%;
		margin-top: 25px;
	}

	.pulselogo {
		padding: 30px;
		padding-bottom: 15px;
	}

	.login_formdiv {
		width: 85%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.loginmain{
		height: 100%;
	}

	.login-reg-panel {
		top: 55%;
	}

	.login_mdl {
		height: 70%;
	}

	.pulselogo {
		padding: 30px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.loginmain{
		height: 100%;
	}
}