<div class="db pg-div pt-4">
	<div class="container dbc">
		<div class="navs">
			<div class="row navrow" [hidden]="project?.id === undefined || project?.id === '' || registerResponse !== ''">
				<div class="col-lg-12 col-md-12 col-sm-12 navitem  p-br">
					<div class="container">
						<form [formGroup]="contactForm" class="border row shadow" action="">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 border-bottom" style="display: flex;">
								<span class="col pt-3" *ngIf="project?.user_source === 'VI'"><h4 class=" h3 assess-title">Role of Culture in M&A Deals</h4></span>
									<span class="col pt-3" *ngIf="project?.user_source !== 'VI'"><h4 class=" h3">Decode your Culture</h4></span>
									<span class="text-right"><img src="{{project.project_logo}}" style="width: 70px;"></span>
							</div>
							<div class="col-lg-6 col-md-12 padding-0 col-sm-12 col-xs-12 p-4">
								<div class="form-group col-12">
									<img src="assets/images/datalake/DataLake_contact_form_01.png" class="img-fluid">
								</div>
								<!-- <div class="row col" [hidden]="project?.id === undefined || project?.id === '' || registerResponse !== ''">
									<h4 *ngIf="project?.user_source === 'VI'" style="color: #8b79dd;">Venture intelligence survey</h4>
									<h4 *ngIf="project?.user_source === 'NHRD'" style="color: #8b79dd;">National HRD Network survey</h4>
									<h4 *ngIf="project?.user_source === 'TIE'" style="color: #8b79dd;">The IndUS Entrepreneurs survey</h4>
								</div> -->
								<div class="form-group col-12">
									<label for="firstname">First Name <span class="text-danger text-monospace">*</span></label>
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userFirstName.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userFirstName.errors.required">First Name is required</div>
									</label>
									<input type="text" formControlName="userFirstName" class="form-control form-control-sm" id="firstname" placeholder="Enter First Name Here.."  [(ngModel)]="userdata.userFirstName" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactForm.controls.userFirstName.errors }">
								</div>

								<div class="form-group col-12">
									<label for="lastname">Last Name <span class="text-danger text-monospace">*</span></label>
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userLastName.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userLastName.errors.required">Last Name is required</div>
									</label>
									<input type="text" formControlName="userLastName" class="form-control form-control-sm" id="lastname" placeholder="Enter Last Name Here.."  [(ngModel)]="userdata.userLastName" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactForm.controls.userLastName.errors }">
								</div>
							</div>
							<div class="col-lg-6 col-md-12 padding-0 col-sm-12 col-xs-12 p-4" style="background-color: #e4e4e4 !important">
								<div class="form-group col-12">
									<label for="email">Email  <span class="text-danger text-monospace" >*</span></label>
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userEmail.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userEmail.errors.required">Email is required</div>
										<div *ngIf="contactForm.controls.userEmail.errors.pattern">Enter valid email address</div>
									</label>
									<input type="email" formControlName="userEmail" class="form-control form-control-sm" id="email" placeholder="Enter Your Official Email Here.."  [(ngModel)]="userdata.userEmail" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactForm.controls.userEmail.errors }">
								</div>

								<div class="form-group col-12">
									<label for="cname">Company Name <span class="text-danger text-monospace" >*</span></label>
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userCompanyName.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userCompanyName.errors.required">Company Name is required</div>
									</label>
									<input type="text" formControlName="userCompanyName" class="form-control form-control-sm" id="lastname" placeholder="Enter Company Name Here.."  [(ngModel)]="userdata.userCompanyName" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactForm.controls.userCompanyName.errors }">
								</div>

								<div class="form-group col-12">
									<label for="mobile">Mobile Number</label>
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userContactNo.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userContactNo.errors.required">Contact Number is required</div>
									</label>
									<input type="number" formControlName="userContactNo" class="form-control form-control-sm" id="lastname" placeholder="Enter Contact Here.."  [(ngModel)]="userdata.userContactNo" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactForm.controls.userContactNo.errors }">
								</div>

								

								<div class="form-group col-12">
									<label for="typeofparticipants">Your current role <span class="text-danger text-monospace" >*</span></label>
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userTypeOfParticipant.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userTypeOfParticipant.errors.required">Please select your current role</div>
									</label>
									<select class="form-control form-control-sm" formControlName="userTypeOfParticipant" (click)="checkdeal()" id="typeofparticipants" name="typeofparticipants" [(ngModel)]="userdata.userTypeOfParticipant" [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactForm.controls.userTypeOfParticipant.errors }">
										<option value="">Select your current role</option>
										<option *ngIf="project?.user_source === 'VI'" value="investor_firm">Investor Firm</option>
										<option *ngIf="project?.user_source === 'VI'" value="individual_investor">Individual Investor</option>
										<option *ngIf="project?.user_source === 'VI'" value="investment_bank">Investment Banker</option>
										<option *ngIf="project?.user_source !== 'VI'" value="CHRO">CHRO</option>
										<option *ngIf="project?.user_source !== 'VI'" value="CEO">CEO</option>
										<option *ngIf="project?.user_source !== 'VI'" value="CFO">CFO</option>
										<option value="Others">Others</option>
									</select>
								</div>
								<div class="form-group col-12" >
									<label for="cwebsite">Are you currently engaged in one or more of the following activities? <span class="text-danger text-monospace" >*</span></label>
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userCurAccessDeal.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userCurAccessDeal.errors.required">Please select answer</div>
									</label>
									<select class="form-control form-control-sm" formControlName="userCurAccessDeal" id="userCurAccessDeal" name="typeofparticipants" [(ngModel)]="userdata.userCurAccessDeal" [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactForm.controls.userCurAccessDeal.errors }" >
										<option value="">Select Answer</option>
										<option *ngIf="project?.user_source === 'VI'" value="Scouting for investment opportunities">Scouting for investment opportunities</option>
										<option *ngIf="project?.user_source === 'VI'" value="Term sheet">Term sheet</option>
										<option *ngIf="project?.user_source === 'VI'" value="Due diligence">Due diligence</option>
										<option *ngIf="project?.user_source === 'VI'" value="Investment and portfolio management">Investment and portfolio management</option>
										<option *ngIf="project?.user_source !== 'VI'" value="Post deal integration">Post deal integration</option>
										<option *ngIf="project?.user_source !== 'VI'" value="Culture transformation">Culture transformation</option>
									</select>
								</div>
								<div class="form-group col-12"  [hidden]="userdata.userTypeOfParticipant !== 'Others'">
									<label for="cname">Role / Designation <span class="text-danger text-monospace" >*</span></label>
									<label [ngClass]="{ 'text-danger': particTypeerror === 'yes' }" class="text-danger">
										<div *ngIf="particTypeerror === 'yes'">Role / Designation field is required</div>
									</label>
									<input type="text"  [ngClass]="{ 'is-invalid': particTypeerror === 'yes' }"  formControlName="userDesignation" name="userDesignation" class="form-control form-control-sm" id="userDesignation" placeholder="Enter Role / Designation Here.."  [(ngModel)]="userdata.userDesignation">
								</div>
								<!-- <div class="form-group col-6">
									<label for="userdesignation">Role / Designation {{particTypeerror}}<span class="text-danger text-monospace">*</span></label>
									<label  [ngClass]="{ 'text-danger': particTypeerror === 'yes' }"  class="text-danger" >
										<div *ngIf="particTypeerror === 'yes'">Role / Designation field is required</div>
									</label>
									<input type="text" [ngClass]="{ 'is-invalid': particTypeerror === 'yes' }" formControlName="userDesignation" class="form-control form-control-sm" id="userdesignation" placeholder="Enter Role / Designation Here.."  [(ngModel)]="userdata.userDesignation">
								</div> -->
								<div class="form-group col-12">
									<label for="describesyou">What type of investment describes you the best? <span class="text-danger text-monospace" >*</span></label>
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userDescribesYou.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userDescribesYou.errors.required">Please select answer</div>
									</label>
									<select class="form-control form-control-sm" formControlName="userDescribesYou" id="describesyou" name="describesyou" [(ngModel)]="userdata.userDescribesYou" [ngClass]="{ 'is-invalid': submitted &amp;&amp; contactForm.controls.userDescribesYou.errors }">
										<option value="">Select Answer</option>
										<option value="Seed capital">Seed capital</option>
										<option value="Start up capital">Start up capital</option>
										<option value="Early/First/Second stage funds">Early/First/Second stage funds</option>
										<option value="Expansion/Second/Third stage funds">Expansion/Second/Third stage funds</option>
										<option value="Bridge/pre public stage">Bridge/pre public stage</option>
										<option value="Others">Others</option>
									</select>
								</div>

								<div class="form-group col-12"  [hidden]="userdata.userDescribesYou !== 'Others'">
									<label *ngIf="submitted &amp;&amp; contactForm.controls.userDescribe.errors" class="text-danger">
										<div *ngIf="contactForm.controls.userDescribe.errors.required">Please explain</div>
									</label>
									<label *ngIf="submitted" class="text-danger">
										<div *ngIf="userdata.userDescribe == '-'">Please explain</div>
									</label>
									<input type="text" formControlName="userDescribe" name="userDescribe" class="form-control form-control-sm" id="userDescribe" placeholder="Please explain"  [(ngModel)]="userdata.userDescribe">
								</div>

								<div class="col-12 text-right" >
									<button type="submit" class="btn btn-default s-btn" (click)="formSubmit()">Continue</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			 <div class="rfq noproj" [hidden]="projectValid === true">
	            <div class="alert alert-danger" role="alert">
	                <h4 class="alert-heading">Sorry!</h4>
	                <p>The assessment link is either not valid or has expired. Please contact support team.</p>
	            </div>
	        </div>
		</div>
	</div>
</div>
