.db {
	padding-top: 50px;
}
body {
	    background-color: #f8f9fa !important;
}
.navhead {
	padding: 0px 80px;
}

.page-heading {
	display: flex;
}
.page-heading img{
	width: 10vh;
}

@media screen and  (min-width: 320px) and (max-width: 675px) {
    .assess-title {
        font-size: 0.75rem;
    }
    .padding-0{
    	padding: 0px !important;
    }
}
@media screen and  (min-width: 768px) and (max-width: 1400px) {
    .p-4 {
        padding: 0.5rem!important;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    .pt-4 {
        padding: 0.5rem!important;
    }
}
