<div class="dbk {{project?.project_variation_type}}">
	<div class="row" style="margin-bottom: 5px;">
		<div class="col-md-12">
			<div class="dbk-box">
				<p>An in-depth scan of the industry and competitive environment: trends, key challenges and opportunities.</p>
				<div class="dbkb-head">
					<h6 class="dbkb-title">SECTOR TREND / INSIGHTS</h6>
				</div>
				<div class="dbkb-body-mbl" >
					<p style="text-align: left;padding: 25px 20px;background: #fff; text-align: left;">Public Sector Banks (PSBs) continued to record the major share of the outstanding bank deposit and credit for FY19 indicating that a major part of the 13% credit growth in FY19 was sourced through the private banks. <br>PSBs continue to make losses and even as the NPA cycle might be turning, the RBI’s new framework for stressed asset resolution and older NPAs could still lead to more provisioning and higher credit costs. Consequently, the main challenge will be for PSBs to raise capital either in the market or through higher allocations from the Centre. PSB bank mergers talk is likely to gain more attention this year. </p>
				</div>
			</div>
		</div>
		
		<!-- <div class="col-6">
			<angular-tag-cloud *ngIf="initLoaded === true" 
				[data]="data"
				[width]="options.width"
				[height]="options.height"
				[overflow]="options.overflow">
			</angular-tag-cloud>
		</div> -->
</div>

<div class="row" style="margin-bottom: 0px;">
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<div class="dbk-box">
			<div class="dbkb-head">
				<h6 class="dbkb-title">Recommendation Trends</h6>
			</div>
			<div class="dbkb-body-mbl" style="padding: 5px; background: #fff; text-align: left;">
				<div class="inprtrends">
					<div class="inpstackchart" id="inpstackchart1">

					</div>
				</div>
				<div class="inpatp" style="padding: 10px;">
					<p style="font-weight: 700; font-size: 12px; text-align: left; margin: 0px;">Analyst Price Targets (45) ></p>
					<div class="cmeter">
						<div class="cmline">
							<div class="cmblip left"></div><div class="cmblip right"></div><div class="cmlabel left">Low 265.00</div><div class="cmlabel right">High 400.00</div>
							<div class="cmpos" style="margin-left: calc(60% - 40px);">
								<div class="cmp">
									<div class="lbl">Average 348.98</div>
									<div class="line"></div>
									<div class="knob"></div>
								</div>
							</div>
							<div class="cmpos btm" style="margin-left: calc(58% - 65px);">
								<div class="cmp">
									<div class="knob"></div>
									<div class="line"></div>
									<div class="lbl">Current 332.20</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div class="dbk-box">
			<div class="dbkb-head">
				<h6 class="dbkb-title">&nbsp;</h6>
			</div>
			<div class="dbkb-body" style="padding: 5px; background: #fff; text-align: left;">
				<div class="inpgpc">
					<div class="inpg-title">Environment, Social and Governance (ESG) Ratings <div class="info-btn" title="Info"><fa-icon [icon]="['far', 'question-circle']"></fa-icon></div></div>
					<div class="inpg-iboxes">
						<div class="inpg-ibox">
							<div class="inpgi-lbl">Total ESG Score</div>
							<div class="inpgi-val">
								<div class="inpgi-num">46</div>
								<div class="inpgi-txt">6th Percentile</div>
							</div>
							<div class="inpgi-lbl">Leader</div>
						</div>
						<div class="inpg-ibox">
							<div class="inpgi-lbl">Environment</div>
							<div class="inpgi-val">
								<div class="inpgi-num">41</div>
								<div class="inpgi-txt">27th Percentile</div>
							</div>
						</div>
						<div class="inpg-ibox">
							<div class="inpgi-lbl">Social</div>
							<div class="inpgi-val">
								<div class="inpgi-num">64</div>
								<div class="inpgi-txt">38th Percentile</div>
							</div>
						</div>
						<div class="inpg-ibox">
							<div class="inpgi-lbl">Governance</div>
							<div class="inpgi-val">
								<div class="inpgi-num">35</div>
								<div class="inpgi-txt">0th Percentile</div>
							</div>
						</div>
					</div>
					<div class="inpg-title">
						ENG Performance vs 170 Peer Companies 
						<div class="inpg-legend">
							<div class="inpgl-itm">
								<div class="inpgl-icn"><div class="ingpl-supa"></div></div>
								<div class="inpgl-txt">SBIN .NS</div>
							</div>
							<div class="inpgl-itm">
								<div class="inpgl-icn"><div class="ingpl-peers"></div></div>
								<div class="inpgl-txt">Peers</div>
							</div>
							<div class="inpgl-itm">
								<div class="inpgl-icn"><div class="ingpl-catav"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></div></div>
								<div class="inpgl-txt">Category Average</div>
							</div>
						</div>
					</div>
					<div class="row w-100">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="inpg-title" style="text-align: center; height: 16px; font-size: 11px; margin-bottom: 5px;">ESG PERFORMANCE</div>
							<div class="inpg-bars">
								<div class="ibar">
									<div class="lpnl">Environment</div>
									<div class="rpnl">
										<div class="tail"><div class="ingpl-catav" style="margin-left: 56%"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></div></div>
										<div class="bar">
											<div class="ingpl-peers scope" style="width: 68%; margin-left: 31%; ">
												<div class="knob" style="margin-left: 76%"><div class="ingpl-supa"></div></div>
												<div class="lbl left">31</div>
												<div class="lbl right">99</div>
											</div>
										</div>
									</div>
								</div>

								<div class="ibar">
									<div class="lpnl">Social</div>
									<div class="rpnl">
										<div class="tail"><div class="ingpl-catav" style="margin-left: 52%"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></div></div>
										<div class="bar">
											<div class="ingpl-peers scope" style="width: 43%; margin-left: 50%; ">
												<div class="knob" style="margin-left: 76%"><div class="ingpl-supa"></div></div>
												<div class="lbl left">50</div>
												<div class="lbl right">93</div>
											</div>
										</div>
									</div>
								</div>

								<div class="ibar">
									<div class="lpnl">Governance</div>
									<div class="rpnl">
										<div class="tail"><div class="ingpl-catav" style="margin-left: 48%"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></div></div>
										<div class="bar">
											<div class="ingpl-peers scope" style="width: 50%; margin-left: 35%; ">
												<div class="knob" style="margin-left: 76%"><div class="ingpl-supa"></div></div>
												<div class="lbl left">35</div>
												<div class="lbl right">86</div>
											</div>
										</div>
									</div>
								</div>

								<div class="ibar marker">
									<div class="lpnl"></div>
									<div class="rpnl">
										<div class="tail"><div class="lbl left"></div><div class="lbl right"></div></div>
										<div class="bar">
											<div class="ingpl-peers scope">
												<div class="lbl left">0</div>
												<div class="lbl right">100</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="inpg-fnote" style="font-size: 12px;display: none;">
								
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="inpg-title" style="text-align: center; height: 16px; font-size: 11px; margin-bottom: 5px;">CONTROVERSY LEVEL</div>
							<div class="inpg-bars">
								<div class="ibar">
									
								</div>

								<div class="ibar" style="text-align: center">
									<div class="ibvl" style="width: auto; display:inline-block; padding-right: 10px; margin-right: 10px; border-right: solid 1px #333; color:#333; font-weight: 700; font-size: 14px;">3</div>
									<div class="ibvl" style="width: auto; display:inline-block; color:#333; font-weight: 100; font-size: 12px;">Significant Controversy Level</div>
								</div>

								<div class="ibar">
									<div class="rpnl moderate" style="width: 100%">
										<div class="tail"><div class="ingpl-catav" style="margin-left: 48%"><fa-icon [icon]="['fas', 'caret-down']"></fa-icon></div></div>
										<div class="bar">
											<div class="ingpl-peers scope" style="width: 100%;background-color: #ff00009e;">
												<div class="knob" style="margin-left: 76%"><div class="ingpl-supa"></div></div>
												<div class="lbl left"></div>
												<div class="lbl right">5</div>
											</div>
										</div>
									</div>
								</div>

								<div class="ibar marker">
									<div class="rpnl" style="width: 100%">
										<div class="tail"><div class="lbl left"></div><div class="lbl right"></div></div>
										<div class="bar">
											<div class="ingpl-peers scope" >
												<div class="lbl left">None</div>
												<div class="lbl right">Severe</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="inpg-fnote" style="display: none;">
								<a class="link s-link" href="https://finance.yahoo.com/quote/ITC.NS/sustainability?p=ITC.NS" target="_blank">https://finance.yahoo.com/quote/ITC.NS/sustainability?p=ITC.NS</a>
							</div>
						</div>
						<div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;margin-top: 25px;color: black;">
                        	Adapted from Sustainalytics reports.
                    	</div>
					</div>							
				</div>
			</div>
		</div>
	</div>
</div>

</div>
