<div class="db">
	<div class="container dbc p-3 bg-light">
		<div class="text-center navhead">
			<h4>"Role of Culture in M&A Deals" - Request form</h4>
		</div>

		<div class="navs">
			<div class="row navrow">
				<div class="col-lg-12 col-md-12 col-sm-12 navitem  p-br">
					<div class="container">
						<form [formGroup]="registerForm" *ngIf="showentryform === true" class="border border-light padding-0 p-5 row" action="">
							<div class="col-12">
								<h6 class="text-danger ">Company Details</h6>
								<hr class="p-1 col-12">
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="cname">Company Name <span class="text-danger text-monospace">*</span></label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.companyName.errors" class="text-danger">
									<div *ngIf="registerForm.controls.companyName.errors.required">Company Name is required</div>
								</label>
								<input type="text" formControlName="companyName" class="form-control form-control-sm" id="cname" placeholder="Enter Company Name Here.."  [(ngModel)]="employeedata.companyName" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.companyName.errors }" disabled="disabled">
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="cwebsite">Company Website <span class="text-danger text-monospace">*</span></label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.companyWebsite.errors" class="text-danger">
									<div *ngIf="registerForm.controls.companyWebsite.errors.required">Company Website is required</div>
								</label>
								<input type="text" formControlName="companyWebsite" class="form-control form-control-sm" id="cwebsite" placeholder="Enter Company Website Name.."  [(ngModel)]="employeedata.companyWebsite" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.companyWebsite.errors }">
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="cemployee">No. of employees in your company <span class="text-danger text-monospace">*</span></label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.empCount.errors" class="text-danger">
									<div *ngIf="registerForm.controls.empCount.errors.required">Employee Count is required</div>
								</label>
								<input type="number" formControlName="empCount" class="form-control form-control-sm" id="empCount" placeholder="Enter Employees Count Here.."  [(ngModel)]="employeedata.empCount" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.empCount.errors }">
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="caddress">Company Address </label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.companyAddress.errors" class="text-danger">
									<div *ngIf="registerForm.controls.companyAddress.errors.required">Company Address is required</div>
								</label>
								<textarea formControlName="companyAddress" class="form-control form-control-sm" id="companyAddress" placeholder="Enter Company Address Here.." [(ngModel)]="employeedata.companyAddress" >-</textarea>
							</div>

							<div class="col-12">
								<h6  class="text-danger ">Employee Details</h6>
								<hr class="p-1 col-12">
								<!-- <ng-datepicker [(ngModel)]="date" />  -->
								<!-- <dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig"></dp-date-picker> -->
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="ename">Your First Name <span class="text-danger text-monospace" >*</span></label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.empFirstName.errors" class="text-danger">
									<div *ngIf="registerForm.controls.empFirstName.errors.required">First Name is required</div>
								</label>
								<input type="text" formControlName="empFirstName" class="form-control form-control-sm" id="cwebsite" placeholder="Enter Your First Name"  [(ngModel)]="employeedata.empFirstName" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.empFirstName.errors }">
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="ename">Your Last Name <span class="text-danger text-monospace" >*</span></label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.empLastName.errors" class="text-danger">
									<div *ngIf="registerForm.controls.empLastName.errors.required">Last Name is required</div>
								</label>
								<input type="text"  formControlName="empLastName" class="form-control form-control-sm" id="cwebsite" placeholder="Enter Your Last Name"  [(ngModel)]="employeedata.empLastName" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.empLastName.errors }">
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="eemail">Your Official Email ID  <span class="text-danger text-monospace" >*</span></label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.empEmail.errors" class="text-danger">
									<div *ngIf="registerForm.controls.empEmail.errors.required">Email is required</div>
									<div *ngIf="registerForm.controls.empEmail.errors.email">Enter valid email address</div>
								</label>
								<input type="text" formControlName="empEmail" class="form-control form-control-sm" id="cwebsite" placeholder="Enter Your Official Email Here.."  [(ngModel)]="employeedata.empEmail" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.empEmail.errors }">
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="edesignation">Contact Number <span class="text-danger text-monospace" >*</span></label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.empContactNo.errors" class="text-danger">
									<div *ngIf="registerForm.controls.empContactNo.errors.required">Contact Number is required</div>
								</label>
								<input type="text" formControlName="empContactNo" class="form-control form-control-sm" id="cwebsite" placeholder="Enter Your Contact No. Here.."  [(ngModel)]="employeedata.empContactNo" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.empContactNo.errors }">
							</div>
							<div class="form-group col-lg-6 col-sm-12 col-xs-12">
								<label for="edesignation">Designation in the Company <span class="text-danger text-monospace" >*</span></label>
								<label *ngIf="submitted &amp;&amp; registerForm.controls.empDesignation.errors" class="text-danger">
									<div *ngIf="registerForm.controls.empDesignation.errors.required">Designation is required</div>
								</label>
								<input type="text" formControlName="empDesignation" class="form-control form-control-sm" id="cwebsite" placeholder="Enter Your Designation Here.."  [(ngModel)]="employeedata.empDesignation" value="" [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.empDesignation.errors }">
							</div>



							<div class="col-12">
								<button type="submit" class="btn btn-default btn-primary" (click)="dlformSubmit()">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>