/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: segoeui;
  src: url(assets/fonts/segoeui.woff) format("woff");
}

@font-face {
  font-family: segoeuib;
  src: url(assets/fonts/segoeuib.woff) format("woff");
}
@font-face {
  font-family: Myriad;
  src: url(assets/fonts/Myriad.woff) format("woff");
}

@font-face {
	font-family:Myriad Pro;
	font-stretch:Condensed;
	src: url(assets/fonts/MYRIADPRO-COND.OTF) format("OTF");
}

@font-face {
	font-family: Adam;
	font-style: normal;
	font-weight: normal;
	src: url(assets/fonts/Adam.woff) format("woff");
}

html, body {
	height: 100%;
	margin: 0;
}
body{
	font-family: 'segoeui', sans-serif;
	font-size: 12px;
	height:100vh;
	position:relative;
	overflow-y: hidden;
	color:#222;
}
body.print { overflow-y: auto }
.bold { font-family: 'segoeuib', sans-serif; }
a {
  transition: all 500ms ease;
  text-decoration: none;
  cursor: pointer;
}
a:hover { text-decoration: none; } 
app-login {
	background-color:#f5383c;
	background-image: url('assets/images/login-bg.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	min-height:550px;
}

app-projects {
	background:#dede;
}

.row-centered { text-align: center; width: auto; display:inline-block; margin: auto; }
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
	text-align: center;
}

.p-bg {
	background-color:#f5383c;
}
.p-bg-6 {
	background-color:rgba(200, 34, 20, 0.6);
}

.s-bg { background-color:#f2f2f2; }
.t-bg { background-color:#e4e4e4; }
.q-bg { background-color:#ccc; }

.p-br { 
	border-color:#a5a5a5;
}
.s-br { 
	border-color:#bbb;
}
.t-br { 
	border-color:#ccc;
}

.p-cl { color:#f5383c }
.s-cl { color:#8b79dd }
.t-cl { color:#333 }
.q-cl { color:#666 }
.dropdown-item.active, .dropdown-item:active { 
	background: none;
}
.link { transition: all 500ms ease; }
.p-link, .p-link:not([href]) { color:#666; }
.p-link:hover, .p-link:not([href]):hover { color:#8b79dd; }
.link fa-icon { margin-right: 10px; }

.btn { transition: all 1000ms ease; outline: none; display:inline-block; width: auto; height: 32px; padding: 6px 10px 4px 10px; font-size:12px; }
.p-btn { background:#f5383c; color:#fff; }
button.btn{ padding-top: 0px }
.p-btn:hover { background:#666; color:#fff; }
.p-btn:disabled, .p-btn:disabled:hover,.p-btn[disabled], .p-btn[disabled]:hover 
.s-btn:disabled, .s-btn:disabled:hover,.s-btn[disabled], .s-btn[disabled]:hover {
  background: #aaa; cursor: not-allowed;
}
.s-btn{ 
	background: #8b79dd; color:#fff; 
}
.s-btn:hover{ 
	background: #c82214; color:#fff; 
}
.db { 
	font-size: 13px;
}
.db .drp .dbox .dbx-body .slick-slider .slick-list {
	height: 100% !important; position: relative  !important; padding: 0px 10px !important;
}
.db .drp .dbox .dbx-body .slick-slider .slick-track {
	height: calc(100% - 20px);
}
.db .drp .dbox .dbx-body .slick-slider .slick-dots {
	bottom: -35px;
}
.db .drp .dbox .dbx-body .slick-slider .slick-dots li { width: 10px; }
.db .drp .dbox .dbx-body .slick-slider .slick-dots li button:before { color:#9688e0; }
.db .drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button {  border:solid 1px #9688e0; border-radius: 50%; height: 10px; width: 10px; }
.db .drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button:before { color:#9688e0; width: 10px; height: 10px; margin-top: -3px; margin-left: 0.5px;}
.cscroll { }
/*.cscroll::-webkit-scrollbar { width: 5px; height: 5px; cursor:pointer; }
.cscroll::-webkit-scrollbar:hover { width: 10px; height: 10px; cursor:pointer;}
.cscroll::-webkit-scrollbar:active { width: 10px; height: 10px; }
.cscroll::-webkit-scrollbar-button { width: 0px; height: 0px; }
.cscroll::-webkit-scrollbar-thumb { border: none; border-radius: 50px; }
.cscroll::-webkit-scrollbar-thumb:hover, .cscroll::-webkit-scrollbar-thumb:active { width:10px; cursor:pointer;}
.cscroll::-webkit-scrollbar-track { width:5px; border:none; border-radius: 50px; }
.cscroll::-webkit-scrollbar-track:hover { width:10px; cursor:pointer; }
.cscroll::-webkit-scrollbar-track:active { width:10px; cursor:pointer; }
.cscroll::-webkit-scrollbar-corner { background: transparent; cursor:pointer; }*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
	border-radius: 3px;
	background-color: #f1f1f1;
}

::-webkit-scrollbar
{
	width: 6px; height: 6px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
	background-color: #666;
}

.rates { display: inline-block; width: 100px; position: relative; height: 20px; margin: auto; }
.rates .ratesd
{ position:absolute; overflow: hidden; height: 20px; }
.rates .ratesd.bk { color:#ccc }
.rates .ratesd.fr { width: 0px; color:#8b79dd }
.rates .ratesd .ratesdcase { width: 100px; height: 20px; }
.rates .ratesd .ratesdcase .ratestar { width: 20px;height: 20px; display: inline-block; float:left; font-size:15px; }

.ng5-slider { margin-top: 16px !important; }
.ng5-slider .ng5-slider-pointer { width: 20px !important; height: 20px !important; }
.ng5-slider .ng5-slider-pointer:after { top:6px !important; left: 6px !important; }
.ng5-slider .ng5-slider-pointer { top: -8px !important; outline: none !important; }
.ng5-slider .ng5-slider-bubble { bottom: 12px !important; font-size:11px !important; }

.dlbl[title="-"], .dlbl[title="NA"] {
	color: #ccc !important;
}


.ptabset {
	width:  100%; height: 100%; margin-top: 10px; display: block; position: relative;
}
.ptabset .tab-content {
	width:  100%; height: calc(100% - 36px);  display: block; position: relative; padding: 5px; background: #fff;
	border:solid 1px #dee2e6; border-top: 0px;
}
.ptabset .tab-content .tab-pane {
	width:  100%; height: 100%; display: block; position: relative; overflow: auto; padding: 10px;
}
.ptabset .nav {
	font-size: 14px;
}
.ptabset .nav .nav-item fa-icon {
	margin-right: 10px;
}
.ngx-datatable.bootstrap { height: calc(100% - 51px); }
.ngx-datatable.bootstrap .datatable-header .datatable-header-cell,
.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell 
{ padding: 0.3rem 1rem;  }

.kprogress-bar {
	position: relative;
	height: 100%;
	width: 100%;
  }
  
  .kprogress-bar div {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
  }
  
  .kprogress-bar div span {
	position: absolute;
	font-family: Arial;
	font-size: 25px;
	height: calc(100% - 4px);
	width: calc(100% - 4px);
	left: 2px;
	top: 2px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
  }
  
  .kprogress-bar .background { background-color: #fff; }
  
  .kprogress-bar .rotate {
	clip: rect(0 25px 50px 0);
	background-color: #4b86db;
  }
  
  .kprogress-bar .left {
	clip: rect(0 25px 50px 0);
	opacity: 1;
	background-color: #b3cef6;
  }
  
  .kprogress-bar .right {
	clip: rect(0 25px 50px 0);
	transform: rotate(180deg);
	opacity: 0;
	background-color: #4b86db;
  }

  .kprogress-bar.green .right, .kprogress-bar.green .rotate { background:#03af59 }
  .kprogress-bar.red .right, .kprogress-bar.red .rotate { background:#f5383c }
  .kprogress-bar.yellow .right, .kprogress-bar.yellow .rotate { background:#ffa800 }

 @keyframes toggle {  
	 0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
  }


  .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
  


app-root, app-login, app-dashboard, app-projects, app-main, app-lmain, app-amain, app-lsreport
{
	display: block;
	height: 100vh;
}
.db { width: 100%; height: 100%; display: block; position: relative; }
.db .dbh { width: 100%; height: 50px; display: block; position: relative; padding: 0px 20px; background: #fff;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 0px 7px 0px rgba(7, 3, 3, 0.16);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.16);
}
.db .dbh .logo { width: auto; height: 30px; display: inline-block; position: relative; float: left; margin: 10px 0px; }
.db .dbh .logo img { height: 100%; }
.db .dbh .upanel { 
	width: auto; height: 100%; display: inline-block; float: right; border-right: solid 1px #eae8e9; 
	border-left: solid 1px #eae8e9;
}
.db .dbh .upanel * {
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}
.db .dbh .upanel .up-btn { 
	width: auto; height: 100%; display: inline-block; padding: 10px;
}
.db .dbh .upanel .up-btn .up-icon { 
	width: 30px; height: 30px; display: inline-block; margin-left: 10px; float: right;
	background:#ddd; border-radius: 50%; text-align: center; padding-top: 1px; color:#fff; font-size: 18px;
}
.db .dbh .upanel .up-btn .up-label { 
	width: auto; height: 30px; display: inline-block; float: right; font-size: 14px; padding-top: 5px;
	white-space: nowrap; color:#666;
}
.db .dbh .upanel .dropdown-menu { 
	display: block; margin-top: -1px; 
}
.db .dbh .upanel .dropdown-menu a { 
	border-bottom: solid 1px #eae8e9; font-size: 12px; padding: 7px 10px;
	-webkit-transition: none;
	transition: none;
}
.db .dbh .upanel .dropdown-menu a * { 
	-webkit-transition: none;
	transition: none;
}
.db .dbh .upanel .dropdown-menu a:last-child { border-bottom: none; }

.db .dbh .upanel .dropdown-menu a fa-icon { 
	margin-right: 10px;
}

.db .dbh .upanel .up-btn:hover .up-icon, .db .dbh .upanel .up-btn.selected .up-icon { background:#8b79dd }
.db .dbh .upanel .up-btn:hover .up-label, .db .dbh .upanel .up-btn.selected .up-label { color:#8b79dd }

.db .dbc { width: 100%; height: calc(100% - 50px); display: block; position: relative; }

.dbk { width: 100%; height: 100%; display: inline-block; padding: 0px 15px; overflow: auto;scroll-behavior: smooth;}
.dbk > .row { margin-bottom: 15px; }
.dbk .dbk-box {
	white-space: pre-wrap; 
}
.dbk .dbk-box .dbkb-head {
	width: 100%; 
}
.dbk .dbk-box .dbkb-head .dbkb-title { font-weight: 700; font-size: 12px; }
.dbk .dbk-box .dbkb-head .dbkb-title fa-icon { margin-right: 8px; }
.dbk .dbk-box .dbkb-body {
	width: 100%; height: auto; display: block; text-align: center;
}

.dbk .border-right { border-width: 0px; border-right-width: 1px; border-style: solid; border-color:#ddd }
.dbk .border-dotted { border-style: dotted; }

.dbk .orater {
	width: 100%; height: 120px; margin: auto;
}
.dbk .orater .ratediv {
	width: 100%; height: 80px; background:#fff;
	display: flex; align-items: center;
}
.dbk .orater .ratelbl {
	width: 100%; height: 40px; background:#ccc; text-align: center; font-weight: 700; font-size: 0.9vw; 
	padding: 10px 0px;
}

.dbk .rcs {
	width: auto; margin: auto; height: 120px; display: inline-block;
}
.dbk .rcs .rc {
	width: 90px; margin: auto 5px; height: 120px; display: inline-block; float: left; 
	cursor: pointer;
}
.dbk .rcs .rc .rc-case {
	width: 50px; height: 50px; text-align: center; margin:0px auto 10px auto;
	position: relative;
}
.dbk .rcs .rc .rc-case .ldBar {
	width:100% !important;
	height:100% !important;
	background-size: contain;
	cursor:pointer;
}
.dbk .rcs .rc .rc-case .ldBar-label {
	position: absolute; 
	top: -20px;
	text-align: center;
	width: 100%;
	display: none;
}
.dbk .rcs .rc .rc-case .ldBar-label:after {
	content: "";
	color: #aaa;
	margin-left: 5px;
	font-family: courier new;
	font-size: 0.7em;
	font-weight: 200;
  }
.dbk .rcs .rc .rc-case .rc-icon {
   position: absolute; width: calc(100% - 4px); height: calc(100% - 4px); background:#fff; border-radius: 50%;
   left: 2px; top: 2px; display: flex; align-content: center; align-items: center; justify-content: center;
   border:solid 1px #eee;
}
.dbk .rcs .rc .rc-case .rc-icon fa-icon {
	font-size: 16px; color:#8b79dd
}


.kprogress-bar.green .right, .kprogress-bar.green .rotate { background:#03af59 }
.kprogress-bar.red .right, .kprogress-bar.red .rotate { background:#f5383c }
.kprogress-bar.yellow .right, .kprogress-bar.yellow .rotate { background:#ffa800 }

.dbk .rcs .rc.green .mainline { stroke:#03af59 }
.dbk .rcs .rc.red .mainline { stroke:#f5383c }
.dbk .rcs .rc.yellow .mainline { stroke:#ffa800 }
.ccq-oslogo .mainline{ stroke:#F868AE }

.dbk .rcs .rc .rc-label {
	width: 100%; height: 40px; text-align: center; font-size: 12px;
}
.dbk .rcs .rc .rc-val {
	width: 100%; height: 20px; text-align: center; position: relative; 
}
.dbk .rcs .rc .rc-val .rc-num, .dbk .rcs .rc .rc-val .rc-tail {
  /*  display: none;
	transition: all 500ms ease;*/
}

.dbk .rcs .rc.green .rc-val { color:#03af59 }
.dbk .rcs .rc.red .rc-val { color:#f5383c }
.dbk .rcs .rc.yellow .rc-val { color:#ffa800 }

.dbk .rcs .rc .rc-val .rc-tail {
	font-size: 8px;
	position: absolute;
   margin: -1px auto 0px auto;
	width: 100%;
	z-index: 1;
}

.dbk .rcs .rc:hover { background: #fff; }
.dbk .rcs .rc:hover .rc-label { color:#8b79dd; }
.dbk .rcs .rc:hover .rc-val .rc-num, .dbk .rcs .rc:hover .rc-val .rc-tail {
	display: block;
}


.ivl {
	width: 100%; 
	height: auto;
	display: inline-block;
}
.ivl .ivl-head {
	width: 100%; 
	height: 30px;
	padding: 5px 10px;
	display: block;
	background: #fff;
	font-weight: 700;
	font-size: 13px;
	color:#8b79dd;
}
.ivl .ivl-body {
	width: 100%; 
	height: auto;
	display: inline-block;
	font-size: 13px;
}
.ivl .ivl-body .ivl-row {
	width: 100%; 
	height: 30px;
	max-height: 30px;
	display: block;
	margin: 0px;
	background-image: url('assets/images/funnel.png'); 
	background-repeat: no-repeat;
	float: left;
	border-bottom: solid 1px #fff;
}
.ivl .ivl-body .ivl-row:nth-child(even) {
	background-color: #fff;
}
.ivl .ivl-body .ivl-row .ivl-lcell, 
.ivl .ivl-body .ivl-row .ivl-rcell {
	width: calc(50% - 80px); 
	height: 30px;
	padding: 5px 10px;
	display: inline-block;
	text-align: left;
	margin: 0px;
	float: left;
}
.ivl .ivl-body .ivl-row .ivl-rcell { text-align: right }
.ivl .ivl-body .ivl-row .ivl-mcell {
	width: 160px; 
	height: 30px;
	float: left;
	display: inline-block;
	text-align: center;
} 
.ivl .ivl-body .ivl-row:nth-child(1) { background-position: center 0px }
.ivl .ivl-body .ivl-row:nth-child(2) { background-position: center -29px }
.ivl .ivl-body .ivl-row:nth-child(3) { background-position: center -58px }
.ivl .ivl-body .ivl-row:nth-child(4) { background-position: center -87px }
.ivl .ivl-body .ivl-row:nth-child(5) { background-position: center -116px }
.ivl .ivl-body .ivl-row:nth-child(6)  { background-position: center -145px }
.ivl .ivl-body .ivl-row:nth-child(7)  { background-position: center -174px }

.ivl .ivl-bubble {
	width: 12px; height: 12px; border-radius: 50%;  background-color: #8b79dd;
	margin: 9px 2px; display: inline-block; position: relative;
}

.ivl .ivl-footer {
	width: 100%; 
	height: 30px;
	padding: 5px 10px;
	display: block;
	font-weight: 700;
	font-size: 12px;
	color:#333;
	text-align: left
}

.speech-bubble {
	color:#fff;
	text-align: center;
	background: #8b79dd;
	border-radius: .4em;
	font-size: 12px; 
	padding: 2px 5px;
	position: relative;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: #8b79dd;
	border-bottom: 0;
	margin-left: -6px;
	margin-bottom: -6px;
}

.ivl .ivl-bubble .speech-bubble {
	width: 100px;
	height: 30px;
	margin: auto;
	font-size: 10px;
	align-content: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -40px;
	margin-left: -45px;
	display: none;
	padding: 2px;

}
.ivl .ivl-bubble:hover .speech-bubble  {
	display: flex;
}
.highcharts-legend { font-family: 'segoeui', sans-serif; color: #666;  }


.ccq-oslogo .ldBar-label {
	position: absolute;
	top: -20px;
	text-align: center;
	width: 100%;
	display: none;
}


/*/ Culture Genome /*/

.CulGenome .rates .ratesd.fr, .CulGenome a {
	color: #9688E0 !important;
}

.CulGenome .key_statistics_lable {
	color: #9688E0 !important;
}

.CulGenome .cons-title, .CulGenome .pros-title {
	color: #9688E0 !important;
}

.CulGenome .ceo_approval {
	background-color: #9688E0 !important;
}

.CulGenome .ivl .ivl-head {
	color: #9688E0 !important;
}

.CulGenome .ivl .ivl-bubble {
	background-color: #9688E0 !important;
}

.CulGenome .arrow-right {
	border-left: 8px solid #9688E0 !important;
}

.CulGenome .opactive {
	border-left: 3px solid #9688E0 !important;
}

.CulGenome .moodindex .mi_circle {
	border: 3px solid #9688E0 !important;
}

.CulGenome .cardheader {
	background-color: #9688E0 !important;
}

.CulGenome.drp .dbox .dbx-body .slick-slider .slick-dots li button:before { color:#9688E0 !important; }
.CulGenome.drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button {  border:solid 1px #9688E0 !important;}
.CulGenome.drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button:before { color:#9688E0 !important;}
.CulGenome .speech-bubble {
	background: #9688E0 !important;
}

.CulGenome .bnstabset .bnstabs .bnstab.active {
	border-top: solid 2px #9688E0 !important;
	color: #9688E0 !important;
}
.CulGenome .bnstabset .bnstabs .bnstab .tail {
	border-color: #9688E0 transparent transparent transparent !important;
}
.CulGenome .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #9688E0 !important;
	color: #f2f2f2 !important;
}
.CulGenome.dbk .rcs .rc:hover .rc-label {
	color: #9688E0 !important;
}
.CulGenome .speech-bubble:after {
	border-top-color: #9688E0 !important;
}
.CulGenome .ivl .ivl-bubble.lv {
	background: #fff !important;
	border: solid 1px #9688E0 !important;
}

.CulGenome .dbx-slidecontent:hover{
  color:#9688E0 !important;
}
/*/ In Genome /*/

.InGenome .rates .ratesd.fr,.InGenome a {
	color: #D672AE !important;
}

.InGenome .key_statistics_lable {
	color: #D672AE !important;
}

.InGenome .cons-title, .InGenome .pros-title {
	color: #D672AE !important;
}

.InGenome .ceo_approval {
	background-color: #D672AE !important;
}

.InGenome .ivl .ivl-head {
	color: #D672AE !important;
}

.InGenome .ivl .ivl-bubble {
	background-color: #D672AE !important;
}

.InGenome .arrow-right {
	border-left: 8px solid #D672AE !important;
}

.InGenome .opactive {
	border-left: 3px solid #D672AE !important;
}

.InGenome .moodindex .mi_circle {
	border: 3px solid #D672AE !important;
}

.InGenome .cardheader {
	background-color: #D672AE !important;
}

.InGenome.drp .dbox .dbx-body .slick-slider .slick-dots li button:before { color:#D672AE !important; }
.InGenome.drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button {  border:solid 1px #D672AE !important;}
.InGenome.drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button:before { color:#D672AE !important;}
.InGenome .speech-bubble {
	background: #D672AE !important;
}
.InGenome .bnstabset .bnstabs .bnstab.active {
	border-top: solid 2px #D672AE !important;
	color: #D672AE !important;
}
.InGenome .bnstabset .bnstabs .bnstab .tail {
	border-color: #D672AE transparent transparent transparent !important;
}

.InGenome .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #D672AE !important;
	color: #f2f2f2 !important;
}
.InGenome.dbk .rcs .rc:hover .rc-label {
	color: #D672AE !important;
}
.InGenome .speech-bubble:after {
	border-top-color: #D672AE !important;
}
.InGenome .ivl .ivl-bubble.lv {
	background: #fff !important;
	border: solid 1px #D672AE !important;
}
.InGenome .dbx-slidecontent:hover{
  color:#D672AE !important;
}
/*/ Mna Genome /*/

.MnAGenome .rates .ratesd.fr, .MnAGenome a {
	color: #F5383C !important;
}

.MnAGenome .key_statistics_lable {
	color: #F5383C !important;
}

.MnAGenome .cons-title, .MnAGenome .pros-title {
	color: #F5383C !important;
}

.MnAGenome .ceo_approval {
	background-color: #F5383C !important;
}

.MnAGenome .ivl .ivl-head {
	color: #F5383C !important;
}

.MnAGenome .ivl .ivl-bubble {
	background-color: #F5383C !important;
}

.MnAGenome .arrow-right {
	border-left: 8px solid #F5383C !important;
}

.MnAGenome .opactive {
	border-left: 3px solid #F5383C !important;
}

.MnAGenome .moodindex .mi_circle {
	border: 3px solid #F5383C !important;
}

.MnAGenome .cardheader {
	background-color: #F5383C !important;
}

.MnAGenome.drp .dbox .dbx-body .slick-slider .slick-dots li button:before { color:#F5383C !important; }
.MnAGenome.drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button {  border:solid 1px #F5383C !important;}
.MnAGenome.drp .dbox .dbx-body .slick-slider .slick-dots li.slick-active button:before { color:#F5383C !important;}

.MnAGenome .speech-bubble {
	background: #F5383C !important;
}
.MnAGenome .bnstabset .bnstabs .bnstab.active {
	border-top: solid 2px #F5383C !important;
	color: #F5383C !important;
}
.MnAGenome .bnstabset .bnstabs .bnstab .tail {
	border-color: #F5383C transparent transparent transparent !important;
}

.MnAGenome .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #F5383C !important;
	color: #f2f2f2 !important;
}

.MnAGenome.dbk .rcs .rc:hover .rc-label {
	color: #F5383C !important;
}
.MnAGenome .speech-bubble:after {
	border-top-color: #F5383C !important;
}
.MnAGenome .ivl .ivl-bubble.lv {
	background: #fff !important;
	border: solid 1px #F5383C !important;
}

.MnAGenome .dbx-slidecontent:hover{
  color:#F5383C !important;
}

#MnAGenome .ccq-oslogo .baseline{ stroke:#666 !important; }
#MnAGenome .ccq-oslogo .mainline{ stroke:#F5383C !important; }

.mna-ldBar .mainline{
  stroke: #dc3545 !important;
  stroke-width: 2 !important;
}
.mna-ldBar .baseline{
  stroke: #ccc !important;
  stroke-width: 2 !important;
}
.mna-ldBar .ldBar-label {
	display: none;
}

.mna-ldBar.cst-ldBar .mainline{
  stroke: #ffa800 !important;
}

.mna-ldBar.bns-ldBar .mainline{
  stroke: #03af59 !important;
}

#MnAGenome .middle-dash-panel .main-rc-val .fa-circle{
  border: 2px solid #dc3545;
  border-radius: 50%;
}

#MnAGenome .middle-dash-panel .cst-rc-val .fa-circle{
  border: 2px solid #ffa800;
  border-radius: 50%;
}

#MnAGenome .middle-dash-panel .bns-rc-val .fa-circle{
  border: 2px solid #03af59;
  border-radius: 50%;
}

.mna-active-ldBar .baseline {
	stroke: #bbb !important;
	stroke-width: 3 !important;
}

#MnAGenome .local-footprint .dlp-omap .dlp-obody .dlp-map svg{
	height: 230px !important;
}

#MnAGenome .local-footprint .highcharts-container {
	height: 260px !important;
}

#MnAGenome .middle-dash-panel .ccq-rc-val .fa-circle{
  border: 2px solid #ffa800;
  border-radius: 50%;
}

#MnAGenome .middle-dash-panel .vaf-rc-val .fa-circle{
  border: 2px solid #dc3545;
  border-radius: 50%;
}

#MnAGenome .hidden-desktop .ccq-rc-val .fa-circle{
  border: 2px solid #ffa800;
  border-radius: 50%;
}

#MnAGenome .hidden-desktop .vaf-rc-val .fa-circle{
  border: 2px solid #dc3545;
  border-radius: 50%;
}

.mna-ldBar.ccq-ldBar .mainline{
  stroke: #ffa800 !important;
}

.mna-ldBar.vaf-ldBar .mainline{
  stroke: #dc3545 !important;
}

.mna-ldBar .mainline{
  stroke: #ffa800 !important;
  stroke-width: 2 !important;
}

.va-dash-border .mna-ldBar .mainline {
	stroke: #dc3545 !important;
}

/* MnAGenome Ends */

.survey_heading_fnt{
	font-family: Adam;
}

.small-caps {
	font-variant: small-caps !important;
}
/*#culture-dash .highcharts-container .highcharts-root .highcharts-data-labels.highcharts-series-1.highcharts-pie-series.highcharts-tracker .highcharts-label.highcharts-data-label .highcharts-label-box{
 height:60px !important;
  width:60px !important;
}*/

.cvacvalue{
  border-radius: 50%;
	padding: 5px;
	text-align: center;
	font-size: 18px;
	background-color: #999;
	margin-left: 37px;
	height: 65px;
	width: 65px;
	color: white;
	font-family: Myriad;
	font-weight: 400;
}

.cstcvalue{
  border-radius:50%;  padding:5px; font-size:18px;margin-left: 40px;background-color:#6c6c6c;height:65px;width:65px;color:white;font-family: Myriad;font-weight: 400;
}
.pskcvalue{
  border-radius:50%;padding:5px;font-size:18px;margin: -18px 5px;background-color:#f868ae;height:65px;width:65px;color:white;font-family: Myriad;font-weight: 400;
}
.bnsvalue{
  border-radius:50%;padding:5px;font-size:18px; margin: -8px -21px;background-color:#999;height:65px;width:65px;color:white;font-family: Myriad;font-weight: 400;
}
.adqcvalue{
  border-radius:50%;padding:5px;text-align: center; font-size:18px;margin-top: -43px;margin-left: -63px;background-color:#914ee9;height:65px;width:65px;color:white;font-family: Myriad;font-weight: 400;
}
.lspvalue{
  border-radius:50%;padding:5px;font-size:18px;margin: -27px -30px;background-color:#02c5fd;height:65px;width:65px;color:white;font-family: Myriad;font-weight: 400;
}
.inpvalue{
  border-radius:50%;padding:5px;font-size:18px;margin: -17px -28px;background-color:#6c6c6c;height:65px;width:65px;color:white;font-family: Myriad;font-weight: 400;
}


/*mna genome dashboard changed graph-gauge chart*/
#container_Axis_0_Pointer_NeedleCap_0{
fill:black!important;	
}
#container_Axis_0_Pointer_Needle_0{
	fill:black!important;
	
}
#container_Axis_0_Pointer_NeedleTail_0{
	fill:black!important;	
	width:15px !important;
}
#container_CircularGaugeBorder{
	position:absolute!important;
	background:transparent !important;
}
.control-section{
	width:100% !important;
	height:200px !important;
}
#container{
	display: block !important;
    user-select: none !important;
    position: absolute!important;
    z-index: 1!important;
    background-color: transparent !important;
    fill: transparent !important;
}


#container_Axis_0_Annotation_0{
	left:60px!important;
	top:100px!important;
}
.middle_graph_mna svg{
	/* transform: scaleX(0.6) scaleY(0.6) translateY(-205px) translateX(-205px); */
	filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
	position: relative;
	margin-top: -150px;
	width:330px;
    transform: scale(0.7, 0.7) translate(10px, 10px);
}



.middle_graph_mna svg #container_CircularGaugeBorder{
	fill: transparent !important;
}
#templateWrap{display:none;}

.heading{
	text-align: center;
    bottom: 0;
    position: absolute;
    
}
.heading span{
	font-size:18px;
}
.heading p{
	font-size:18px;
}
.MnAGenome a{
	color:#000!important;
}
.MnAGenome a:hover{
	color:#F5383C !important;
}



@media screen and  (min-width: 768px) and (max-width: 1366px) {
	.cvacvalue{
		border-radius: 50%;
		padding: 5px;
		text-align: center;
		font-size: 18px;
		background-color: #999;
		margin-left: 37px;
		height: 56px;
		width: 56px;
		color: white;
		font-family: Myriad;
		font-weight: 400;
	}
	.cstcvalue{
		margin-left: 10px;border-radius:50%;  padding:5px; font-size:18px;margin-left: 0px !important;background-color:#6c6c6c;height:56px;width:56px;color:white;font-family: Myriad;font-weight: 400;
	}
	.pskcvalue{
		border-radius:50%;padding:5px;font-size:18px;margin: -18px 5px;background-color:#f868ae;height:56px;width:56px;color:white;font-family: Myriad;font-weight: 400;
	}
	.bnsvalue{
		border-radius:50%;padding:5px;font-size:18px; margin: -8px -21px;background-color:#999;height:56px;width:56px;color:white;font-family: Myriad;font-weight: 400;
	}
	.adqcvalue{
		border-radius:50%;padding:5px;text-align: center; font-size:18px;margin-top: -30px;margin-left: -63px;background-color:#914ee9;height:56px;width:56px;color:white;font-family: Myriad;font-weight: 400;
	}
	.lspvalue{
		border-radius:50%;padding:5px;font-size:18px;margin: -27px -30px;background-color:#02c5fd;height:56px;width:56px;color:white;font-family: Myriad;font-weight: 400;
	}
	.inpvalue{
		border-radius:50%;padding:5px;font-size:18px;margin: -17px -28px;background-color:#6c6c6c;height:56px;width:56px;color:white;font-family: Myriad;font-weight: 400;
	}

	.db .drp .dbox .dbx-body .slick-slider .slick-dots {
		bottom: 0px;
	}
}

.cult-txtstyle{
	font-family:sans-serif;text-transform: uppercase;
}
.middle-dash-panel .highcharts-data-label.highcharts-tracker{
	font-family: 'segoeuib', sans-serif !important;
	text-transform: uppercase !important;
	stroke: none;
	font-size: 12px !important;
}
	
.culmiddle-dash-panel .highcharts-data-label.highcharts-tracker tspan{
	font-size: 13px !important;
	font-family: segoeui !important;
	font-weight: 600;
	stroke: none;
}
.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-0.highcharts-tracker tspan:nth-child(1),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-1.highcharts-tracker tspan:nth-child(1),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-2.highcharts-tracker tspan:nth-child(1),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-3.highcharts-tracker tspan:nth-child(1),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-4.highcharts-tracker tspan:nth-child(1),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-5.highcharts-tracker tspan:nth-child(1),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-6.highcharts-tracker tspan:nth-child(1){
	font-size: 23px !important;
	color: #fff;
	stroke: none !important;
	font-family: Myriad !important;
	font-weight: 100;
	margin-bottom: 3px !important;
}
.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-0.highcharts-tracker tspan:nth-child(4),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-1.highcharts-tracker tspan:nth-child(4),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-3.highcharts-tracker tspan:nth-child(4),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-4.highcharts-tracker tspan:nth-child(4),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-6.highcharts-tracker tspan:nth-child(4){
	font-size: 23px !important;
	font-family: Myriad !important;
}

.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-2.highcharts-tracker tspan:nth-child(3),.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-5.highcharts-tracker tspan:nth-child(3){
	font-size: 23px !important;
	font-family: Myriad !important;
}


/*@media only screen and (max-width: 600px) {
   
}*/
@media screen and  (min-width: 320px) and (max-width: 359px) {
	.db .dbh {
		padding: 0px 10px !important;
	}

	.InGenome.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}
	.CulGenome.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}
	.adqc.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}
	.gblMapChart svg {
		width: 270px !important;
	}
	.bnsPieChart svg {
		width: 270px !important;
	}
	.inGblPieChart svg {
		width: 300px !important;
	}
	.CulGenome .db .drp .dbox .dbx-body .slick-slider .slick-dots {
		bottom: -10px !important;
	}

	.MnAGenome.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}
	
	.gblMapChart-mna svg {
		width: 250px !important;
	}

	#MnAGenome.db .drp .dbox .dbx-body .slick-slider .slick-dots {
		bottom: 0px !important;
	}
	.middle_graph_mna svg {
		/* transform: scaleX(0.7) scaleY(0.7) translateY(-194px) translateX(-245px) !important; */
		margin-top: -200px;
		width:100%;
	}
}
@media screen and  (min-width: 360px) and (max-width: 420px) {
	.db .dbh {
		padding: 0px 10px !important;
	}

	.InGenome.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}
	.CulGenome.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}
	.adqc.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}
	.gblMapChart svg {
		width: 300px !important;
	}
	.bnsPieChart svg {
		width: 300px !important;
	}
	.inGblPieChart svg {
		width: 300px !important;
	}
	.CulGenome .db .drp .dbox .dbx-body .slick-slider .slick-dots {
		bottom: -10px !important;
	}

	.MnAGenome.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}

	.gblMapChart-mna svg {
		width: 280px !important;
	}

	#MnAGenome.db .drp .dbox .dbx-body .slick-slider .slick-dots {
		bottom: 0px !important;
	}
	.middle_graph_mna svg {
		/* transform: scaleX(0.7) scaleY(0.7) translateY(-194px) translateX(-220px) !important; */
		margin-top: -180px;
		width:100%;
	}
}

@media screen and (min-width:420px) and (max-width:767px){
	.middle_graph_mna svg {
		/* transform: scaleX(0.7) scaleY(0.7) translateY(-194px) translateX(-220px) !important; */
		margin-top: -180px;
		width:100%;
	}
}
@media screen and (min-width:768px) and (max-width:991px){
	.middle_graph_mna svg {
		/* transform: scaleX(0.7) scaleY(0.7) translateY(-194px) translateX(-220px) !important; */
		margin-top: -180px;
		width:100%;
	}
}
@media screen and (min-width:991px) and (max-width:1280px){
	.middle_graph_mna svg {
		/* transform: scaleX(0.7) scaleY(0.7) translateY(-194px) translateX(-220px) !important; */
		margin-top: -180px;
		width:100%;
	}
}

@media screen and (min-width:1280px) and (max-width:1400px){
	.middle_graph_mna svg {
		/* transform: scaleX(0.7) scaleY(0.7) translateY(-194px) translateX(-220px) !important; */
		margin-top: -150px;
		width:100%;
	}
}
@media screen and (min-width:1400px) and (max-width:1600px){
	.middle_graph_mna svg {
		/* transform: scaleX(0.7) scaleY(0.7) translateY(-194px) translateX(-220px) !important; */
		margin-top: -150px;
		width:100%;
	}
}
@media screen and (min-width:1600px){
	.middle_graph_mna svg {
		/* transform: scaleX(0.7) scaleY(0.7) translateY(-194px) translateX(-220px) !important; */
		margin-top: -150px;
		width:100%;
	}
}

/*@media screen and  (min-width: 320px) and (max-width: 420px) {
	.InGenome.dbk {
		height: 600px !important;
		padding-bottom: 30px;
	}
 



	.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-0.highcharts-tracker tspan{
		font-size: 6px !important;
	}
	.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-1.highcharts-tracker tspan{
		font-size: 6px !important;
	}
	.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-2.highcharts-tracker tspan{
		font-size: 6px !important;
	}
	.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-3.highcharts-tracker tspan{
		font-size: 6px !important;
	}
	.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-4.highcharts-tracker tspan{
		font-size: 6px !important;
	}
	.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-5.highcharts-tracker tspan{
		font-size: 6px !important;
	}
	.culmiddle-dash-panel .highcharts-data-label.highcharts-data-label-color-6.highcharts-tracker tspan{
		font-size: 6px !important;
	}

	.cvacvalue{
	  border-radius:50%;padding:5px;background-color:#999;margin-left: 49px;height:30px;width:30px;color:white;
	}

	.cstcvalue{
	  border-radius:50%;    padding: 5px;margin-left: 48px;padding-top: 16px;background-color:#6c6c6c;height:30px;width:30px;color:white;
	}
	.pskcvalue{
	  border-radius:50%;padding:5px;margin: -9px 7px;background-color:#f868ae;height:30px;width:30px;color:white;
	}
	.bnsvalue{
	  border-radius:50%;padding: 5px; padding-top: 17px; margin: -8px -21px;background-color:#999;height:30px;width:30px;color:white;
	}
	.adqcvalue{
	  border-radius:50%;padding:5px;margin-top: -27px;margin-left: -47px;background-color:#914ee9;height:30px;width:30px;color:white;
	}
	.lspvalue{
	  border-radius:50%;padding:5px;margin: -17px -30px;background-color:#02c5fd;height:30px;width:30px;color:white;
	}
	.inpvalue{
	  border-radius:50%;padding:5px;margin: -17px -28px;background-color:#6c6c6c;height:30px;width:30px;color:white;
	}
}*/

@media screen and  (min-width: 675px) and (max-width: 1440px) {
	
	.cvacvalue{
		border-radius: 50%;
		padding: 5px;
		text-align: center;
		font-size: 18px;
		background-color: #999;
		margin-left: 29px;
		height: 56px;
		width: 56px;
		color: white;
		font-family: Myriad;
		font-weight: 400;
	}
	.cstcvalue{
		border-radius:50%;  padding:5px; font-size:18px;margin-left: 40px;background-color:#6c6c6c;height: 54px;width: 54px;color:white;font-family: Myriad;font-weight: 400;
	}
	.pskcvalue{
		border-radius:50%;padding:5px;font-size:18px;margin: -18px 5px;background-color:#f868ae;height: 54px;width: 54px;color:white;font-family: Myriad;font-weight: 400;
	}
	.bnsvalue{
		border-radius:50%;padding:5px;font-size:18px; margin: -8px -21px;background-color:#999;height: 54px;width: 54px;color:white;font-family: Myriad;font-weight: 400;
	}
	.adqcvalue{
		border-radius:50%;padding:5px;text-align: center; font-size:18px;margin-top: -30px;margin-left: -63px;background-color:#914ee9;height: 54px;width: 54px;color:white;font-family: Myriad;font-weight: 400;
	}
	.lspvalue{
		border-radius:50%;padding:5px;font-size:18px;margin: -24px -35px;background-color:#02c5fd;height: 54px;width: 54px;color:white;font-family: Myriad;font-weight: 400;
	}
	.inpvalue{
		border-radius:50%;padding:5px;font-size:18px;margin: -17px -28px;background-color:#6c6c6c;height: 54px;width: 54px;color:white;font-family: Myriad;font-weight: 400;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	#malefemalechart svg, #designationchart svg, #associatebankchart svg {
		width: 300px !important;
	}

	#MnAGenome.db .drp .dbox .dbx-body .slick-slider .slick-dots {
		bottom: 45px !important;
	}

	/* .middle_graph_mna svg {
	    -webkit-transform: scaleX(0.7) scaleY(0.7) translateY(-195px) translateX(-138px) !important;
	    transform: scaleX(0.6) scaleY(0.6) translateY(-285px) translateX(-337px) !important;
	    -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
	    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
	} */
	.nav-highchart-menu-right {
	    padding-left: 54px;
	}
	.nav-highchart-menu-left {
    /* padding-left: 50px; */
	    text-align: left;
	}
}
/*
@media only screen and (min-width: 1280px) and (max-width: 1281px) {
	
	.middle_graph_mna svg {
		transform:scaleX(0.6) scaleY(0.6) translateY(-205px) translateX(-238px);
	}
}
@media screen and (min-width: 1440px) {
	
	.middle_graph_mna svg {
		transform:scaleX(0.6) scaleY(0.6) translateY(-205px) translateX(-169px);
	}
}
@media screen and (min-width: 1600px){
	
	.middle_graph_mna svg {
		transform:scaleX(0.6) scaleY(0.6) translateY(-205px) translateX(-100px);
	}
}
*/

