<div class="dbk {{project?.project_variation_type}}">
	<div class="row">
		  <div class="col-lg-12 col-md-12">
			  <div class="dbk-box">
			  		<p>A comprehensive scan of what employee are saying about your organisation on social media.</p>
				  <div class="dbkb-head">
					  <h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
				  </div>
				  <div class="dbkb-body">
					  <p  [innerHTML]="project?.pskc.executiveSummary" style="text-align: left"></p>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="row"  style="margin-top: -20px; margin-bottom: 10px"> 
	  	<div class="col-lg-12 col-md-12">
	  		<ul class="nav nav-pills float-right">
	  			<!-- <li class="nav-item">
	  				<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEnt1'}" (click)="switchView('bnsEnt1')">BNP</a>

	  			</li>
	  			<li class="nav-item">
	  				<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'" [ngClass]="{'active': currentView === 'bnsEnt2'}" (click)="switchView2('bnsEnt2')">BOB</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'" [ngClass]="{'active': currentView === 'bnsEnt3'}" (click)="switchView3('bnsEnt3')">CE</a>
				</li> -->


				<li class="nav-item">
					<a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'bnsEnt1'}" (click)="onclick()">BOB</a>{{a}}
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-sm" [ngClass]="{'active': currentView === 'bnsEnt2'}" (click)="bnsEnt2()">BNP</a>
				</li>



	  		</ul>
		  </div>
		  
	  </div>
 
	<div class="row">
		  <div class="col-lg-3 col-md-3 col-sm-3 col-12 border-right dotted">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-12">
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
							</div>
							<div class="dbkb-body">
								<div class="orater" title="{{project?.pskc.opinion_index}}">
									<div class="ratediv">
										<div class="rates">
											<div class="ratesd bk"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]"><fa-icon [icon]="['far', 'star']" ></fa-icon></div></div></div>
											<div class="ratesd fr" [style.width.%]="project?.pskc.opinion_index * 20"><div class="ratesdcase"><div class="ratestar" *ngFor="let number of [0,1,2,3,4]" ><fa-icon [icon]="['fas', 'star']" ></fa-icon></div></div></div>
										</div>
									</div>
									<div class="ratelbl"><span>OPINION INDEX</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12" >
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATISTICS</h6>
							</div>
							<div class="dbkb-body">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-6">
											<span class=" float-left key_statistics_width">
												<p class="key_statistics">
													<strong *ngIf="countUpView === true" [CountTo]="countUpReview" [from]="0" [duration]="1"></strong>
												</p>
												<p class="key_statistics_lable ">Reviews</p></span>
										</div>
										<div class="col-lg-6 col-md-6 col-6">
											<span class="float-left key_statistics_width" style="margin-left: -10px;"><p class="key_statistics"><strong *ngIf="countUpView === true" [CountTo]="countUpInterview" [from]="0" [duration]="1"></strong></p><p class="key_statistics_lable">Interviews</p></span>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<div class="ceo_approval-ppk">
												<p class="ptag pros-title"><fa-icon [icon]="['far', 'clipboard']"></fa-icon> Leadership Sentiment</p>
												<p class="angular-with-newlines ptag">{{project?.pskc.ceo_approval}}% of employees approve of the CEO's performance</p>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12 col-md-12" >
											<div class="fri_recommend">
												<p class="ptag pros-title"><fa-icon [icon]="['far', 'thumbs-up']"></fa-icon> Recommend to a Friend</p>
												<p class="angular-with-newlines ptag">73%  of people are likely to recommend to a friend</p>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>


		  </div>
		  <div class="col-lg-9 col-md-9 col-sm-9 col-12">
			<div class="row inner-dash-right-panel">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
						</div>
						<div class="dbkb-body">
							<div class="rcs">
								<div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.pskc[rc.prop] < 2, 'yellow':  project?.pskc[rc.prop] >= 2 && project?.pskc[rc.prop] < 4, 'green':  project?.pskc[rc.prop] >= 4}" >
									<div class="rc-val"><div class="rc-num">{{project?.pskc[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
									<div class="rc-case" >
											<div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></div>
											<div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
									</div>
									<div class="rc-label">{{rc.label}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
					<div class="col-12">
						<div class="dbk-box">
							<div class="dbkb-head">
								<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>COMPANY INSIGHTS</h6>
							</div>
							<div class="dbkb-body">
								<div class="row">
									<div class="col-lg-6 col-md-6 pros-col">
										<div class="pros-div text-left" >
											<div class="pros-title">PROS</div>
											<div class="procon-item">{{project?.pskc.pro_index}}</div>
											<div class="procon-item">{{project?.pskc.pro_index2}}</div>
											<div class="procon-item">{{project?.pskc.pro_index3}}</div> 
										</div>
									</div>
									<div class="col-lg-6 col-md-6">
										<div class="cons-div text-left">
											<div class="cons-title">CONS</div>
											<div class="procon-item">{{project?.pskc.con_index}}</div>
											<div class="procon-item">{{project?.pskc.con_index2}}</div>
											<div class="procon-item">{{project?.pskc.con_index3}}</div> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		  </div>
	  </div>
  </div>
