.angular-with-newlines{
	white-space: pre-wrap;
}
.executive-summary-div {
	margin-bottom: 10px;
	white-space: pre-wrap;
}
.procon-item {
	border-bottom: 1px dotted #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.progress-bar-div {
	max-width: 19.666667%;
	padding-left: 5px;
	padding-right: 5px;
	white-space: pre-wrap;
}

.pros-div, .cons-div {
	white-space: pre-wrap;
	background-color: #fff;
	padding: 10px;
	height: 263px;
}

.pros-title, .cons-title {
    margin-bottom: 10px;
    text-align: left; color:#8b79dd;
    font-weight: 700;
}

.content-div {
	padding: 0px 15px;
}

.company-insights {
	margin-top: 20px;
	margin-bottom: 15px;
}

.thumbs-up-logo {
	float: left;
	border: 1px solid #000;
	border-radius: 50%;
	padding: 4px 8px 7px 8px;
	font-size: 1.25rem;
	margin-right: 8px;
}

.company-insights h5 {
	padding-top: 5px;
}

.right_border{
border-right: 1px dotted silver;
}
.rating-div {
	white-space: pre-wrap;
	background-color: #fff;
	margin: 0 auto;
    line-height: 50px;
}
.rating-div .rating_star_color{
	color: #808080a3;
}
.progress-bar-div .knob{
	 height: 53px;
    width: 53px;
    background-color: white;
    border-radius: 100%;
    margin-bottom: 10px;
    border: 1px solid #d1d1d1;
    padding: 7px;
}
.progress-bar-div .knob_text{
	font-size: 10px;
	    padding: 4px 0px;
}
.progress-bar-div .knob_icon{
	font-size: 24px;
    color: #8a7adc;
}
.opinion_index{
	background-color: #e7e5e6;
}
.circled{
	 display: inline-block;
    width: 1.9em;
    height: 1.9em;
    padding-left: 0.1em;
    border: 0.1em solid;
    border-radius: 100%;
    box-sizing: border-box; 
    text-align: center;
}
.key_statistics_width{
    width: calc(100% + 10px);
    background-color: white;
    text-align: center;
}

.key_statistics{
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 16px;
}
.key_statistics_lable{
	color: red;
    margin-bottom: 5px;
}
.key_statistics_main{
	margin-top: 20px;
    margin-bottom: 5px;
}
.ceo_approval{
	background-color: white;
    margin-top: 10px;
    padding: 10px 7px;
    font-size: 11px;
}
.ptag{
	margin-bottom: 14px !important;
}
.fri_recommend{
	background-color: white;
    margin-top: 10px;
    padding: 10px 7px;
    font-size: 11px;
}

%flex-display {
    display: flex;
}
.star-rating {
    @extend %flex-display;
    align-items: center;
    font-size: 1em;
    justify-content: center;
}
.back-stars {
    @extend %flex-display;
    color: silver;
    position: relative;
    text-shadow: 4px 4px 10px silver;
    width: 50%;
    margin:0 auto;
}
.front-stars {
    @extend %flex-display;
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    text-shadow: 2px 2px 5px silver;
    top: 0;
    width: 85%;
}
.right_margin{
	    margin-right: 4px
}
.ovral_rating{
	font-size: 10px;
    color: #f5383c;
}
.rtng_criteria{
	font-size: 10px;
    color: silver;
}
.moodindex{
    height: 160px;
    background-color: #e7e5e6;
}
.mood_index .mi_circle {
    border:2px solid #8d7dde;
    height: 130px;
    border-radius: 50%;
}

.moodindex .mi_circle{
    font-size: 4rem;
    color: #00000047;
    margin: 10px 40px;
    border: 3px solid #9688e0;
    border-radius: 50%;
    background-color: white;
    width: 60%;
    height: calc(100% - 40px);
}
.moodindex_indicator{
    float: left;
    width: 19%;
    padding: 2px;
}
.widthcls{ flex: 0 0 19.666667%;
    max-width: 19.666667%;
    padding: 12px 20px;
}

.rates .ratesd.fr {
    width: 0px;
    color: #9688e0;
}
.purpleColor{
    color: #9688e0;
}
.dbk .rcs .rc .rc-val .rc-num, .dbk .rcs .rc .rc-val .rc-tail {
    display: block;
    transition: all 500ms ease;
}
.dbk .rcs .rc {
    width: 90px;
    margin: 3px 6px;
    height: 122px;
    display: inline-block;
    float: left;
    cursor: pointer;
}
@media screen and  (min-width: 768px) and (max-width: 1400px) {
    .moodindex .mi_circle{
        height: calc(100% - 55px);
        margin: 10px 23px;
    }

    .moodindex .mi_circle {
        width: 71%;
    }
}

.rting_criteria:hover .speech-bubble_vac { display: block;  }
 
.rting_criteria .speech-bubble_vac { 
    display: none;
    position: absolute;
    margin: auto;
    width: 200px !important;
    height: auto;
    padding: 5px;
    position: absolute;
    margin-left: -50px;
    margin-right: auto;
    margin-top: -76px;
    font-size: 10px;
}
.speech-bubble_vac:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #8b79dd;
    border-bottom: 0;
    margin-left: -6px;
    margin-bottom: -6px;
}

#speedometer {
  display: inline-block;
  position: relative;
}

#speedometer .barometer {
  /*background-image: url("https://svgshare.com/i/GAZ.svg");*/
    background-repeat: no-repeat;
    background-size: 98%;
    background-color: #e5dede;
    background-position: top;
    width: 110px;
    height: 110px;
    margin-bottom: -10px;
    display: inline-block;
    border-radius: 51%;
    border: 8px solid #e5dede;
}
.orvalues{
    position: absolute;
    bottom: -21px;
    left: 41px;
    background-color: darkgray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px 0px;
}
#speedometer .needle {
  background-image: url("https://svgshare.com/i/GBP.svg");
  background-repeat: no-repeat;
  z-index: 999999;
  width: 110px;
  height: 110px;
  display: inline-block;
  left: 0px;
  top: 17px;
  position: absolute;
  bottom: 5px;
  animation:
  changeanim 5s linear,
    loopanim 1s linear 5s infinite alternate;
  transform-origin:50% calc(56% - 8px) ;
}

@keyframes changeanim {
  0% {
    transform:rotate(-45deg);
  }
  50% {
    transform:rotate(-40deg);
  }
  70% {
    transform:rotate(-35deg);
  }
  100% {
    transform:rotate(-30deg);
  }
}
@keyframes loopanim {
  0% {
    transform:rotate(-25deg);
  }
  100% {
    transform:rotate(-30deg);
  }
}

iframe {
    scroll-behavior: smooth;
    border: none;
}

.cardheader {
    color: #fff;
}

/*Mobile View*/

@media screen and  (min-width: 360px) and (max-width: 480px) {
    .rcs-mobile{
        min-height: 250px !important;
    }
    .adpt-mobile{
        margin-top: 20px !important;
    }
    .widthcls{ flex: 0 0 19.666667%;
    max-width: 55.666667%;
    padding: 7px 10px;
}
.mood_index .mi_circle {
    border:2px solid #8d7dde;
    height: 140px !important;
    border-radius: 50%;
}

.moodindex .mi_circle{
    font-size: 3rem;
    color: #00000047;
    margin: 10px 0px;
    border: 3px solid #9688e0;
    border-radius: 50%;
    background-color: white;
    width: 85px;
    height: 85px;
}
.moodindex{
    height: 150px;
    width: 92px;
    background-color: #e7e5e6;
}

.widthcls:nth-child(4){
    margin-left: 60px;
}
 .dbk .rcs .rc {
    width: 92px !important;
    }

}

/*Responsive Mode*/

@media screen and  (min-width: 320px) and (max-width: 359px) {
  .dbk .rcs .rc {
    width: 82px !important;
    margin: auto 5px;
    height: 130px;
    display: inline-block;
    float: left;
    cursor: pointer;
}
   .widthcls{ flex: 0 0 19.666667%;
    max-width: 32.666667%;
    padding: 7px 13px;
}
.mood_index .mi_circle {
    border:2px solid #8d7dde;
    height: 140px !important;
    border-radius: 50%;
}

.moodindex .mi_circle{
    font-size: 3rem;
    color: #00000047;
    margin: 10px 0px;
    border: 3px solid #9688e0;
    border-radius: 50%;
    background-color: white;
    width: 85px;
    height: 85px;
}
.moodindex{
    height: 150px;
    width: 92px;
    background-color: #e7e5e6;
}

.widthcls:nth-child(4){
    margin-left: 50px;
}
.dbk .rcs {
    height: 250px;
}

}

/*Tablet Mode*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     .dbk .rcs .rc {
    width: 65px !important;
    
}
.widthcls{ flex: 0 0 19.666667%;
    max-width: 32.666667%;
    padding: 7px 13px;
}
.mood_index .mi_circle {
    border:2px solid #8d7dde;
    height: 140px !important;
    border-radius: 50%;
}

.moodindex .mi_circle{
    font-size: 3rem;
    color: #00000047;
    margin: 10px 0px;
    border: 3px solid #9688e0;
    border-radius: 50%;
    background-color: white;
    width: 85px;
    height: 85px;
}
.moodindex{
    height: 150px;
    width: 92px;
    background-color: #e7e5e6;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
     .dbk .rcs .rc {
    width: 65px !important;

}
.widthcls{ flex: 0 0 19.666667%;
    max-width: 32.666667%;
    padding: 7px 13px;
}
.mood_index .mi_circle {
    border:2px solid #8d7dde;
    height: 140px !important;
    border-radius: 50%;
}

.moodindex .mi_circle{
    font-size: 3rem;
    color: #00000047;
    margin: 10px 0px;
    border: 3px solid #9688e0;
    border-radius: 50%;
    background-color: white;
    width: 85px;
    height: 85px;
}
.moodindex{
    height: 150px;
    width: 92px;
    background-color: #e7e5e6;
}

}

/*Tablet Pro Mode*/
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
     .dbk .rcs .rc {
    width: 60px !important;
    
}
.widthcls{ flex: 0 0 19.666667%;
    max-width: 32.666667%;
    padding: 7px 13px;
}
.mood_index .mi_circle {
    border:2px solid #8d7dde;
    height: 140px !important;
    border-radius: 50%;
}

.moodindex .mi_circle{
    font-size: 3rem;
    color: #00000047;
    margin: 10px 0px;
    border: 3px solid #9688e0;
    border-radius: 50%;
    background-color: white;
    width: 85px;
    height: 85px;
}
.moodindex{
    height: 150px;
    width: 92px;
    background-color: #e7e5e6;
}
}
