<div class="dbk {{project?.project_variation_type}}">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="dbk-box">
				<p>A strategic assessment of organisational culture based on the value assigned to six key characteristics of high-performance organisations: social contribution, fitness, finance, external stakeholder relations, evolution and team dynamics.</p>
				<div class="dbkb-head">
					<h6 class="dbkb-title">EXECUTIVE SUMMARY</h6>
				</div>
				<div class="dbkb-body">
					<p  [innerHTML]="project?.bns.executiveSummary" style="text-align: left"></p>
				</div>
			</div>
		</div> 
	</div>
	<div class="row"  style="margin-top: -20px; margin-bottom: 10px"> 
		<div class="col-lg-12 col-md-12">
			<ul class="nav nav-pills float-right">
				<li class="nav-item">
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEmp'}" (click)="switchView('bnsEmp')">Entity A</a>
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type !== 'InGenome'"  [ngClass]="{'active': currentView === 'bnsEmp'}" (click)="switchView('bnsEmp')">Employee</a>

				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type === 'InGenome'" [ngClass]="{'active': currentView === 'bnsCust'}" (click)="switchView('bnsCust')">Entity B</a>
					<a class="nav-link btn btn-sm" *ngIf = "project?.project_variation_type !== 'InGenome'" [ngClass]="{'active': currentView === 'bnsCust'}" (click)="switchView('bnsCust')">Customers</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right dotted">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>OVERALL RATING</h6>
						</div>
						<div class="dbkb-body">
							<div class="orater">
								<div class="speech-bubble">The Indicator is a function of CCQ and financial forecasts of the business. This provides the revenue loss in $.</div>
								<div class="ratediv">
									<div class="rates">
										<!-- <div class="op-value">{{project?.bns.opinion_index}}</div> -->
										<div class="op-value"><span *ngIf="countUpView == true" [CountTo]="countUpOpinionIndex" [from]="0" [duration]="10"></span>Mn</div>
									</div>
								</div>
								<div class="ratelbl mbl-font"><span>$ VALUE OF ENTROPY</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12" >
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'signal']"></fa-icon>KEY STATISTICS</h6>
						</div>
						<div class="dbkb-body">

							<div class="row">
								<div class="col-lg-12 col-md-12" >
									<div class="ceo_approval-bns">
										<p class="ptag pth">Biggest Desired Value</p>
										<div class="pbitm">Innovation</div>
										<div class="pbitm">Trust</div>
										<div class="pbitm">Transparency</div>
										<div class="pbitm">Honesty</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="row" style="margin-bottom: 10px;">
				<div class="col-12">
					<div class="dbk-box">
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'asterisk']"></fa-icon>RATING CRITERIA</h6>
						</div>
						<div class="dbkb-body">
							<div class="rcs"> 
								<div class="rc" *ngFor="let rc of rcs" [ngClass]="{'red': project?.bns[rc.prop] < 2, 'yellow':  project?.bns[rc.prop] >= 2 && project?.bns[rc.prop] < 4, 'green':  project?.bns[rc.prop] >= 4}" >
									<div class="rc-val"><div class="rc-num">{{project?.bns[rc.prop]}}</div><div class="rc-tail"><fa-icon [icon]="['fas', 'circle']"></fa-icon></div></div>
									<div class="rc-case" >
										<div class="rc-icon"><fa-icon [icon]="['fas', rc.icon]" [style.color]="rc.color"></fa-icon></div>
										<div class="ldBar {{rc.code}}" id="{{rc.code}}" data-preset="circle" ></div>
										<!--div class="kprogress-bar {{rc.code}}" data-percent="0" [ngClass]="{'red': project?.bns[rc.prop] < 3, 'yellow':  project?.bns[rc.prop] > 3 && project?.bns[rc.prop] < 6, 'green':  project?.bns[rc.prop] >= 6}">
											<div class="background"></div><div class="rotate"></div><div class="left"></div><div class="right"></div><div class=""><span class="rc-icon"><fa-icon [icon]="['fas', rc.icon]"></fa-icon></span></div>
										</div-->	
									</div>
									<div class="rc-label">{{rc.label}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="dbk-box" >
						<div class="dbkb-head">
							<h6 class="dbkb-title"><fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>COMPANY INSIGHTS</h6>
						</div>
						<div class="dbkb-body"   [hidden]="currentView === 'bnsCust'">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12 mt-1">
									<div class="bnstabset">
										<div class="bnstabs">
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'ctd'}" (click)="switchBnsTab('ctd')"><div class="tail"></div>Current Team Dynamics</a>
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'dtd'}" (click)="switchBnsTab('dtd')"><div class="tail"></div>Desired Team Dynamics</a>
										</div>
										<div class="bnstcontents">
											<div class="bnstcontent" [hidden]="bnsTab === 'dtd'">
												<div class="bnspie" id="ctd_chart"></div>
											</div>
											<div class="bnstcontent" [hidden]="bnsTab === 'ctd'">
												<div class="bnspie" id="dtd_chart"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12 mt-1"> 
									<div class="cons-div">
										<div class="row" style="flex-wrap: nowrap;margin-top: 196px;position: absolute;font-size: 8px;width: 91%;white-space: pre-line;border-bottom: 1px solid silver;margin-left:0px;">
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color: #4a8bc5;padding-left: 0px;">Finance</div>
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 0px;">Fitness</div>	
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 0px;">External Stakeholder Relations</div>	
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 0px;">Evaluation</div>	
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 5px;">Team dynamics</div>	 
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 5px;">Social Contribution</div>	
										</div>
										<!-- <div class="row" style="flex-wrap: nowrap;margin-top: 160px;position: absolute;font-size: 8px;width:91%;white-space: pre-line;border-bottom: 1px solid silver;margin-left:0px;">
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-right: 0px;padding-left: 0px;"></div>
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Continue Improvement Adaptability</div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Respect</div>	 
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
										</div>
										<div class="row" style="flex-wrap: nowrap;margin-top: 198px;position: absolute;font-size: 8px;width: 91%;white-space: pre-line;border-bottom: 1px solid silver;margin-left:0px;">
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Innovation</div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Trust</div>	 
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Transparancy, Honesty</div>	
										</div> -->
										<div class="bnsbarchart" id="bnsbarchart1" >

										</div>

									</div>
								</div>
								<div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;color: black;">
									Adapted from BVC reports.
								</div>
							</div>
						</div>
						<div class="dbkb-body"   [hidden]="currentView === 'bnsEmp'">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12 mt-1">
									<div class="bnstabset">
										<div class="bnstabs">
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'ctd1'}" (click)="switchBnsTab1('ctd1')"><div class="tail"></div>Current Team Dynamics</a>
											<a class="bnstab" [ngClass]="{'active': bnsTab === 'dtd1'}" (click)="switchBnsTab1('dtd1')"><div class="tail"></div>Desired Team Dynamics</a>
										</div>
										<div class="bnstcontents">
											<div class="bnstcontent" [hidden]="bnsTab === 'dtd1'">
												<div class="bnspie" id="ctd1_chart1"></div>
											</div>
											<div class="bnstcontent" [hidden]="bnsTab === 'ctd1'">
												<div class="bnspie" id="dtd1_chart1"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12 mt-1"> 
									<div class="cons-div">
										<div class="row" style="flex-wrap: nowrap;margin-top: 196px;position: absolute;font-size: 8px;width: 91%;white-space: pre-line;border-bottom: 1px solid silver;margin-left:0px;">
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color: #4a8bc5;padding-left: 0px;">Finance</div>
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 0px;">Fitness</div>	
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 0px;">External Stakeholder Relations</div>	
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 0px;">Evaluation</div>	
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 5px;">Team dynamics</div>	 
											<div class="col-2 col-md-2 col-lg-2" style="padding-right: 0px;color:  #4a8bc5;padding-left: 5px;">Social  Contribution</div>	
										</div>
										<!-- <div class="row" style="flex-wrap: nowrap;margin-top: 160px;position: absolute;font-size: 8px;width:91%;white-space: pre-line;border-bottom: 1px solid silver;margin-left:0px;">
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-right: 0px;padding-left: 0px;"></div>
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Continue Improvement Adaptability</div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Respect</div>	 
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
										</div>
										<div class="row" style="flex-wrap: nowrap;margin-top: 198px;position: absolute;font-size: 8px;width: 91%;white-space: pre-line;border-bottom: 1px solid silver;margin-left:0px;">
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px"></div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Innovation</div>	
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Trust</div>	 
											<div class="col-2 col-md-2 col-lg-2 border-right" style="padding-left: 0px;padding-right: 0px">Transparancy, Honesty</div>	
										</div> -->
										<div class="bnsbarchart" id="bnsbarchart2" >

										</div>

									</div>
								</div>
								<div class="inpg-fnote float-right col-12 text-right" style="font-size: 12px;color: black;">
									Adapted from BVC reports.
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
